{
  "swagger": "2.0",
  "info": {
    "version": "v2.1",
    "title": "Azure Cognitive Service for Language",
    "description": "Azure Cognitive Service for Language, previously known as 'Text Analytics' connector detects language, sentiment and more of the text you provide.",
    "contact": {
      "name": "Microsoft",
      "url": "https://gallery.cortanaanalytics.com/MachineLearningAPI/Text-Analytics-2",
      "email": "mlapi@microsoft.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "westus.api.cognitive.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/text/analytics/v2.1/keyPhrases": {
      "post": {
        "tags": [
          "Key Phrases"
        ],
        "summary": "Key Phrases (V2)",
        "description": "Returns a list of strings denoting the key talking points in the input text for each document.",
        "operationId": "KeyPhrasesV3",
        "parameters": [
          {
            "name": "input",
            "in": "body",
            "x-ms-summary": "Documents",
            "description": "The documents to analyze. Documents can contain a language field to indicate the text language.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MultiLanguageInputs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyPhraseResults"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-safe-operation": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "KeyPhrases",
          "revision": 3
        }
      }
    },
    "/v2/text/analytics/v2.1/languages": {
      "post": {
        "tags": [
          "Detect Language"
        ],
        "summary": "Detect Language (V2)",
        "description": "Returns the detected language and a numeric score between 0 and 1 for each document. Scores close to 1 indicate 100% certainty that the identified language is true. A total of 120 languages are supported.",
        "operationId": "DetectLanguageV3",
        "parameters": [
          {
            "name": "input",
            "in": "body",
            "x-ms-summary": "Documents",
            "description": "The documents to analyze.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LanguageInputs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LanguageResults"
            }
          }
        },
        "deprecated": true,
        "x-ms-safe-operation": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DetectLanguage",
          "revision": 3
        }
      }
    },
    "/v2/text/analytics/v2.1/sentiment": {
      "post": {
        "tags": [
          "Sentiment"
        ],
        "summary": "Detect Sentiment (V2)",
        "description": "Returns a numeric score between 0 and 1 for each document. Scores close to 1 indicate positive sentiment, while scores close to 0 indicate negative sentiment. ",
        "operationId": "DetectSentimentV3",
        "parameters": [
          {
            "name": "input",
            "in": "body",
            "x-ms-summary": "Documents",
            "description": "The documents to analyze.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MultiLanguageInputs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SentimentResults"
            }
          }
        },
        "deprecated": true,
        "x-ms-safe-operation": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DetectSentiment",
          "revision": 3
        }
      }
    },
    "/v2/text/analytics/v2.1/entities": {
      "post": {
        "tags": [
          "Entities"
        ],
        "summary": "Detect Entities (V2)",
        "description": "Returns a list of known entities and general named entities (\"Person\", \"Location\", \"Organization\" etc) in a given document.",
        "operationId": "DetectEntitiesV2",
        "parameters": [
          {
            "name": "input",
            "in": "body",
            "x-ms-summary": "Documents",
            "description": "The documents to analyze.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MultiLanguageInputs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntitiesResults"
            }
          }
        },
        "deprecated": true,
        "x-ms-safe-operation": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DetectEntities",
          "revision": 2
        }
      }
    },
    "/text/analytics/v3.0/entities/recognition/general": {
      "post": {
        "summary": "Named Entity Recognition (V3.0)",
        "description": "The API returns a list of general named entities in a given document. For the list of supported entity types, check <a href=\"https://aka.ms/taner\">Supported Named Entity Recognition (NER) entity categories</a>.",
        "operationId": "EntitiesRecognitionGeneralV3",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model-version",
            "in": "query",
            "x-ms-summary": "Model Version",
            "description": "(Optional) This value indicates which model will be used for scoring. If a model-version is not specified, the API should default to the latest, non-preview version. ",
            "required": false,
            "type": "string"
          },
          {
            "name": "showStats",
            "in": "query",
            "x-ms-summary": "Show Statistics",
            "description": "(Optional) if set to true, response will contain input and document level statistics.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "body",
            "name": "input",
            "x-ms-summary": "Documents",
            "description": "Collection of documents to analyze.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MultiLanguageBatchInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call results in a list of recognized entities returned for each valid document.",
            "schema": {
              "$ref": "#/definitions/EntitiesResultV3"
            }
          }
        },
        "deprecated": false,
        "x-ms-safe-operation": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DetectEntities",
          "revision": 3
        }
      }
    },
    "/text/analytics/v3.0/entities/linking": {
      "post": {
        "summary": "Entity Linking (V3.0)",
        "description": "The API returns a list of recognized entities with links to a well-known knowledge base. See the <a href=\"https://aka.ms/talinking\">language support</a> for the list of supported languages.",
        "operationId": "EntitiesLinkingV3",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model-version",
            "in": "query",
            "x-ms-summary": "Model Version",
            "description": "(Optional) This value indicates which model will be used for scoring. If a model-version is not specified, the API should default to the latest, non-preview version. ",
            "type": "string"
          },
          {
            "name": "showStats",
            "in": "query",
            "x-ms-summary": "Show Statistics",
            "description": "(Optional) if set to true, response will contain input and document level statistics.",
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "input",
            "x-ms-summary": "Documents",
            "description": "Collection of documents to analyze.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MultiLanguageBatchInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call results in a list of recognized entities with links to a well-known knowledge base returned for each valid document",
            "schema": {
              "$ref": "#/definitions/EntityLinkingResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-safe-operation": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DetectLinkedEntities",
          "revision": 1
        }
      }
    },
    "/text/analytics/v3.0/keyPhrases": {
      "post": {
        "summary": "Key Phrases (V3.0)",
        "description": "The API returns a list of strings denoting the key phrases in the input text. See the <a href=\"https://aka.ms/takeyphrases\">Language support for Key Phrase Extraction</a> for the list of supported languages.",
        "operationId": "KeyPhraseV3",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model-version",
            "in": "query",
            "x-ms-summary": "Model Version",
            "description": "(Optional) This value indicates which model will be used for scoring. If a model-version is not specified, the API should default to the latest, non-preview version. ",
            "type": "string"
          },
          {
            "name": "showStats",
            "in": "query",
            "x-ms-summary": "Show Statistics",
            "description": "(Optional) if set to true, response will contain input and document level statistics.",
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "input",
            "x-ms-summary": "Documents",
            "description": "Collection of documents to analyze. Documents can now contain a language field to indicate the text language",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MultiLanguageBatchInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response results in 0 or more key phrases identified in each valid document",
            "schema": {
              "$ref": "#/definitions/KeyPhraseResultV3"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "KeyPhrases",
          "revision": 4
        }
      }
    },
    "/text/analytics/v3.0/languages": {
      "post": {
        "summary": "Detect Language (V3.0)",
        "description": "The API returns the detected language and a numeric score between 0 and 1. Scores close to 1 indicate 100% certainty that the identified language is true. See the <a href=\"https://aka.ms/tadetectlanguage\">Language support for Language Detection</a> for the list of supported languages.",
        "operationId": "LanguagesV3",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model-version",
            "in": "query",
            "x-ms-summary": "Model Version",
            "description": "(Optional) This value indicates which model will be used for scoring. If a model-version is not specified, the API should default to the latest, non-preview version. ",
            "type": "string"
          },
          {
            "name": "showStats",
            "in": "query",
            "x-ms-summary": "Show Statistics",
            "description": "(Optional) if set to true, response will contain input and document level statistics.",
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "input",
            "description": "Collection of documents to analyze.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LanguageBatchInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call results in the detected language with the highest probability for each valid document",
            "schema": {
              "$ref": "#/definitions/LanguageResultV3"
            }
          }
        },
        "deprecated": false,
        "x-ms-safe-operation": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DetectLanguage",
          "revision": 4
        }
      }
    },
    "/text/analytics/v3.0/sentiment": {
      "post": {
        "summary": "Sentiment (V3.0)",
        "description": "The API returns a sentiment prediction, as well as sentiment scores for each sentiment class (Positive, Negative, and Neutral) for the document and each sentence within it. See the <a href=\"https://aka.ms/tasentiment\">Sentiment Analysis and Opinion Mining language support</a> for the list of supported languages.",
        "operationId": "SentimentV3",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model-version",
            "in": "query",
            "x-ms-summary": "Model Version",
            "description": "(Optional) This value indicates which model will be used for scoring. If a model-version is not specified, the API should default to the latest, non-preview version. ",
            "type": "string"
          },
          {
            "name": "showStats",
            "in": "query",
            "x-ms-summary": "Show Statistics",
            "description": "(Optional) if set to true, response will contain input and document level statistics.",
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "input",
            "x-ms-summary": "Documents",
            "description": "Collection of documents to analyze.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MultiLanguageBatchInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call results in a document sentiment prediction, as well as sentiment scores for each sentiment class (Positive, Negative, and Neutral)",
            "schema": {
              "$ref": "#/definitions/SentimentResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-safe-operation": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DetectSentiment",
          "revision": 4
        }
      }
    },
    "/v4/subdomain/{subdomain}/text/analytics/v3.1/entities/recognition/general": {
      "post": {
        "summary": "Named Entity Recognition (V4)",
        "description": "The API returns a list of general named entities in a given document. For the list of supported entity types, check <a href=\"https://aka.ms/taner\">Supported Named Entity Recognition (NER) entity categories</a>.",
        "operationId": "EntitiesRecognitionGeneralV4",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subdomain",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/ModelVersion"
          },
          {
            "$ref": "#/parameters/ShowStats"
          },
          {
            "$ref": "#/parameters/LoggingOptOut"
          },
          {
            "$ref": "#/parameters/StringIndexType"
          },
          {
            "$ref": "#/parameters/MultiLanguageInput"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call results in a list of recognized entities returned for each valid document.",
            "schema": {
              "$ref": "#/definitions/EntitiesResult"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-safe-operation": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DetectEntities",
          "revision": 5
        }
      }
    },
    "/text/analytics/v3.1/entities/recognition/general": {
      "post": {
        "summary": "Named Entity Recognition (V3.1)",
        "description": "The API returns a list of general named entities in a given document. For the list of supported entity types, check <a href=\"https://aka.ms/taner\">Supported Named Entity Recognition (NER) entity categories</a>.",
        "operationId": "EntitiesRecognitionGeneralV3_1",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ModelVersion"
          },
          {
            "$ref": "#/parameters/ShowStats"
          },
          {
            "$ref": "#/parameters/LoggingOptOut"
          },
          {
            "$ref": "#/parameters/StringIndexType"
          },
          {
            "$ref": "#/parameters/MultiLanguageInput"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call results in a list of recognized entities returned for each valid document.",
            "schema": {
              "$ref": "#/definitions/EntitiesResult"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-safe-operation": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DetectEntities",
          "revision": 4
        }
      }
    },
    "/v4/subdomain/{subdomain}/text/analytics/v3.1/entities/recognition/pii": {
      "post": {
        "summary": "Detect Personal Information (V4)",
        "description": "The API returns a list of entities with personal information (\\\"SSN\\\", \\\"Bank Account\\\" etc) in the document. For the list of supported entity types, check <a href=\"https://aka.ms/tapii\">Supported Personally Identifiable Information (PII) entity categories</a>. See the <a href=\"https://aka.ms/talangs\">Supported languages in Azure Cognitive Service for Language</a> for the list of supported languages.",
        "operationId": "EntitiesRecognitionPIIV4",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subdomain",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/ModelVersion"
          },
          {
            "$ref": "#/parameters/ShowStats"
          },
          {
            "$ref": "#/parameters/LoggingOptOut"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "(Optional) if specified, will set the PII domain to include only a subset of the entity categories. Possible values include: 'PHI', 'none'.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/StringIndexType"
          },
          {
            "$ref": "#/parameters/PiiCategories"
          },
          {
            "$ref": "#/parameters/MultiLanguageInput"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call results in a list of entities containing personal information returned for each valid document",
            "schema": {
              "$ref": "#/definitions/PiiResult"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Preview"
        }
      }
    },
    "/text/analytics/v3.1/entities/recognition/pii": {
      "post": {
        "summary": "Detect Personal Information (V3.1)",
        "description": "The API returns a list of entities with personal information (\\\"SSN\\\", \\\"Bank Account\\\" etc) in the document. For the list of supported entity types, check <a href=\"https://aka.ms/tapii\">Supported Personally Identifiable Information (PII) entity categories</a>. See the <a href=\"https://aka.ms/talangs\">Supported languages in Azure Cognitive Service for Language</a> for the list of supported languages.",
        "operationId": "EntitiesRecognitionPIIV3_1",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ModelVersion"
          },
          {
            "$ref": "#/parameters/ShowStats"
          },
          {
            "$ref": "#/parameters/LoggingOptOut"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "(Optional) if specified, will set the PII domain to include only a subset of the entity categories. Possible values include: 'PHI', 'none'.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/StringIndexType"
          },
          {
            "$ref": "#/parameters/PiiCategories"
          },
          {
            "$ref": "#/parameters/MultiLanguageInput"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call results in a list of entities containing personal information returned for each valid document",
            "schema": {
              "$ref": "#/definitions/PiiResult"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v4/subdomain/{subdomain}/text/analytics/v3.1/entities/linking": {
      "post": {
        "summary": "Entity Linking (V4)",
        "description": "The API returns a list of recognized entities with links to a well known knowledge base. See the <a href=\"https://aka.ms/talinking\">language support</a> for the list of supported languages.",
        "operationId": "EntitiesLinkingV4",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subdomain",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/ModelVersion"
          },
          {
            "$ref": "#/parameters/ShowStats"
          },
          {
            "$ref": "#/parameters/LoggingOptOut"
          },
          {
            "$ref": "#/parameters/StringIndexType"
          },
          {
            "$ref": "#/parameters/MultiLanguageInput"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call results in a list of recognized entities with links to a well known knowledge base returned for each valid document",
            "schema": {
              "$ref": "#/definitions/EntityLinkingResult"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-safe-operation": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DetectLinkedEntities",
          "revision": 3
        }
      }
    },
    "/text/analytics/v3.1/entities/linking": {
      "post": {
        "summary": "Entity Linking (V3.1)",
        "description": "The API returns a list of recognized entities with links to a well known knowledge base. See the <a href=\"https://aka.ms/talinking\">language support</a> for the list of supported languages.",
        "operationId": "EntitiesLinkingV3_1",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ModelVersion"
          },
          {
            "$ref": "#/parameters/ShowStats"
          },
          {
            "$ref": "#/parameters/LoggingOptOut"
          },
          {
            "$ref": "#/parameters/StringIndexType"
          },
          {
            "$ref": "#/parameters/MultiLanguageInput"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call results in a list of recognized entities with links to a well known knowledge base returned for each valid document",
            "schema": {
              "$ref": "#/definitions/EntityLinkingResult"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-safe-operation": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DetectLinkedEntities",
          "revision": 2
        }
      }
    },
    "/v4/subdomain/{subdomain}/text/analytics/v3.1/keyPhrases": {
      "post": {
        "summary": "Key Phrases (V4)",
        "description": "The API returns a list of strings denoting the key phrases in the input text. See the <a href=\"https://aka.ms/takeyphrases\">Language support for Key Phrase Extraction</a> for the list of supported languages.",
        "operationId": "KeyPhraseV4",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subdomain",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/ModelVersion"
          },
          {
            "$ref": "#/parameters/ShowStats"
          },
          {
            "$ref": "#/parameters/LoggingOptOut"
          },
          {
            "$ref": "#/parameters/MultiLanguageInput"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response results in 0 or more key phrases identified in each valid document",
            "schema": {
              "$ref": "#/definitions/KeyPhraseResult"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "KeyPhrases",
          "revision": 6
        }
      }
    },
    "/text/analytics/v3.1/keyPhrases": {
      "post": {
        "summary": "Key Phrases (V3.1)",
        "description": "The API returns a list of strings denoting the key phrases in the input text. See the <a href=\"https://aka.ms/takeyphrases\">Language support for Key Phrase Extraction</a> for the list of supported languages.",
        "operationId": "KeyPhraseV3_1",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ModelVersion"
          },
          {
            "$ref": "#/parameters/ShowStats"
          },
          {
            "$ref": "#/parameters/LoggingOptOut"
          },
          {
            "$ref": "#/parameters/MultiLanguageInput"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response results in 0 or more key phrases identified in each valid document",
            "schema": {
              "$ref": "#/definitions/KeyPhraseResult"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "KeyPhrases",
          "revision": 5
        }
      }
    },
    "/v4/subdomain/{subdomain}/text/analytics/v3.1/languages": {
      "post": {
        "summary": "Detect Language (V4)",
        "description": "The API returns the detected language and a numeric score between 0 and 1. Scores close to 1 indicate 100% certainty that the identified language is true. See the <a href=\"https://aka.ms/tadetectlanguage\">Language support for Language Detection</a> for the list of supported languages.",
        "operationId": "LanguagesV4",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subdomain",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/ModelVersion"
          },
          {
            "$ref": "#/parameters/ShowStats"
          },
          {
            "$ref": "#/parameters/LoggingOptOut"
          },
          {
            "$ref": "#/parameters/LanguageInput"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call results in the detected language with the highest probability for each valid document",
            "schema": {
              "$ref": "#/definitions/LanguageResult"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-safe-operation": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DetectLanguage",
          "revision": 6
        }
      }
    },
    "/text/analytics/v3.1/languages": {
      "post": {
        "summary": "Detect Language (V3.1)",
        "description": "The API returns the detected language and a numeric score between 0 and 1. Scores close to 1 indicate 100% certainty that the identified language is true. See the <a href=\"https://aka.ms/tadetectlanguage\">Language support for Language Detection</a> for the list of supported languages.",
        "operationId": "LanguagesV3_1",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ModelVersion"
          },
          {
            "$ref": "#/parameters/ShowStats"
          },
          {
            "$ref": "#/parameters/LoggingOptOut"
          },
          {
            "$ref": "#/parameters/LanguageInput"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call results in the detected language with the highest probability for each valid document",
            "schema": {
              "$ref": "#/definitions/LanguageResult"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-safe-operation": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DetectLanguage",
          "revision": 5
        }
      }
    },
    "/v4/subdomain/{subdomain}/text/analytics/v3.1/sentiment": {
      "post": {
        "summary": "Sentiment (V4)",
        "description": "The API returns a detailed sentiment analysis for the input text. The analysis is done in multiple levels of granularity, start from the a document level, down to sentence and key terms (targets and assessments).",
        "operationId": "SentimentV4",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subdomain",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/ModelVersion"
          },
          {
            "$ref": "#/parameters/ShowStats"
          },
          {
            "$ref": "#/parameters/LoggingOptOut"
          },
          {
            "name": "opinionMining",
            "in": "query",
            "description": "(Optional) if set to true, response will contain not only sentiment prediction but also opinion mining (aspect-based sentiment analysis) results.",
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/StringIndexType"
          },
          {
            "$ref": "#/parameters/MultiLanguageInput"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call results in a document sentiment prediction, as well as sentiment scores for each sentiment class (Positive, Negative, and Neutral)",
            "schema": {
              "$ref": "#/definitions/SentimentResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-safe-operation": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DetectSentiment",
          "revision": 6
        }
      }
    },
    "/text/analytics/v3.1/sentiment": {
      "post": {
        "summary": "Sentiment (V3.1)",
        "description": "The API returns a detailed sentiment analysis for the input text. The analysis is done in multiple levels of granularity, start from the a document level, down to sentence and key terms (targets and assessments).",
        "operationId": "SentimentV3_1",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ModelVersion"
          },
          {
            "$ref": "#/parameters/ShowStats"
          },
          {
            "$ref": "#/parameters/LoggingOptOut"
          },
          {
            "name": "opinionMining",
            "in": "query",
            "description": "(Optional) if set to true, response will contain not only sentiment prediction but also opinion mining (aspect-based sentiment analysis) results.",
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/StringIndexType"
          },
          {
            "$ref": "#/parameters/MultiLanguageInput"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call results in a document sentiment prediction, as well as sentiment scores for each sentiment class (Positive, Negative, and Neutral)",
            "schema": {
              "$ref": "#/definitions/SentimentResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-safe-operation": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DetectSentiment",
          "revision": 5
        }
      }
    },
    "/subdomain": {
      "get": {
        "summary": "Get the subdomain of the connection",
        "description": "Get the subdomain of the connection",
        "operationId": "GetSubdomain",
        "parameters": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubdomainList"
            }
          },
          "default": {
            "description": "Operation failed"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/language/:analyze-conversations": {
      "post": {
        "operationId": "ConversationAnalysis_AnalyzeConversation_Conversation",
        "description": "Analyzes the input conversation utterance.",
        "summary": "Conversations (CLU) (2022-05-01)",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "description": "A single conversational task to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ConversationalTask"
            },
            "required": true
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The conversation analysis response.",
            "schema": {
              "$ref": "#/definitions/ConversationalTaskResult"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "The error code for specific error that occurred.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/language/:analyze-conversations/": {
      "post": {
        "operationId": "ConversationAnalysis_AnalyzeConversation_Orchestration",
        "description": "Analyzes the input conversation utterance.",
        "summary": "Conversations (Orchestration) (2022-05-01)",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "description": "A single conversational task to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ConversationalTask_Orchestration"
            },
            "required": true
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The conversation analysis response.",
            "schema": {
              "$ref": "#/definitions/ConversationalTaskResult_Orchestration"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "The error code for specific error that occurred.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "language/analyze-conversations/jobs": {
      "post": {
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "description": "Submit a collection of conversations for analysis. Specify one or more unique tasks to be executed.",
        "operationId": "AnalyzeConversationTranscript_SubmitJob",
        "summary": "Async Conversation PII (transcript) (2022-05-15-preview)",
        "parameters": [
          {
            "$ref": "#/parameters/ConversationalApiVersionParameter"
          },
          {
            "description": "The collection of conversations to analyze and one or more tasks to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/TranscriptJobsInput"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/ConversationalPIITranscriptJobState"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the analysis job.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "language/analyze-conversations/jobs/{jobId}": {
      "get": {
        "x-ms-visibility": "internal",
        "produces": [ "application/json" ],
        "description": "Get the status of an analysis job. A job may consist of one or more tasks. Once all tasks are succeeded, the job will transition to the succeeded state and results will be available for each task.",
        "operationId": "AnalyzeConversationTranscript_JobStatus",
        "summary": "Get analysis status and results",
        "parameters": [
          {
            "$ref": "#/parameters/ConversationalApiVersionParameter"
          },
          {
            "$ref": "#/parameters/JobId"
          },
          {
            "$ref": "#/parameters/ShowStats"
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/ConversationalPIITranscriptJobState"
            }
          },
          "default": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "language/analyze-conversations/jobs/": {
      "post": {
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "description": "Submit a collection of conversations for analysis. Specify one or more unique tasks to be executed.",
        "operationId": "AnalyzeConversationText_SubmitJob",
        "summary": "Async Conversation PII (text) (2022-05-15-preview)",
        "parameters": [
          {
            "$ref": "#/parameters/ConversationalApiVersionParameter"
          },
          {
            "description": "The collection of conversations to analyze and one or more tasks to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/TextJobsInput"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/ConversationalPIITextJobState"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the analysis job.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "language/analyze-conversations/jobs/{jobId}/": {
      "get": {
        "x-ms-visibility": "internal",
        "produces": [ "application/json" ],
        "description": "Get the status of an analysis job. A job may consist of one or more tasks. Once all tasks are succeeded, the job will transition to the succeeded state and results will be available for each task.",
        "operationId": "AnalyzeConversationText_JobStatus",
        "summary": "Get analysis status and results",
        "parameters": [
          {
            "$ref": "#/parameters/ConversationalApiVersionParameter"
          },
          {
            "$ref": "#/parameters/JobId"
          },
          {
            "$ref": "#/parameters/ShowStats"
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/ConversationalPIITextJobState"
            }
          },
          "default": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "language/analyze-conversations/jobs//": {
      "post": {
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "description": "Submit a collection of conversations for analysis. Specify one or more unique tasks to be executed.",
        "operationId": "AnalyzeConversationSummarization_SubmitJob",
        "summary": "Async Conversation Summarization (2022-05-15-preview)",
        "parameters": [
          {
            "$ref": "#/parameters/ConversationalApiVersionParameter"
          },
          {
            "description": "The collection of conversations to analyze and one or more tasks to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ConversationalSummarizationJobsInput"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/AnalyzeConversationSummarizationJobState"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the analysis job.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "language/analyze-conversations/jobs/{jobId}//": {
      "get": {
        "x-ms-visibility": "internal",
        "produces": [ "application/json" ],
        "description": "Get the status of an analysis job. A job may consist of one or more tasks. Once all tasks are succeeded, the job will transition to the succeeded state and results will be available for each task.",
        "operationId": "AnalyzeConversationSummarization_JobStatus",
        "summary": "Get analysis status and results",
        "parameters": [
          {
            "$ref": "#/parameters/ConversationalApiVersionParameter"
          },
          {
            "$ref": "#/parameters/JobId"
          },
          {
            "$ref": "#/parameters/ShowStats"
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/AnalyzeConversationSummarizationJobState"
            }
          },
          "default": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/language/analyze-text/jobs": {
      "post": {
        "x-ms-visibility": "internal",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Submit a collection of text documents for analysis. Specify one or more unique tasks to be executed as a long-running operation.",
        "operationId": "AnalyzeText_SubmitJob",
        "summary": "Submit text analysis job",
        "parameters": [
          {
            "$ref": "#/parameters/LanguageApiVersionParameter"
          },
          {
            "description": "Collection of documents to analyze and one or more tasks to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobsInput"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobState"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the analysis job.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/LanguageErrorResponse"
            }
          }
        }
      }
    },
    "/language/analyze-text/jobs/": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Submit a collection of text documents for key phrase extraction analysis.",
        "operationId": "AnalyzeText_SubmitJob_keyPhraseExtraction",
        "summary": "Async KeyPhrases (2022-05-01)",
        "parameters": [
          {
            "$ref": "#/parameters/LanguageApiVersionParameter"
          },
          {
            "description": "Collection of documents to analyze and one or more tasks to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobsInput_KPE"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobState_KPE"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the analysis job.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/LanguageErrorResponse"
            }
          }
        }
      }
    },
    "/language/analyze-text/jobs//": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Submit a collection of text documents for custom entity recognition analysis.",
        "operationId": "AnalyzeText_SubmitJob_CustomEntityRecognition",
        "summary": "Async CustomEntityRecognition (2022-05-01)",
        "parameters": [
          {
            "$ref": "#/parameters/LanguageApiVersionParameter"
          },
          {
            "description": "Collection of documents to analyze and one or more tasks to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobsInput_CNER"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobState_CNER"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the analysis job.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/LanguageErrorResponse"
            }
          }
        }
      }
    },
    "/language/analyze-text/jobs///": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Submit a collection of text documents for custom single classification analysis.",
        "operationId": "AnalyzeText_SubmitJob_CustomSingleClassification",
        "summary": "Async CustomSingleLabelClassification (2022-05-01)",
        "parameters": [
          {
            "$ref": "#/parameters/LanguageApiVersionParameter"
          },
          {
            "description": "Collection of documents to analyze and one or more tasks to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobsInput_CSLC"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobState_CSLC"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the analysis job.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/LanguageErrorResponse"
            }
          }
        }
      }
    },
    "/language/analyze-text/jobs////": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Submit a collection of text documents for custom single classification analysis.",
        "operationId": "AnalyzeText_SubmitJob_CustomMultiClassification",
        "summary": "Async CustomMultiLabelClassification (2022-05-01)",
        "parameters": [
          {
            "$ref": "#/parameters/LanguageApiVersionParameter"
          },
          {
            "description": "Collection of documents to analyze and one or more tasks to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobsInput_CMLC"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobState_CMLC"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the analysis job.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/LanguageErrorResponse"
            }
          }
        }
      }
    },
    "/language/analyze-text/jobs/////": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Submit a collection of text documents for entity recognition analysis.",
        "operationId": "AnalyzeText_SubmitJob_EntityRecognition",
        "summary": "Async EntityRecognition (2022-05-01)",
        "parameters": [
          {
            "$ref": "#/parameters/LanguageApiVersionParameter"
          },
          {
            "description": "Collection of documents to analyze and one or more tasks to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobsInput_Entites"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobState_Entites"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the analysis job.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/LanguageErrorResponse"
            }
          }
        }
      }
    },
    "/language/analyze-text/jobs//////": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Submit a collection of text documents for personal entity recognition analysis.",
        "operationId": "AnalyzeText_SubmitJob_PersonalEntityRecognition",
        "summary": "Async PiiEntityRecognition (2022-05-01)",
        "parameters": [
          {
            "$ref": "#/parameters/LanguageApiVersionParameter"
          },
          {
            "description": "Collection of documents to analyze and one or more tasks to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobsInput_Pii"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobState_Pii"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the analysis job.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/LanguageErrorResponse"
            }
          }
        }
      }
    },
    "/language/analyze-text/jobs///////": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Submit a collection of text documents for sentiment analysis.",
        "operationId": "AnalyzeText_SubmitJob_SentimentAnalysis",
        "summary": "Async SentimentAnalysis (2022-05-01)",
        "parameters": [
          {
            "$ref": "#/parameters/LanguageApiVersionParameter"
          },
          {
            "description": "Collection of documents to analyze and one or more tasks to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobsInput_Sentiment"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobState_Sentiment"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the analysis job.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/LanguageErrorResponse"
            }
          }
        }
      }
    },
    "/language/analyze-text/jobs////////": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Submit a collection of text documents for health care analysis.",
        "operationId": "AnalyzeText_SubmitJob_HealthCare",
        "summary": "Async Healthcare (2022-05-01)",
        "parameters": [
          {
            "$ref": "#/parameters/LanguageApiVersionParameter"
          },
          {
            "description": "Collection of documents to analyze and one or more tasks to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobsInput_HealthCare"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobState_HealthCare"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the analysis job.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/LanguageErrorResponse"
            }
          }
        }
      }
    },
    "/language/analyze-text/jobs/////////": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Submit a collection of text documents for entity linking analysis.",
        "operationId": "AnalyzeText_SubmitJob_EntityLinking",
        "summary": "Async EntityLinking (2022-05-01)",
        "parameters": [
          {
            "$ref": "#/parameters/LanguageApiVersionParameter"
          },
          {
            "description": "Collection of documents to analyze and one or more tasks to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobsInput_EntityLinking"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobState_EntityLinking"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the analysis job.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/LanguageErrorResponse"
            }
          }
        }
      }
    },
    "/language/analyze-text/jobs//////////": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Submit a collection of text documents for extractive summarization",
        "operationId": "AnalyzeText_SubmitJob_ExtractiveSummarization",
        "summary": "Async ExtractiveSummarization (2022-10-01-preview)",
        "parameters": [
          {
            "$ref": "#/parameters/LanguageApiVersionParameter10_01"
          },
          {
            "description": "Collection of documents to analyze and one or more tasks to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobsInput_ExtractiveSummarization"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobState_ExtractiveSummarization"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the analysis job.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/LanguageErrorResponse"
            }
          }
        }
      }
    },
    "/language/analyze-text/jobs///////////": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Submit a collection of text documents for abstractive summarization",
        "operationId": "AnalyzeText_SubmitJob_AbstractiveSummarization",
        "summary": "Async AbstractiveSummarization (2022-10-01-preview)",
        "parameters": [
          {
            "$ref": "#/parameters/LanguageApiVersionParameter10_01"
          },
          {
            "description": "Collection of documents to analyze and one or more tasks to execute.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobsInput_AbstractiveSummarization"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobState_AbstractiveSummarization"
            }
          },
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the analysis job.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/LanguageErrorResponse"
            }
          }
        }
      }
    },
    "/language/analyze-text/jobs/{jobId}": {
      "get": {
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "description": "Get the status of an analysis job.  A job may consist of one or more tasks.  Once all tasks are succeeded, the job will transition to the succeeded state and results will be available for each task.",
        "operationId": "AnalyzeText_JobStatus",
        "summary": "Get analysis status and results",
        "parameters": [
          {
            "$ref": "#/parameters/LanguageApiVersionParameter"
          },
          {
            "$ref": "#/parameters/JobId"
          },
          {
            "$ref": "#/parameters/ShowStats"
          },
          {
            "$ref": "#/parameters/LanguageTopParameter"
          },
          {
            "$ref": "#/parameters/LanguageSkipParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/LanguageAnalyzeTextJobState"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/LanguageErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "TranscriptJobsInput": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional display name for the analysis job.",
          "type": "string",
          "x-ms-visibility": "internal",
          "default": "Conversation PII Job"
        },
        "analysisInput": {
          "$ref": "#/definitions/TranscriptMultiLanguageConversationAnalysisInput"
        },
        "task": {
          "$ref": "#/definitions/ConversationalPIITranscriptTask"
        }
      },
      "required": [
        "analysisInput",
        "task"
      ]
    },
    "TranscriptMultiLanguageConversationAnalysisInput": {
      "type": "object",
      "required": [
        "conversations"
      ],
      "properties": {
        "conversations": {
          "$ref": "#/definitions/TranscriptConversation"
        }
      }
    },
    "TranscriptConversation": {
      "type": "object",
      "x-ms-discriminator-value": "transcript",
      "required": [ "conversationItems", "id", "language", "modality" ],
      "properties": {
        "conversationItems": {
          "description": "Ordered list of transcript conversation items in the conversation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TranscriptConversationItem"
          }
        },
        "id": {
          "description": "Unique identifier for the conversation.",
          "type": "string",
          "x-ms-visibility": "internal",
          "default": "conversation_Id"
        },
        "language": {
          "description": "The language of the conversation item in BCP-47 format.",
          "type": "string"
        },
        "modality": {
          "$ref": "#/definitions/TranscriptModality"
        },
        "domain": {
          "$ref": "#/definitions/ConversationDomain"
        }
      }
    },
    "TranscriptModality": {
      "type": "string",
      "description": "Enumeration of supported conversational modalities.",
      "enum": [ "transcript" ],
      "default": "transcript",
      "x-ms-visibility": "internal",
      "x-ms-enum": {
        "name": "InputModality",
        "modelAsString": true
      }
    },
    "ConversationDomain": {
      "type": "string",
      "description": "Enumeration of supported conversational domains.",
      "enum": [ "finance", "healthcare", "generic" ],
      "x-ms-enum": {
        "name": "ConversationDomain",
        "modelAsString": true
      }
    },
    "TranscriptConversationItem": {
      "type": "object",
      "description": "Additional properties for supporting transcript conversation.",
      "properties": {
        "id": {
          "description": "The ID of a conversation item.",
          "type": "string"
        },
        "participantId": {
          "description": "The participant ID of a conversation item.",
          "type": "string"
        },
        "language": {
          "description": "The override language of a conversation item in BCP 47 language representation.",
          "type": "string"
        },
        "modality": {
          "$ref": "#/definitions/TranscriptModality"
        },
        "role": {
          "type": "string",
          "description": "The role of the participant.",
          "enum": [ "agent", "customer", "generic" ],
          "x-ms-enum": {
            "name": "role",
            "modelAsString": true
          }
        },
        "itn": {
          "type": "string",
          "description": "Inverse Text Normalization representation of input. The inverse-text-normalized form is the recognized text from Microsoft’s Speech to Text API, with phone numbers, numbers, abbreviations, and other transformations applied."
        },
        "maskedItn": {
          "type": "string",
          "description": "The Inverse Text Normalized format with profanity masking applied."
        },
        "text": {
          "type": "string",
          "description": "The display form of the recognized text from speech to text API, with punctuation and capitalization added."
        },
        "lexical": {
          "type": "string",
          "description": "The lexical form of the recognized text from speech to text API with the actual words recognized."
        },
        "audioTimings": {
          "type": "array",
          "description": "The list of word level audio timing information",
          "items": {
            "$ref": "#/definitions/WordLevelTiming"
          }
        }
      },
      "required": [ "participantId", "id" ],
      "additionalProperties": true
    },
    "WordLevelTiming": {
      "type": "object",
      "description": "Word level timing information generated by the speech to text API. The words in this object should have 1:1 correspondence with the 'lexical' input to allow for audio redaction.",
      "properties": {
        "word": {
          "type": "string",
          "description": "The word recognized."
        },
        "offset": {
          "description": "Offset from start of speech audio, in ticks. 1 tick = 100 ns.",
          "type": "integer",
          "format": "int64"
        },
        "duration": {
          "description": "Duration of word articulation, in ticks. 1 tick = 100 ns.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "TextJobsInput": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional display name for the analysis job.",
          "type": "string",
          "x-ms-visibility": "internal",
          "default": "Conversation PII Job"
        },
        "analysisInput": {
          "$ref": "#/definitions/ConversationalPIITextMultiLanguageConversationAnalysisInput"
        },
        "task": {
          "$ref": "#/definitions/ConversationalPIITextTask"
        }
      },
      "required": [
        "analysisInput",
        "task"
      ]
    },
    "ConversationalPIITextMultiLanguageConversationAnalysisInput": {
      "type": "object",
      "required": [
        "conversations"
      ],
      "properties": {
        "conversations": {
          "$ref": "#/definitions/ConversationalPIITextConversation"
        }
      }
    },
    "ConversationalPIITextConversation": {
      "type": "object",
      "x-ms-discriminator-value": "text",
      "required": [ "conversationItems", "id", "language", "modality" ],
      "properties": {
        "conversationItems": {
          "description": "Ordered list of text conversation items in the conversation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConversationalPIITextConversationItem"
          }
        },
        "id": {
          "description": "Unique identifier for the conversation.",
          "type": "string",
          "default": "conversation_Id",
          "x-ms-visibility": "internal"
        },
        "language": {
          "description": "The language of the conversation item in BCP-47 format.",
          "type": "string"
        },
        "modality": {
          "$ref": "#/definitions/TextModality"
        },
        "domain": {
          "$ref": "#/definitions/ConversationDomain"
        }
      }
    },
    "ConversationalPIITextConversationItem": {
      "type": "object",
      "description": "The text modality of an input conversation.",
      "properties": {
        "id": {
          "description": "The ID of a conversation item.",
          "type": "string"
        },
        "participantId": {
          "description": "The participant ID of a conversation item.",
          "type": "string"
        },
        "language": {
          "description": "The override language of a conversation item in BCP 47 language representation.",
          "type": "string"
        },
        "modality": {
          "$ref": "#/definitions/TextModality"
        },
        "role": {
          "type": "string",
          "description": "The role of the participant.",
          "enum": [ "agent", "customer", "generic" ],
          "x-ms-enum": {
            "name": "role",
            "modelAsString": true
          }
        },
        "text": {
          "description": "The text input",
          "type": "string"
        }
      },
      "required": [
        "participantId",
        "id",
        "text"
      ]
    },
    "ConversationalPIITextTask": {
      "type": "object",
      "description": "Task definition for a PII redaction in conversations.",
      "properties": {
        "parameters": {
          "$ref": "#/definitions/ConversationPIITextTaskParameters"
        },
        "kind": {
          "$ref": "#/definitions/ConversationalPIILROTaskKind"
        },
        "taskName": {
          "type": "string",
          "x-ms-visibility": "internal",
          "default": "Conversation PII Task"
        }
      },
      "required": [ "kind" ],
      "x-ms-discriminator-value": "ConversationalPIITask"
    },
    "ConversationPIITextTaskParameters": {
      "type": "object",
      "description": "Supported parameters for a Conversational PII detection and redaction task.",
      "properties": {
        "modelVersion": {
          "type": "string",
          "default": "2022-05-15-preview",
          "x-ms-visibility": "internal"
        },
        "loggingOptOut": {
          "type": "boolean",
          "default": false
        },
        "piiCategories": {
          "$ref": "#/definitions/ConversationPIICategories"
        }
      }
    },
    "ConversationalSummarizationJobsInput": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional display name for the analysis job.",
          "type": "string",
          "x-ms-visibility": "internal",
          "default": "Conversation Summarization Job"
        },
        "analysisInput": {
          "$ref": "#/definitions/ConversationalSummarizationMultiLanguageConversationAnalysisInput"
        },
        "task": {
          "$ref": "#/definitions/ConversationSummarizationTask"
        }
      },
      "required": [
        "analysisInput",
        "task"
      ]
    },
    "ConversationalSummarizationMultiLanguageConversationAnalysisInput": {
      "type": "object",
      "required": [
        "conversations"
      ],
      "properties": {
        "conversations": {
          "$ref": "#/definitions/ConversationalSummarizationTextConversation"
        }
      }
    },
    "ConversationalSummarizationTextConversation": {
      "type": "object",
      "x-ms-discriminator-value": "text",
      "required": [ "conversationItems", "id", "language", "modality" ],
      "properties": {
        "conversationItems": {
          "description": "Ordered list of text conversation items in the conversation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConversationalSummarizationTextConversationItem"
          }
        },
        "id": {
          "description": "Unique identifier for the conversation.",
          "type": "string",
          "x-ms-visibility": "internal",
          "default": "conversation_Id"
        },
        "language": {
          "description": "The language of the conversation item in BCP-47 format.",
          "type": "string",
          "default": "en"
        },
        "modality": {
          "$ref": "#/definitions/TextModality"
        },
        "domain": {
          "$ref": "#/definitions/ConversationDomain"
        }
      }
    },
    "TextModality": {
      "type": "string",
      "description": "Enumeration of supported conversational modalities.",
      "enum": [ "text" ],
      "default": "text",
      "x-ms-visibility": "internal",
      "x-ms-enum": {
        "name": "InputModality",
        "modelAsString": true
      }
    },
    "ConversationalSummarizationTextConversationItem": {
      "type": "object",
      "description": "The text modality of an input conversation.",
      "properties": {
        "id": {
          "description": "The ID of a conversation item.",
          "type": "string"
        },
        "participantId": {
          "description": "The participant ID of a conversation item.",
          "type": "string"
        },
        "language": {
          "description": "The override language of a conversation item in BCP 47 language representation.",
          "type": "string"
        },
        "modality": {
          "$ref": "#/definitions/TextModality"
        },
        "role": {
          "type": "string",
          "description": "The role of the participant.",
          "enum": [
            "agent",
            "customer",
            "generic"
          ],
          "x-ms-enum": {
            "name": "role",
            "modelAsString": true
          }
        },
        "text": {
          "description": "The text input",
          "type": "string"
        }
      },
      "required": [
        "participantId",
        "id",
        "text"
      ]
    },
    "ConversationalPIITranscriptTask": {
      "type": "object",
      "description": "Task definition for a PII redaction in conversations.",
      "properties": {
        "parameters": {
          "$ref": "#/definitions/ConversationalPIITranscriptTaskParameters"
        },
        "kind": {
          "$ref": "#/definitions/ConversationalPIILROTaskKind"
        },
        "taskName": {
          "type": "string",
          "x-ms-visibility": "internal",
          "default": "Conversation PII Task"
        }
      },
      "required": [ "kind" ],
      "x-ms-discriminator-value": "ConversationalPIITask"
    },
    "ConversationalPIILROTaskKind": {
      "type": "string",
      "description": "Enumeration of supported analysis tasks on a collection of conversations.",
      "enum": [ "ConversationalPIITask" ],
      "default": "ConversationalPIITask",
      "x-ms-visibility": "internal",
      "x-ms-enum": {
        "name": "AnalyzeConversationLROTaskKind",
        "modelAsString": true
      }
    },
    "ConversationalPIITranscriptTaskParameters": {
      "type": "object",
      "description": "Supported parameters for a Conversational PII detection and redaction task.",
      "properties": {
        "modelVersion": {
          "type": "string",
          "default": "2022-05-15-preview",
          "x-ms-visibility": "internal"
        },
        "loggingOptOut": {
          "type": "boolean",
          "default": false
        },
        "piiCategories": {
          "$ref": "#/definitions/ConversationPIICategories"
        },
        "includeAudioRedaction": {
          "type": "boolean",
          "description": "Flag to indicate if audio redaction is requested. By default audio redaction will not be performed.",
          "default": false
        },
        "redactionSource": {
          "type": "string",
          "description": "For transcript conversations, this parameter provides information regarding which content type (ITN, Text, Lexical, Masked ITN) should be used for entity detection. The details of the entities detected - like the offset, length and the text itself - will correspond to the text type selected here.",
          "$ref": "#/definitions/TranscriptContentType"
        }
      }
    },
    "ConversationPIICategories": {
      "description": "Describes the PII categories to return for detection. If not provided, 'default' categories will be returned which will vary with the language.",
      "items": {
        "type": "string",
        "x-ms-enum": {
          "name": "ConversationPIICategory",
          "modelAsString": true
        },
        "enum": [
          "Address",
          "CreditCard",
          "Email",
          "Name",
          "NumericIdentifier",
          "PhoneNumber",
          "All",
          "Default"
        ]
      },
      "type": "array",
      "uniqueItems": true
    },
    "TranscriptContentType": {
      "type": "string",
      "description": "Enumeration of supported transcript content types.",
      "enum": [ "lexical", "itn", "maskedItn", "text" ],
      "x-ms-enum": {
        "name": "TranscriptContentType",
        "modelAsString": true
      }
    },
    "ConversationSummarizationTask": {
      "type": "object",
      "description": "Task definition for conversational summarization.",
      "properties": {
        "parameters": {
          "$ref": "#/definitions/ConversationSummarizationTaskParameters"
        },
        "kind": {
          "$ref": "#/definitions/ConversationalSummarizationLROTaskKind"
        },
        "taskName": {
          "type": "string",
          "x-ms-visibility": "internal",
          "default": "Conversation Summarization Task"
        }
      },
      "required": [ "kind" ],
      "x-ms-discriminator-value": "ConversationalSummarizationTask"
    },
    "ConversationalSummarizationLROTaskKind": {
      "type": "string",
      "description": "Enumeration of supported analysis tasks on a collection of conversations.",
      "enum": [ "ConversationalSummarizationTask" ],
      "default": "ConversationalSummarizationTask",
      "x-ms-visibility": "internal",
      "x-ms-enum": {
        "name": "AnalyzeConversationLROTaskKind",
        "modelAsString": true
      }
    },
    "ConversationSummarizationTaskParameters": {
      "type": "object",
      "description": "Supported parameters for an conversational summarization task.",
      "required": [
        "summaryAspects"
      ],
      "properties": {
        "modelVersion": {
          "type": "string",
          "default": "2022-05-15-preview",
          "x-ms-visibility": "internal"
        },
        "loggingOptOut": {
          "type": "boolean",
          "default": false
        },
        "summaryAspects": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "issue",
              "resolution"
            ],
            "x-ms-enum": {
              "name": "SummaryAspect",
              "modelAsString": true
            }
          }
        }
      }
    },
    "ConversationalPIITranscriptJobState": {
      "type": "object",
      "description": "Contains the status of the analyze conversations job submitted along with related statistics.",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "createdDateTime": {
          "format": "date-time",
          "type": "string"
        },
        "expirationDateTime": {
          "format": "date-time",
          "type": "string"
        },
        "jobId": {
          "type": "string"
        },
        "lastUpdatedDateTime": {
          "format": "date-time",
          "type": "string"
        },
        "status": {
          "enum": [
            "notStarted",
            "running",
            "succeeded",
            "partiallyCompleted",
            "failed",
            "cancelled",
            "cancelling"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "JobState"
          }
        },
        "errors": {
          "items": {
            "$ref": "#/definitions/Error"
          },
          "type": "array"
        },
        "nextLink": {
          "type": "string"
        },
        "statistics": {
          "$ref": "#/definitions/ConversationRequestStatistics"
        },
        "tasks": {
          "properties": {
            "completed": {
              "description": "Count of tasks completed successfully.",
              "type": "integer"
            },
            "failed": {
              "description": "Count of tasks that failed.",
              "type": "integer"
            },
            "inProgress": {
              "description": "Count of tasks in progress currently.",
              "type": "integer"
            },
            "total": {
              "description": "Total count of tasks submitted as part of the job.",
              "type": "integer"
            },
            "taskResult": {
              "$ref": "#/definitions/ConversationalPIITranscriptResult"
            }
          },
          "required": [
            "total",
            "completed",
            "failed",
            "inProgress"
          ],
          "type": "object"
        }
      },
      "required": [ "jobId", "lastUpdatedDateTime", "createdDateTime", "status", "tasks" ]
    },
    "ConversationRequestStatistics": {
      "type": "object",
      "description": "if showStats=true was specified in the request this field will contain information about the request payload.",
      "required": [
        "conversationsCount",
        "validConversationsCount",
        "erroneousConversationsCount",
        "documentsCount",
        "validDocumentsCount",
        "erroneousDocumentsCount",
        "transactionsCount"
      ],
      "properties": {
        "documentsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of documents submitted in the request."
        },
        "validDocumentsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of valid documents. This excludes empty, over-size limit or non-supported languages documents."
        },
        "erroneousDocumentsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of invalid documents. This includes empty, over-size limit or non-supported languages documents."
        },
        "transactionsCount": {
          "type": "integer",
          "format": "int64",
          "description": "Number of transactions for the request."
        },
        "conversationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of conversations submitted in the request."
        },
        "validConversationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of conversations documents. This excludes empty, over-size limit or non-supported languages documents."
        },
        "erroneousConversationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of invalid documents. This includes empty, over-size limit or non-supported languages documents."
        }
      }
    },
    "ConversationalPIITranscriptResult": {
      "type": "object",
      "description": "Result from the personally identifiable information detection and redaction operation performed on a list of conversations.",
      "properties": {
        "lastUpdateDateTime": {
          "description": "The last updated time in UTC for the task.",
          "format": "date-time",
          "type": "string"
        },
        "status": {
          "description": "The status of the task at the mentioned last update time.",
          "enum": [
            "notStarted",
            "running",
            "succeeded",
            "failed",
            "cancelled",
            "cancelling"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "State"
          }
        },
        "taskName": {
          "type": "string"
        },
        "kind": {
          "$ref": "#/definitions/ConversationalPIIResultsKind"
        },
        "results": {
          "$ref": "#/definitions/ConversationPIITranscriptResults"
        }
      },
      "required": [
        "results",
        "kind",
        "status",
        "lastUpdateDateTime"
      ],
      "x-ms-discriminator-value": "ConversationalPIIResults"
    },
    "ConversationalPIIResultsKind": {
      "type": "string",
      "description": "Enumeration of supported Conversation Analysis task results.",
      "enum": [ "ConversationalPIIResults" ],
      "x-ms-visibility": "internal",
      "x-ms-enum": {
        "name": "AnalyzeConversationResultsKind",
        "modelAsString": true
      }
    },
    "ConversationPIITranscriptResults": {
      "type": "object",
      "description": "The result from PII detection and redaction operation for each conversation.",
      "required": [
        "conversations",
        "errors",
        "modelVersion"
      ],
      "properties": {
        "conversations": {
          "type": "object",
          "properties": {
            "conversationItems": {
              "description": "Enumeration of PII detection and redaction operation results for all the conversation items in a conversation.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ConversationPIITranscriptItemResult"
              }
            },
            "id": {
              "type": "string",
              "description": "Unique, non-empty conversation identifier."
            },
            "warnings": {
              "type": "array",
              "description": "Warnings encountered while processing document.",
              "items": {
                "$ref": "#/definitions/InputWarning"
              }
            },
            "statistics": {
              "$ref": "#/definitions/ConversationStatistics"
            }
          },
          "required": [
            "conversationItems",
            "id",
            "warnings"
          ]
        },
        "errors": {
          "type": "array",
          "description": "Errors by document id.",
          "items": {
            "$ref": "#/definitions/InputError"
          }
        },
        "statistics": {
          "$ref": "#/definitions/RequestStatistics"
        },
        "modelVersion": {
          "type": "string",
          "description": "This field indicates which model is used for scoring."
        }
      }
    },
    "InputError": {
      "type": "object",
      "description": "Contains details of errors encountered during a job execution.",
      "required": [
        "id",
        "error"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the input."
        },
        "error": {
          "type": "object",
          "description": "Error encountered.",
          "$ref": "#/definitions/Error"
        }
      }
    },
    "InputWarning": {
      "type": "object",
      "description": "Contains details of warnings encountered during a job execution.",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string",
          "description": "Warning code."
        },
        "message": {
          "type": "string",
          "description": "Warning message."
        },
        "targetRef": {
          "type": "string",
          "description": "A JSON pointer reference indicating the target object."
        }
      }
    },
    "ConversationStatistics": {
[...]
