{
  "swagger": "2.0",
  "info": {
    "title": "Dime.Scheduler",
    "description": "Dime.Scheduler is a resource and project planning solution that extends the capabilities of ERP, CRM and other business systems with powerful graphical scheduling tools.",
    "version": "2.0",
    "contact": {
      "name": "Dime.Scheduler Support",
      "url": "https://docs.dimescheduler.com",
      "email": "support@dimescheduler.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "license": {
      "name": "Commercial",
      "url": "https://www.dimescheduler.com/terms"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.dimescheduler.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.dimescheduler.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Data"
    }
  ],
  "host": "api.dimescheduler.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/webhooks/AppointmentCreated": {
      "x-ms-notification-content": {
        "description": "Appointment details for webhook",
        "schema": {
          "$ref": "#/definitions/appointment-incoming"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthenticated."
          },
          "403": {
            "description": "Access forbidden."
          },
          "429": {
            "description": "Resource exhausted. More than expected number of webhooks have been created."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "summary": "When an appointment is created",
        "description": "This trigger is used for listening to new appointments scheduled in Dime.Scheduler.",
        "operationId": "CreateAppointment",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see this trigger work, create an appointment in Dime.Scheduler",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "A unique identifier that lets Dime.Scheduler know to which back-office system this record belongs to.",
                  "title": "Source App",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Provide a descriptive name to identify the purpose of this flow in Dime.Scheduler.",
                  "title": "Name",
                  "x-ms-visibility": "important"
                },
                "notificationURL": {
                  "type": "string",
                  "description": "Notification URL where the appointment data will be posted.",
                  "title": "notificationURL",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "resource": {
                  "type": "string",
                  "description": "resource",
                  "title": "Resource",
                  "default": "Appointments",
                  "x-ms-visibility": "internal"
                },
                "changeType": {
                  "description": "Changes to listen on",
                  "x-ms-visibility": "internal",
                  "type": "array",
                  "default": [
                    "Create"
                  ],
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "notificationURL",
                "resource",
                "changeType",
                "sourceApp"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/webhooks/AppointmentCreated/{hook_id}": {
      "delete": {
        "summary": "Deletes the new appointment webhook",
        "description": "Deletes the new appointment webhook",
        "operationId": "DeleteCreateAppointmentTrigger",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthenticated."
          },
          "403": {
            "description": "Access forbidden."
          },
          "429": {
            "description": "Resource exhausted. More than expected number of webhooks have been created."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "parameters": [
          {
            "name": "hook_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "description": "Specify the ID of the WebHook"
          }
        ]
      }
    },
    "/webhooks/AppointmentUpdated": {
      "x-ms-notification-content": {
        "description": "Appointment details for webhook",
        "schema": {
          "$ref": "#/definitions/appointment-incoming"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthenticated."
          },
          "403": {
            "description": "Access forbidden. "
          },
          "429": {
            "description": "Resource exhausted. More than expected number of webhooks have been created."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "summary": "When an appointment is updated",
        "description": "This trigger is used for listening to new appointments scheduled in Dime.Scheduler.",
        "operationId": "UpdateAppointment",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see this trigger work, update an appointment in Dime.Scheduler",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "A unique identifier that lets Dime.Scheduler know to which back-office system this record belongs to.",
                  "title": "Source App",
                  "x-ms-visibility": "important"
                },
                "notificationURL": {
                  "type": "string",
                  "description": "Notification URL where the appointment data will be posted.",
                  "title": "notificationURL",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "resource": {
                  "type": "string",
                  "description": "resource",
                  "title": "Resource",
                  "default": "Appointments",
                  "x-ms-visibility": "internal"
                },
                "changeType": {
                  "description": "Changes to listen on",
                  "x-ms-visibility": "internal",
                  "type": "array",
                  "default": [
                    "Update"
                  ],
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "notificationURL",
                "resource",
                "changeType",
                "sourceApp"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/webhooks/AppointmentUpdated/{hook_id}": {
      "delete": {
        "summary": "Deletes the new appointment webhook",
        "description": "Deletes the new appointment webhook",
        "operationId": "DeleteUpdateAppointmentTrigger",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthenticated."
          },
          "403": {
            "description": "Access forbidden."
          },
          "429": {
            "description": "Resource exhausted. More than expected number of webhooks have been created."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "parameters": [
          {
            "name": "hook_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "description": "Specify the ID of the WebHook"
          }
        ]
      }
    },
    "/webhooks/AppointmentDeleted": {
      "x-ms-notification-content": {
        "description": "Appointment details for webhook",
        "schema": {
          "$ref": "#/definitions/appointment-incoming"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthenticated."
          },
          "403": {
            "description": "Access forbidden. "
          },
          "429": {
            "description": "Resource exhausted. More than expected number of webhooks have been created."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "summary": "When an appointment is deleted",
        "description": "This trigger is used for listening to appointments that have been removed in Dime.Scheduler.",
        "operationId": "DeleteAppointment",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see this trigger work, delete an appointment in Dime.Scheduler",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "sourceApp": {
                  "type": "string",
                  "description": "A unique identifier that lets Dime.Scheduler know to which back-office system this record belongs to.",
                  "title": "Source App",
                  "x-ms-visibility": "important"
                },
                "notificationURL": {
                  "type": "string",
                  "description": "Notification URL where the appointment data will be posted.",
                  "title": "notificationURL",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "resource": {
                  "type": "string",
                  "description": "resource",
                  "title": "Resource",
                  "default": "Appointments",
                  "x-ms-visibility": "internal"
                },
                "changeType": {
                  "description": "Changes to listen on",
                  "x-ms-visibility": "internal",
                  "type": "array",
                  "default": [
                    "Delete"
                  ],
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "sourceApp",
                "notificationURL",
                "resource",
                "changeType"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/webhooks/AppointmentDeleted/{hook_id}": {
      "delete": {
        "summary": "Deletes the new appointment webhook",
        "description": "Deletes the new appointment webhook",
        "operationId": "DeleteDeletedAppointmentTrigger",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthenticated."
          },
          "403": {
            "description": "Access forbidden."
          },
          "429": {
            "description": "Resource exhausted. More than expected number of webhooks have been created."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "parameters": [
          {
            "name": "hook_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "description": "Specify the ID of the WebHook"
          }
        ]
      }
    },
    "/resourcetype": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Response to successful retrieval resource types",
            "x-ms-summary": "Success response",
            "schema": {
              "$ref": "#/definitions/resourcetypelist"
            }
          },
          "401": {
            "description": "Unauthenticated."
          },
          "403": {
            "description": "Access forbidden."
          },
          "429": {
            "description": "Resource exhausted. More than expected number of webhooks have been created."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Gets the list of available resource types in Dime.Scheduler",
        "description": "Fetches the list of resource types",
        "operationId": "GetResourceTypes",
        "tags": [
          "resource"
        ]
      }
    },
    "/categories": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Response to successful retrieval categories",
            "x-ms-summary": "Success response",
            "schema": {
              "$ref": "#/definitions/categorylist"
            }
          },
          "401": {
            "description": "Unauthenticated."
          },
          "403": {
            "description": "Access forbidden."
          },
          "429": {
            "description": "Resource exhausted. More than expected number of webhooks have been created."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Gets the list of available categories in Dime.Scheduler",
        "description": "Fetches the list of categories",
        "operationId": "GetCategories",
        "tags": [
          "indicator"
        ]
      },
      "post": {
        "summary": "Add or update a category",
        "description": "Add or update a category, which is the visual indicator that renders the background of the appointment.",
        "operationId": "categoryUpsert",
        "tags": [
          "indicator"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/category"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove a category",
        "description": "Remove a category, which is the visual indicator that renders the background of the appointment.",
        "operationId": "categoryDelete",
        "tags": [
          "indicator"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/category"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/timeMarker": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Response to successful retrieval time markers",
            "x-ms-summary": "Success response",
            "schema": {
              "$ref": "#/definitions/timemarkerlist"
            }
          },
          "401": {
            "description": "Unauthenticated."
          },
          "403": {
            "description": "Access forbidden."
          },
          "429": {
            "description": "Resource exhausted. More than expected number of webhooks have been created."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Gets the list of available time markers in Dime.Scheduler",
        "description": "Fetches the list of time markers",
        "operationId": "GetTimeMarkers",
        "tags": [
          "indicator"
        ]
      },
      "post": {
        "summary": "Add or update a time marker",
        "description": "Add or update a time marker, which is the visual indicator that renders the underscore of the appointment.",
        "operationId": "Timemarker",
        "tags": [
          "indicator"
        ],
        "parameters": [
          {
            "name": "timeMarkerUpsert",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/timeMarker"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove a time marker",
        "description": "Remove a time marker, which is the visual indicator that renders the underscore of the appointment.",
        "operationId": "timeMarkerDelete",
        "tags": [
          "indicator"
        ],
        "parameters": [
          {
            "name": "timeMarker",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/timeMarker"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/pin": {
      "post": {
        "summary": "Add or update a pin",
        "description": "Add or update a pin, which is the visual indicator that renders the colors of the markers on the map.",
        "operationId": "pinUpsert",
        "tags": [
          "indicator"
        ],
        "parameters": [
          {
            "name": "pin",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pin"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove a pin",
        "description": "Remove a pin, which is the visual indicator that renders the colors of the markers on the map.",
        "operationId": "pinDelete",
        "tags": [
          "indicator"
        ],
        "parameters": [
          {
            "name": "pin",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pin"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/resource": {
      "get": {
        "responses": {
          "200": {
            "description": "Response to successful retrieval resources",
            "x-ms-summary": "Success response",
            "schema": {
              "$ref": "#/definitions/resourcelist"
            }
          },
          "401": {
            "description": "Unauthenticated."
          },
          "403": {
            "description": "Access forbidden."
          },
          "429": {
            "description": "Resource exhausted. More than expected number of webhooks have been created."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Gets the list of available resources in Dime.SCheduler",
        "description": "Fetches the list of resources",
        "operationId": "GetResources",
        "tags": [
          "resource"
        ]
      },
      "post": {
        "summary": "Add or update a resource",
        "description": "Add or update a resource.",
        "operationId": "resourceUpsert",
        "tags": [
          "resource"
        ],
        "parameters": [
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/resource"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove a resource",
        "description": "Remove a resource.",
        "operationId": "resourceDelete",
        "tags": [
          "resource"
        ],
        "parameters": [
          {
            "name": "resource",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/resource"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/actionUri": {
      "post": {
        "summary": "Add or update an action link",
        "description": "Add or update an action link.",
        "operationId": "actionUriUpsert",
        "parameters": [
          {
            "name": "actionUri",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/actionUri"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove an action link",
        "description": "Remove an action link.",
        "operationId": "actionUriDelete",
        "parameters": [
          {
            "name": "actionUri",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/actionUri"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/appointment": {
      "post": {
        "summary": "Add an appointment",
        "description": "Add an appointment.",
        "operationId": "appointmentUpsert",
        "tags": [
          "appointment"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/appointment-outgoing-new"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "summary": "Update an appointment",
        "description": "Update an appointment.",
        "operationId": "appointmentUpdate",
        "tags": [
          "appointment"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/appointment-outgoing"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove an appointment",
        "description": "Remove an appointment.",
        "operationId": "appointmentDelete",
        "tags": [
          "appointment"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/appointment-outgoing"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/appointmentCategory": {
      "post": {
        "summary": "Set the category of an appointment",
        "description": "Set the category of an appointment.",
        "operationId": "appointmentCategoryUpsert",
        "tags": [
          "appointment"
        ],
        "parameters": [
          {
            "name": "appointmentCategory",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/appointmentCategory"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/appointmentContainer": {
      "post": {
        "summary": "Add or update an appointment container",
        "description": "Add or update an appointment container.",
        "operationId": "appointmentContainerUpsert",
        "tags": [
          "appointment"
        ],
        "parameters": [
          {
            "name": "appointmentContainer",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/appointmentContainer"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove an appointment container",
        "description": "Remove an appointment container.",
        "operationId": "appointmentContainerDelete",
        "tags": [
          "appointment"
        ],
        "parameters": [
          {
            "name": "appointmentContainer",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/appointmentContainer"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/appointmentContent": {
      "post": {
        "summary": "Set the content of the appointment",
        "description": "Set the content of the appointment.",
        "operationId": "appointmentContentUpsert",
        "tags": [
          "appointment"
        ],
        "parameters": [
          {
            "name": "appointmentContent",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/appointmentContent"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/appointmentImportance": {
      "post": {
        "summary": "Set the priority of an appointment",
        "description": "Set the priority of an appointment.",
        "operationId": "appointmentImportanceUpsert",
        "tags": [
          "appointment"
        ],
        "parameters": [
          {
            "name": "appointmentImportance",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/appointmentImportance"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/appointmentLocked": {
      "post": {
        "summary": "Set the appointment's locked status",
        "description": "Set the appointment's locked status.",
        "operationId": "appointmentLockedUpsert",
        "tags": [
          "appointment"
        ],
        "parameters": [
          {
            "name": "appointmentLocked",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/appointmentLocked"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/appointmentPlanningQuantity": {
      "post": {
        "summary": "Set the appointment's planning quantity",
        "description": "Set the appointment's planning quantity.",
        "operationId": "appointmentPlanningQuantityUpsert",
        "tags": [
          "appointment"
        ],
        "parameters": [
          {
            "name": "appointmentPlanningQuantity",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/appointmentPlanningQuantity"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/appointmentTimeMarker": {
      "post": {
        "summary": "Set the time marker of an appointment",
        "description": "Set the time marker of an appointment",
        "operationId": "appointmentTimemarkerUpsert",
        "tags": [
          "appointment"
        ],
        "parameters": [
          {
            "name": "appointmentTimeMarker",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/appointmentTimeMarker"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/appointmentUri": {
      "post": {
        "summary": "Add or update an appointment link",
        "description": "Add or update an appointment link.",
        "operationId": "appointmentUriUpsert",
        "tags": [
          "appointment"
        ],
        "parameters": [
          {
            "name": "appointmentUri",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/appointmentUri"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove an appointment link",
        "description": "Remove an appointment link.",
        "operationId": "appointmentUriDelete",
        "tags": [
          "appointment"
        ],
        "parameters": [
          {
            "name": "appointmentUri",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/appointmentUri"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/assignment": {
      "post": {
        "summary": "Add or update an assignment",
        "description": "Add or update an assignment, which is the allocation of a resource to an appointment.",
        "operationId": "assignmentUpsert",
        "tags": [
          "appointment"
        ],
        "parameters": [
          {
            "name": "assignment",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/assignment"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove an assignment",
        "description": "Remove an assignment, which is the allocation of a resource to an appointment.",
        "operationId": "assignmentDelete",
        "tags": [
          "appointment"
        ],
        "parameters": [
          {
            "name": "assignment",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/assignment"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/caption": {
      "post": {
        "summary": "Add or update a caption",
        "description": "Add or update a caption.",
        "operationId": "captionUpsert",
        "parameters": [
          {
            "name": "caption",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/caption"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove a caption",
        "description": "Remove a caption.",
        "operationId": "captionDelete",
        "parameters": [
          {
            "name": "caption",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/caption"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/calendar": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Response to successful retrieval calendars",
            "x-ms-summary": "Success response",
            "schema": {
              "$ref": "#/definitions/calendarlist"
            }
          },
          "401": {
            "description": "Unauthenticated."
          },
          "403": {
            "description": "Access forbidden."
          },
          "429": {
            "description": "Resource exhausted. More than expected number of webhooks have been created."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Gets the list of available calendars in Dime.Scheduler",
        "description": "Fetches the list of calendars",
        "operationId": "GetCalendars"
      }
    },
    "/container": {
      "post": {
        "summary": "Add or update a container",
        "description": "Add or update a container.",
        "operationId": "containerUpsert",
        "parameters": [
          {
            "name": "container",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/container"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove a container",
        "description": "Remove a container.",
        "operationId": "containerDelete",
        "parameters": [
          {
            "name": "container",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/container"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/filterGroup": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Response to successful retrieval filter groups",
            "x-ms-summary": "Success response",
            "schema": {
              "$ref": "#/definitions/filtergrouplist"
            }
          },
          "401": {
            "description": "Unauthenticated."
          },
          "403": {
            "description": "Access forbidden."
          },
          "429": {
            "description": "Resource exhausted. More than expected number of webhooks have been created."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Gets the list of available filter groups in Dime.Scheduler",
        "description": "Fetches the list of filter groups",
        "operationId": "GetFilterGroups",
        "tags": [
          "filters"
        ]
      },
      "post": {
        "summary": "Add or update a filter group",
        "description": "Add or update a filter group.",
        "operationId": "filterGroupUpsert",
        "tags": [
          "filters"
        ],
        "parameters": [
          {
            "name": "filterGroup",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/filterGroup"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove a filter group",
        "description": "Remove a filter group.",
        "operationId": "filterGroupDelete",
        "tags": [
          "filters"
        ],
        "parameters": [
          {
            "name": "filterGroup",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/filterGroup"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/filterValue": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Response to successful retrieval filter values",
            "x-ms-summary": "Success response",
            "schema": {
              "$ref": "#/definitions/filtervaluelist"
            }
          },
          "401": {
            "description": "Unauthenticated."
          },
          "403": {
            "description": "Access forbidden."
          },
          "429": {
            "description": "Resource exhausted. More than expected number of webhooks have been created."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Gets the list of available filter values in Dime.Scheduler",
        "description": "Fetches the list of filter values",
        "operationId": "GetFilterValues",
        "tags": [
          "filters"
        ]
      },
      "post": {
        "summary": "Add or update a filter value",
        "description": "Add or update a filter value.",
        "operationId": "filterValueUpsert",
        "tags": [
          "filters"
        ],
        "parameters": [
          {
            "name": "filterValue",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/filterValue"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove a filter value",
        "description": "Remove a filter value.",
        "operationId": "filterValueDelete",
        "tags": [
          "filters"
        ],
        "parameters": [
          {
            "name": "filterValue",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/filterValue"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/job": {
      "post": {
        "summary": "Add or update a job",
        "description": "Add or update a job.",
        "operationId": "jobUpsert",
        "tags": [
          "task"
        ],
        "parameters": [
          {
            "name": "job",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/job"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove a job",
        "description": "Remove a job.",
        "operationId": "jobDelete",
        "tags": [
          "task"
        ],
        "parameters": [
          {
            "name": "job",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/job-delete"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/notification": {
      "post": {
        "summary": "Add or update a notification",
        "description": "Add or update a notification.",
        "operationId": "notificationUpsert",
        "parameters": [
          {
            "name": "notification",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/notification"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove a notification",
        "description": "Remove a notification.",
        "operationId": "notificationDelete",
        "parameters": [
          {
            "name": "notification",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/notification"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/resourceCalendar": {
      "post": {
        "summary": "Add or update a calendar for a resource",
        "description": "Add or update a calendar for a resource.",
        "operationId": "resourceCalendarUpsert",
        "tags": [
          "resource"
        ],
        "parameters": [
          {
            "name": "resourceCalendar",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/resourceCalendar"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove a calendar for a resource",
        "description": "Remove a calendar for a resource.",
        "operationId": "resourceCalendarDelete",
        "tags": [
          "resource"
        ],
        "parameters": [
          {
            "name": "resourceCalendar",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/resourceCalendar"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/resourceCapacity": {
      "post": {
        "summary": "Set the capacity of a resource",
        "description": "Set the capacity of a resource.",
        "operationId": "resourceCapacityUpsert",
        "tags": [
          "resource"
        ],
        "parameters": [
          {
            "name": "resourceCapacity",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/resourceCapacity"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove the capacity of a resource",
        "description": "Remove the capacity of a resource.",
        "operationId": "resourceCapacityDelete",
        "tags": [
          "resource"
        ],
        "parameters": [
          {
            "name": "resourceCapacity",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/resourceCapacity"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/resourceFilterValue": {
      "post": {
        "summary": "Set the filter value of a resource",
        "description": "Set the filter value of a resource.",
        "operationId": "resourceFilterValueUpsert",
        "tags": [
          "resource"
        ],
        "parameters": [
          {
            "name": "resourceFilterValue",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/resourceFilterValue"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove the filter value of a resource",
        "description": "Remove the filter value of a resource.",
        "operationId": "resourceFilterValueDelete",
        "tags": [
          "resource"
        ],
        "parameters": [
          {
            "name": "resourceFilterValue",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/resourceFilterValue"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/resourceGpsTracking": {
      "post": {
        "summary": "Set the live location of a resource",
        "description": "Set the live location of a resource.",
        "operationId": "resourceGpstrackingUpsert",
        "tags": [
          "resource"
        ],
        "parameters": [
          {
            "name": "resourceGpsTracking",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/resourceGpsTracking"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove the live location of a resource",
        "description": "Remove the live location of a resource.",
        "operationId": "resourceGpstrackingDelete",
        "tags": [
          "resource"
        ],
        "parameters": [
          {
            "name": "resourceGpsTracking",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/resourceGpsTracking"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/resourceUri": {
      "post": {
        "summary": "Set the uri of a resource",
        "description": "Set the uri of a resource.",
        "operationId": "resourceUriUpsert",
        "tags": [
          "resource"
        ],
        "parameters": [
          {
            "name": "resourceUri",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/resourceUri"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove the uri of a resource",
        "description": "Remove the uri of a resource.",
        "operationId": "resourceUriDelete",
        "tags": [
          "resource"
        ],
        "parameters": [
          {
            "name": "resourceUri",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/resourceUri"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/task": {
      "post": {
        "summary": "Add or update a task",
        "description": "Add or update a task.",
        "operationId": "taskUpsert",
        "tags": [
          "task"
        ],
        "parameters": [
          {
            "name": "task",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/task"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove a task",
        "description": "Remove a task.",
        "operationId": "taskDelete",
        "tags": [
          "task"
        ],
        "parameters": [
          {
            "name": "task",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/task-delete"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/taskContainer": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Add or update a task container",
        "description": "Add or update a task container.",
        "operationId": "taskContainerUpsert",
        "tags": [
          "task"
        ],
        "parameters": [
          {
            "name": "taskContainer",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/taskContainer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Remove a task container",
        "description": "Remove a task container.",
        "operationId": "taskContainerDelete",
        "tags": [
          "task"
        ],
        "parameters": [
          {
            "name": "taskContainer",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/taskContainer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/taskFilterValue": {
      "post": {
        "summary": "Add or update a task filter value",
        "description": "Add or update a task filter value.",
        "operationId": "taskFiltervalueUpsert",
        "tags": [
          "task"
        ],
        "parameters": [
          {
            "name": "taskFilterValue",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/taskFilterValue"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Remove a task filter value",
        "description": "Remove a task filter value.",
        "operationId": "taskFiltervalueDelete",
        "tags": [
          "task"
        ],
        "parameters": [
          {
            "name": "taskFilterValue",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/taskFilterValue"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/taskLocked": {
      "post": {
        "summary": "Set the task's locked status",
        "description": "Set the task's locked status.",
        "operationId": "taskLockedUpsert",
        "tags": [
          "task"
        ],
        "parameters": [
          {
            "name": "taskLocked",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/taskLocked"
            },
            "description": "JSON request body containing the contents of the requested entity to be posted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    }
  },
  "definitions": {
    "actionUri": {
      "type": "object",
      "required": [
        "uri"
      ],
      "properties": {
        "sourceApp": {
          "x-ms-summary": "Source application",
          "description": "A unique identifier that lets Dime.Scheduler know to which back-office system this record belongs to.",
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "x-ms-summary": "Source type",
          "description": "A discriminator that describes the type of entity that this record represents.",
          "maxLength": 10,
          "type": "string"
        },
        "uriType": {
          "x-ms-summary": "URI type",
          "format": "int32",
          "type": "integer",
          "description": "The scope of the action URI",
          "x-ms-enum-values": [
            {
              "displayName": "Planning Board",
              "value": 0
            },
            {
              "displayName": "Appointment",
              "value": 1
            },
            {
              "displayName": "Task",
              "value": 2
            },
            {
              "displayName": "Map",
              "value": 3
            }
          ],
          "enum": [
            0,
            1,
            2,
            3
          ]
        },
        "uri": {
          "x-ms-summary": "URI",
          "description": "The URI to call upon invocation",
          "type": "string"
        },
        "description": {
          "x-ms-summary": "Description",
          "description": "The display text of the action URI",
          "maxLength": 255,
          "type": "string"
        },
        "default": {
          "x-ms-summary": "Default",
          "type": "boolean"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "uriType": 0,
        "uri": "string",
        "description": "string",
        "default": true
      }
    },
    "appointment-outgoing": {
      "type": "object",
      "properties": {
        "appointmentId": {
          "x-ms-summary": "Appointment id",
          "description": "The unique number to identify this appointment",
          "format": "int64",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "appointmentGuid": {
          "x-ms-summary": "Appointment GUID",
          "description": "The GUID to identify this appointment",
          "format": "uuid",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "appointmentNo": {
          "x-ms-summary": "Appointment No",
          "description": "The appointment's identifier",
          "type": "string"
        },
        "sourceApp": {
          "x-ms-summary": "Source application",
          "description": "A unique identifier that lets Dime.Scheduler know to which back-office system this record belongs to.",
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "x-ms-summary": "Source type",
          "description": "A discriminator that describes the type of entity that this record represents.",
          "maxLength": 10,
          "type": "string"
        },
        "jobNo": {
          "x-ms-summary": "Job no.",
          "description": "The unique identifier that is associated with the job.",
          "maxLength": 50,
          "type": "string"
        },
        "taskNo": {
          "x-ms-summary": "Task no.",
          "description": "The unique identifier that is associated with the task.",
          "maxLength": 50,
          "type": "string"
        },
        "resourceNo": {
          "x-ms-summary": "Resource no.",
          "description": "The unique identifier that is associated with the resource.",
          "maxLength": 50,
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "GetResources",
            "value-path": "resourceNo",
            "value-title": "displayName"
          }
        },
        "subject": {
          "x-ms-summary": "Subject",
          "description": "The appointment's subject",
          "type": "string"
        },
        "body": {
          "x-ms-summary": "Body",
          "description": "The appointment's body",
          "type": "string"
        },
        "start": {
          "x-ms-summary": "Start",
          "description": "The start date of the appointment",
          "format": "date-time",
          "type": "string"
        },
        "end": {
          "x-ms-summary": "End",
          "description": "The end date of the appointment",
          "format": "date-time",
          "type": "string"
        },
        "timeMarkerId": {
          "type": "integer",
          "x-ms-summary": "Time Marker",
          "description": "Specifies the color of the horizontal bar at the bottom of the appointment in the planning board. Used to represent any kind of status or property that applies to your business.",
          "x-ms-dynamic-values": {
            "operationId": "GetTimeMarkers",
            "value-path": "id",
            "value-title": "name"
          }
        },
        "categoryId": {
          "type": "integer",
          "x-ms-summary": "Category",
          "description": "Specifies the background color of the appointment in the planning board. Used to represent any kind of status or property that applies to your business.",
          "x-ms-dynamic-values": {
            "operationId": "GetCategories",
            "value-path": "id",
            "value-title": "name"
          }
        },
        "importance": {
          "x-ms-summary": "Importance",
          "type": "integer",
          "default": 0,
          "x-ms-enum-values": [
            {
              "displayName": "Medium",
              "value": 0
            },
            {
              "displayName": "High",
              "value": 1
            },
            {
              "displayName": "Low",
              "value": 2
            }
          ],
          "enum": [
            0,
            1,
            2
          ]
        },
        "locked": {
          "x-ms-summary": "Locked",
          "type": "boolean"
        },
        "replaceResource": {
          "x-ms-summary": "Replace resource",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "backOfficeId": {
          "x-ms-summary": "Back office id",
          "maxLength": 100,
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "backOfficeParentId": {
          "x-ms-summary": "Back office parent id",
          "maxLength": 100,
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "unitOfMeasure": {
          "x-ms-summary": "Unit of measure",
          "maxLength": 20,
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "unitOfMeasureConversion": {
          "x-ms-summary": "Unit of measure conversion",
          "format": "double",
          "type": "number",
          "x-ms-visibility": "advanced"
        },
        "planningQuantity": {
          "x-ms-summary": "Planning quantity",
          "format": "double",
          "type": "number",
          "x-ms-visibility": "advanced"
        },
        "useFixedPlanningQuantity": {
          "x-ms-summary": "Use fixed planning quantity",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "roundToUnitOfMeasure": {
          "x-ms-summary": "Round to unit of measure",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "sentFromBackOffice": {
          "x-ms-summary": "Sent from back office",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "appointment-outgoing-new": {
      "type": "object",
      "required": [
        "sourceApp",
        "sourceType",
        "jobNo",
        "taskNo",
        "resourceNo",
        "start",
        "end"
      ],
      "properties": {
        "sourceApp": {
          "x-ms-summary": "Source application",
          "description": "A unique identifier that lets Dime.Scheduler know to which back-office system this record belongs to.",
          "maxLength": 30,
          "type": "string"
        },
        "sourceType": {
          "x-ms-summary": "Source type",
          "description": "A discriminator that describes the type of entity that this record represents.",
          "maxLength": 10,
          "type": "string"
        },
        "jobNo": {
          "x-ms-summary": "Job no.",
          "description": "The unique identifier that is associated with the job.",
          "maxLength": 50,
          "type": "string"
        },
        "taskNo": {
          "x-ms-summary": "Task no.",
          "description": "The unique identifier that is associated with the task.",
          "maxLength": 50,
          "type": "string"
        },
        "resourceNo": {
          "x-ms-summary": "Resource no.",
          "description": "The unique identifier that is associated with the resource.",
          "maxLength": 50,
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "GetResources",
            "value-path": "resourceNo",
            "value-title": "displayName"
          }
        },
        "subject": {
          "x-ms-summary": "Subject",
          "description": "The appointment's subject",
          "type": "string"
        },
        "body": {
          "x-ms-summary": "Body",
          "description": "The appointment's body",
          "type": "string"
        },
        "start": {
          "x-ms-summary": "Start",
          "description": "The start date. Use ISO 8601 standard. For example 2023-11-16T10:09:21Z",
          "format": "date-time",
          "type": "string"
        },
        "end": {
          "x-ms-summary": "End",
          "description": "The end date. Use ISO 8601 standard. For example 2023-11-16T10:09:21Z",
          "format": "date-time",
          "type": "string"
        },
        "timeMarkerId": {
          "type": "integer",
          "description": "Specifies the color of the horizontal bar at the bottom of the appointment in the planning board. Used to represent any kind of status or property that applies to your business.",
          "x-ms-summary": "Time Marker",
          "x-ms-dynamic-values": {
            "operationId": "GetTimeMarkers",
            "value-path": "id",
            "value-title": "name"
          }
        },
        "categoryId": {
          "type": "integer",
          "x-ms-summary": "Category",
          "description": "Specifies the background color of the appointment in the planning board. Used to represent any kind of status or property that applies to your business.",
          "x-ms-dynamic-values": {
            "operationId": "GetCategories",
            "value-path": "id",
            "value-title": "name"
          }
        },
        "importance": {
          "x-ms-summary": "Importance",
          "type": "integer",
          "default": 0,
          "x-ms-enum-values": [
            {
              "displayName": "Medium",
              "value": 0
            },
            {
              "displayName": "High",
              "value": 1
            },
            {
              "displayName": "Low",
              "value": 2
            }
          ],
          "enum": [
            0,
            1,
            2
          ]
        },
        "locked": {
          "x-ms-summary": "Locked",
          "description": "Set to true to make the appointment immutable.",
          "type": "boolean"
        },
        "replaceResource": {
          "x-ms-summary": "Replace resource",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "backOfficeId": {
          "x-ms-summary": "Back office id",
          "maxLength": 100,
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "backOfficeParentId": {
          "x-ms-summary": "Back office parent id",
          "maxLength": 100,
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "unitOfMeasure": {
          "x-ms-summary": "Unit of measure",
          "maxLength": 20,
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "unitOfMeasureConversion": {
          "x-ms-summary": "Unit of measure conversion",
          "format": "double",
          "type": "number",
          "x-ms-visibility": "advanced"
        },
        "planningQuantity": {
          "x-ms-summary": "Planning quantity",
          "format": "double",
          "type": "number",
          "x-ms-visibility": "advanced"
        },
        "useFixedPlanningQuantity": {
          "x-ms-summary": "Use fixed planning quantity",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "roundToUnitOfMeasure": {
          "x-ms-summary": "Round to unit of measure",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "sentFromBackOffice": {
          "x-ms-summary": "Sent from back office",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "appointment-incoming": {
      "type": "object",
      "properties": {
        "appointmentNo": {
          "x-ms-summary": "Appointment No",
          "description": "The appointment's identifier",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "ExternalId": {
          "type": "integer"
        },
        "Subject": {
          "type": "string",
          "description": "The appointment's subject"
        },
        "Body": {
          "type": "string",
          "description": "The appointment's body"
        },
        "StartDate": {
          "type": "string",
          "format": "date-time",
          "title": "Start date",
          "description": "The appointment's start date"
        },
        "EndDate": {
          "type": "string",
          "format": "date-time",
          "title": "End date",
          "description": "The appointment's end date"
        },
        "Importance": {
          "type": "integer",
          "description": "The priority of this appointment"
        },
        "AppointmentGuid": {
          "type": "string",
          "description": "The appointment's GUID"
        },
        "Locked": {
          "type": "boolean",
          "description": "Set to true if the appointment is immutable."
        },
        "PlanningUOM": {
          "type": "string",
          "title": "Planning unit of measure",
          "description": "Planning unit of measure"
        },
        "PlanningQty": {
          "format": "double",
          "type": "number",
          "title": "Planning quantity",
          "description": "Planning quantity"
        },
        "UseFixPlanningQty": {
          "type": "boolean",
          "title": "Use fixed planning quantity",
          "description": "Set to true to use fixed planning quantity"
        },
        "RoundToUOM": {
          "type": "boolean",
          "title": "Round to unit of measure",
          "description": "Set to true when round to unit of measure"
        },
        "LastModifiedDate": {
          "type": "string",
          "title": "Last modified date"
        },
        "LastModifiedUser": {
          "type": "string",
          "title": "Last modified user"
        },
        "IsRecurrenceException": {
          "type": "boolean",
          "title": "Is recurrence exception"
        },
        "CapacityIndicator": {
          "type": "boolean",
          "title": "Capacity indicator"
        },
        "AppointmentFieldValues": {
          "type": "array",
          "items": {}
        },
        "AppointmentUrls": {
          "type": "array",
          "items": {}
        },
        "AppointmentContainers": {
          "type": "array",
          "items": {}
        },
        "Notifications": {
          "type": "array",
          "items": {}
        },
        "CreatedDate": {
          "type": "string",
          "title": "Created on"
        },
        "CreatedUser": {
          "type": "string",
          "title": "Created by"
        },
        "Task": {
          "type": "object",
          "properties": {
            "TaskNo": {
              "type": "string",
              "title": "Task No"
            },
            "Job": {
              "type": "object",
              "properties": {
                "SourceApp": {
                  "type": "string",
                  "title": "Job source app"
                },
                "SourceType": {
                  "type": "string",
                  "title": "Job source type"
                },
                "JobNo": {
                  "type": "string",
                  "title": "Job No"
                }
              }
            }
          }
        },
        "Category": {
          "type": "object",
          "properties": {
            "DisplayName": {
              "type": "string",
              "title": "Category name"
            },
            "Color": {
              "type": "string",
              "title": "Category color"
            }
          }
        },
        "TimeMarker": {
          "type": "object",
          "properties": {
            "Name": {
              "type": "string",
              "title": "Time marker name"
            },
            "Color": {
              "type": "string",
              "title": "Time marker color"
            }
          }
        },
        "Assignments": {
          "type": "array",
          "description": "The list of resources assigned to the appointment.",
          "items": {
            "type": "object",
            "properties": {
              "ResourceId": {
                "type": "integer",
                "x-ms-visibility": "internal"
              },
              "Resource": {
                "type": "object",
                "description": "The resource",
                "properties": {
                  "ResourceType": {
                    "type": "object",
                    "properties": {
                      "DisplayName": {
                        "type": "string",
                        "title": "Resource type name"
                      }
                    }
                  },
                  "SourceApp": {
                    "type": "string",
                    "title": "Resource source app",
                    "description": "A unique identifier that lets Dime.Scheduler know to which back-office system this record belongs to."
                  },
                  "SourceType": {
                    "type": "string",
                    "title": "Resource source type",
                    "description": "A discriminator that describes the type of entity that this record represents."
                  },
                  "DisplayName": {
                    "type": "string",
                    "title": "Resource display name"
                  },
                  "Department": {
                    "type": "string",
                    "title": "Resource department"
                  },
                  "ResourceNo": {
                    "type": "string",
                    "title": "Resource Number"
                  },
                  "Email": {
                    "type": "string",
                    "title": "Resource email"
                  }
                }
              }
            }
          }
        }
      },
      "example": {
        "appointmentGuid": "04cd4567-1295-4226-86bd-5b1e99d7bab8",
        "sourceApp": "MYCRMAPP",
        "sourceType": "DEMO",
        "jobNo": "DS_DEMO",
        "taskNo": "DS_DEMO_15MIN",
        "resourceNo": "JOHNDOE",
        "subject": "Dime.Scheduler 15 minute introduction",
        "body": "Dime.Scheduler 15 minute introduction. Teams meeting.",
        "start": "2022-10-01T15:00:00Z",
        "end": "2022-10-01T15:15:00Z"
      }
    },
    "appointmentCategory": {
      "type": "object",
      "required": [
        "appointmentNo",
        "category"
      ],
      "properties": {
        "sourceApp": {
          "x-ms-summary": "Source application",
          "description": "A unique identifier that lets Dime.Scheduler know to which back-office system this record belongs to.",
          "maxLength": 30,
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "sourceType": {
          "x-ms-summary": "Source type",
          "description": "A discriminator that describes the type of entity that this record represents.",
          "maxLength": 10,
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "appointmentId": {
          "x-ms-summary": "Appointment id",
          "description": "The unique number to identify this appointment",
          "format": "int64",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "appointmentNo": {
          "x-ms-summary": "Appointment No",
          "description": "The appointment's identifier",
          "type": "string"
        },
        "category": {
          "x-ms-summary": "Category",
          "maxLength": 100,
          "type": "string",
          "description": "Specifies the background color of the appointment in the planning board. Used to represent any kind of status or property that applies to your business.",
          "x-ms-dynamic-values": {
            "operationId": "GetCategories",
            "value-path": "name",
            "value-title": "name"
          }
        },
        "appointmentGuid": {
          "x-ms-summary": "Appointment GUID",
          "description": "The GUID to identify this appointment",
          "format": "uuid",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "sentFromBackOffice": {
          "x-ms-summary": "Sent from back-office",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "category": "string",
        "appointmentGuid": "string"
      }
    },
    "appointmentContainer": {
      "type": "object",
      "required": [
        "appointment",
        "container"
      ],
      "properties": {
        "container": {
          "x-ms-summary": "Container",
          "description": "The container code to assign this appointment to",
          "maxLength": 100,
          "type": "string"
        },
        "appointment": {
          "x-ms-summary": "Appointment",
          "description": "The appointment's identifier",
          "maxLength": 100,
          "type": "string"
        }
      },
      "example": {
        "container": "string",
        "appointment": "string"
      }
    },
    "appointmentContent": {
      "type": "object",
      "required": [
        "appointmentNo"
      ],
      "properties": {
        "sourceApp": {
          "x-ms-summary": "Source application",
          "description": "A unique identifier that lets Dime.Scheduler know to which back-office system this record belongs to.",
          "maxLength": 30,
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "sourceType": {
          "x-ms-summary": "Source type",
          "description": "A discriminator that describes the type of entity that this record represents.",
          "maxLength": 10,
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "appointmentId": {
          "x-ms-summary": "Appointment id",
          "description": "The unique number to identify this appointment",
          "format": "int64",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "appointmentNo": {
          "x-ms-summary": "Appointment No",
          "description": "The appointment's identifier",
          "type": "string"
        },
        "appointmentGuid": {
          "x-ms-summary": "Appointment GUID",
          "description": "The GUID to identify this appointment",
          "format": "uuid",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "subject": {
          "x-ms-summary": "Subject",
          "description": "The appointment's subject",
          "type": "string"
        },
        "body": {
          "x-ms-summary": "Body",
          "description": "The appointment's body",
          "type": "string"
        },
        "sentFromBackOffice": {
          "x-ms-summary": "Sent from back-office",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "appointmentGuid": "string",
        "subject": "string",
        "body": "string"
      }
    },
    "appointmentImportance": {
      "type": "object",
      "required": [
        "appointmentNo",
        "importance"
      ],
      "properties": {
        "sourceApp": {
          "x-ms-summary": "Source application",
          "description": "A unique identifier that lets Dime.Scheduler know to which back-office system this record belongs to.",
          "maxLength": 30,
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "sourceType": {
          "x-ms-summary": "Source type",
          "description": "A discriminator that describes the type of entity that this record represents.",
          "maxLength": 10,
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "appointmentId": {
          "x-ms-summary": "Appointment id",
          "description": "The unique number to identify this appointment",
          "format": "int64",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "appointmentNo": {
          "x-ms-summary": "Appointment No",
          "description": "The appointment's identifier",
          "type": "string"
        },
        "importance": {
          "x-ms-summary": "Importance",
          "description": "The appointment's priority",
          "format": "int32",
          "default": 0,
          "x-ms-enum-values": [
            {
              "displayName": "Medium",
              "value": 0
            },
            {
              "displayName": "High",
              "value": 1
            },
            {
              "displayName": "Low",
              "value": 2
            }
          ],
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer"
        },
        "appointmentGuid": {
          "x-ms-summary": "Appointment GUID",
          "description": "The GUID to identify this appointment",
          "format": "uuid",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "sentFromBackOffice": {
          "x-ms-summary": "Sent from back-office",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "importance": 0,
        "appointmentGuid": "string"
      }
    },
    "appointmentLocked": {
      "type": "object",
      "required": [
        "appointmentNo",
        "locked"
      ],
      "properties": {
        "sourceApp": {
          "x-ms-summary": "Source application",
          "description": "A unique identifier that lets Dime.Scheduler know to which back-office system this record belongs to.",
          "maxLength": 30,
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "sourceType": {
          "x-ms-summary": "Source type",
          "description": "A discriminator that describes the type of entity that this record represents.",
          "maxLength": 10,
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "appointmentId": {
          "x-ms-summary": "Appointment id",
          "description": "The unique number to identify this appointment",
          "format": "int64",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "appointmentNo": {
          "x-ms-summary": "Appointment No",
          "description": "The appointment's identifier",
          "type": "string"
        },
        "locked": {
          "x-ms-summary": "Locked",
          "description": "True to lock the appointment, and false to unlock.",
          "type": "boolean"
        },
        "appointmentGuid": {
          "x-ms-summary": "Appointment GUID",
          "description": "The GUID to identify this appointment",
          "format": "uuid",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "sentFromBackOffice": {
          "x-ms-summary": "Sent from back-office",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        }
      },
      "example": {
        "sourceApp": "string",
        "sourceType": "string",
        "locked": true,
        "appointmentGuid": "string"
      }
    },
    "appointmentPlanningQuantity": {
      "type": "object",
      "required": [
        "appointmentNo",
        "quantity"
      ],
      "properties": {
        "sourceApp": {
          "x-ms-summary": "Source application",
          "description": "A unique identifier that lets Dime.Scheduler know to which back-office system this record belongs to.",
          "maxLength": 30,
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "sourceType": {
[...]
