{
      "swagger": "2.0",
      "info": {
        "version": "1.0",
        "title": "Excel Online (Business)",
        "description": "Excel Online (Business) connector lets you work with Excel files in document libraries supported by Microsoft Graph (OneDrive for Business, SharePoint Sites, and Office 365 Groups).",
        "x-ms-api-annotation": { "status": "Production" },
        "contact": { "name": "Microsoft" }
      },
      "host": "tip1-shared.azure-apim.net",
      "schemes": [ "https" ],
      "paths": {
        "/{connectionId}/$metadata.json/datasets": {
          "get": {
            "tags": [ "ExcelOnlineDataSetsMetadata" ],
            "summary": "Get datasets metadata",
            "description": "Get datasets metadata.",
            "operationId": "GetDataSetsMetadata",
            "consumes": [],
            "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
            "responses": {
              "200": {
                "description": "OK",
                "schema": { "$ref": "#/definitions/DataSetsMetadata" }
              },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": true,
            "x-ms-visibility": "internal",
            "x-ms-api-annotation": {
              "status": "Production",
              "family": "GetDataSetsMetadata",
              "revision": 1
            },
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#get-datasets-metadata-%5bdeprecated%5d" },
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              }
            ]
          }
        },
        "/{connectionId}/v2/$metadata.json/datasets": {
          "get": {
            "tags": [ "ExcelOnlineDataSetsMetadata" ],
            "summary": "Get datasets metadata (V2)",
            "description": "Get datasets metadata.",
            "operationId": "GetDataSetsMetadataV2",
            "consumes": [],
            "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
            "responses": {
              "200": {
                "description": "OK",
                "schema": { "$ref": "#/definitions/DataSetsMetadata" }
              },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": false,
            "x-ms-visibility": "internal",
            "x-ms-api-annotation": {
              "status": "Production",
              "family": "GetDataSetsMetadata",
              "revision": 2
            },
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#get-datasets-metadata-(v2)" },
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              }
            ]
          }
        },
        "/{connectionId}/$metadata.json/datasets/{dataset}/tables/{table}": {
          "get": {
            "tags": [ "ExcelTableMetadata" ],
            "summary": "Get table metadata",
            "description": "Retrieves metadata for an Excel Online table.",
            "operationId": "GetTableTabular",
            "consumes": [],
            "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              {
                "name": "dataset",
                "in": "path",
                "description": "Dataset.",
                "required": true,
                "x-ms-summary": "Dataset",
                "type": "string"
              },
              {
                "name": "table",
                "in": "path",
                "description": "Table name.",
                "required": true,
                "x-ms-url-encoding": "double",
                "x-ms-summary": "Table name",
                "type": "string"
              }
            ],
            "responses": {
              "200": {
                "description": "OK",
                "schema": { "$ref": "#/definitions/TableMetadata" }
              },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": true,
            "x-ms-visibility": "internal",
            "x-ms-api-annotation": {
              "status": "Production",
              "family": "GetTableTabular",
              "revision": 1
            },
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#get-table-metadata-%5bdeprecated%5d" }
          }
        },
        "/{connectionId}/v2/$metadata.json/datasets/{dataset}/tables/{table}": {
          "get": {
            "tags": [ "ExcelTableMetadata" ],
            "summary": "Get table metadata (V2)",
            "description": "Retrieves metadata for an Excel Online table.",
            "operationId": "GetTableTabularV2",
            "consumes": [],
            "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              {
                "name": "dataset",
                "in": "path",
                "description": "Dataset.",
                "required": true,
                "x-ms-summary": "Dataset",
                "type": "string"
              },
              {
                "name": "table",
                "in": "path",
                "description": "Table name.",
                "required": true,
                "x-ms-url-encoding": "double",
                "x-ms-summary": "Table name",
                "type": "string"
              }
            ],
            "responses": {
              "200": {
                "description": "OK",
                "schema": { "$ref": "#/definitions/TableMetadata" }
              },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": false,
            "x-ms-visibility": "internal",
            "x-ms-api-annotation": {
              "status": "Production",
              "family": "GetTableTabular",
              "revision": 2
            },
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#get-table-metadata-(v2)" }
          }
        },
        "/{connectionId}/testconnection": {
          "get": {
            "tags": [ "ExcelOnlineDiagnostic" ],
            "operationId": "TestConnection",
            "consumes": [],
            "produces": [],
            "responses": {
              "200": { "description": "OK" },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": false,
            "x-ms-visibility": "internal",
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              }
            ]
          }
        },
        "/{connectionId}/officescripting/api/unattended/run/{drive}/{file}": {
          "post": {
            "tags": [ "officescripting" ],
            "summary": "Run script",
            "operationId": "RunScriptProd",
            "description": "Runs an Office Script against an Excel workbook.",
            "consumes": [],
            "produces": [],
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              { "$ref": "#/parameters/source" },
              { "$ref": "#/parameters/drive" },
              {
                "name": "file",
                "in": "path",
                "required": true,
                "type": "string",
                "description": "Select an Excel file through File Browse.",
                "x-ms-url-encoding": "double",
                "x-ms-summary": "File",
                "x-ms-dynamic-values": {
                  "capability": "file-picker",
                  "parameters": {
                    "isFolder": false,
                    "fileFilter": [ "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "application/vnd.ms-excel.sheet.macroEnabled.12", "application/vnd.ms-excel.sheet.binary.macroEnabled.12" ],
                    "drive": { "parameter": "drive" }
                  },
                  "value-path": "id"
                },
                "x-ms-dynamic-tree": {
                  "settings": {
                    "canSelectParentNodes": false,
                    "canSelectLeafNodes": true
                  },
                  "open": {
                    "operationId": "ListRootFolder",
                    "parameters": {
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)",
                    "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.macroEnabled.12' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')"
                  },
                  "browse": {
                    "operationId": "ListFolder",
                    "parameters": {
                      "id": { "selectedItemValuePath": "Id" },
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)",
                    "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.macroEnabled.12' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')"
                  }
                }
              },
              {
                "name": "scriptId",
                "in": "query",
                "description": "Select the Office Script you want to run from the drop-down.",
                "required": true,
                "type": "string",
                "x-ms-dynamic-values": {
                  "operationId": "GetScripts",
                  "value-title": "name",
                  "value-path": "id"
                },
                "x-ms-summary": "Script"
              },
              {
                "name": "ScriptParameters",
                "in": "body",
                "description": "Provide the Office Script's parameters.",
                "required": true,
                "schema": { "$ref": "#/definitions/ScriptParameters" }
              }
            ],
            "responses": {
              "200": {
                "description": "OK",
                "schema": { "$ref": "#/definitions/ScriptReturnValues" }
              },
              "default": { "description": "Operation Failed." }
            },
            "x-ms-visibility": "important",
            "x-ms-api-annotation": {
              "status": "Production",
              "family": "RunScriptProd",
              "revision": 1
            },
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#run-script" }
          }
        },
        "/{connectionId}/officescripting/api/storage": {
          "get": {
            "tags": [ "officescripting" ],
            "summary": "Gets scripts",
            "description": "Gets all my scripts.",
            "operationId": "GetScripts",
            "consumes": [ "application/json" ],
            "produces": [ "application/json" ],
            "responses": {
              "200": {
                "description": "OK",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" }
                    }
                  }
                }
              },
              "default": { "description": "Operation Failed." }
            },
            "x-ms-visibility": "internal",
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#gets-scripts" },
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              }
            ]
          }
        },
        "/{connectionId}/officescripting/api/storage/script": {
          "get": {
            "tags": [ "officescripting" ],
            "summary": "Gets one script",
            "description": "Gets one of my scripts.",
            "operationId": "GetSingleScript",
            "consumes": [ "application/json" ],
            "produces": [ "application/json" ],
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              {
                "name": "scriptId",
                "in": "query",
                "required": true,
                "type": "string",
                "description": "Script chosen to use.",
                "x-ms-summary": "Chosen script"
              }
            ],
            "responses": {
              "200": {
                "description": "OK",
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameterInfo": {
                      "type": "object",
                      "properties": {
                        "parameterSchema": { "type": "object" },
                        "returnSchema": { "type": "object" }
                      }
                    }
                  }
                }
              },
              "default": { "description": "Operation Failed." }
            },
            "x-ms-visibility": "internal",
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#gets-one-script" }
          }
        },
        "/{connectionId}/drives/{drive}/files/{file}/tables": {
          "post": {
            "tags": [ "ExcelOnlineTable" ],
            "summary": "Create table",
            "description": "Create a new table in the Excel workbook.",
            "operationId": "CreateTable",
            "consumes": [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
            "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              {
                "name": "source",
                "in": "query",
                "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required).",
                "required": true,
                "x-ms-summary": "Location",
                "x-ms-dynamic-values": {
                  "operationId": "GetSources",
                  "parameters": {
                    "$select": "id,displayName",
                    "$top": "999"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "displayName"
                },
                "type": "string"
              },
              {
                "name": "drive",
                "in": "path",
                "description": "Select a document library from the drop-down.",
                "required": true,
                "x-ms-summary": "Document Library",
                "x-ms-dynamic-values": {
                  "operationId": "GetDrives",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "$select": "id,name"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "name"
                },
                "type": "string"
              },
              {
                "name": "file",
                "in": "path",
                "description": "Select an Excel file through File Browse.",
                "x-ms-url-encoding": "double",
                "required": true,
                "x-ms-summary": "File",
                "x-ms-dynamic-values": {
                  "capability": "file-picker",
                  "parameters": {
                    "drive": { "parameter": "drive" },
                    "isFolder": false,
                    "fileFilter": [ "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "application/vnd.ms-excel.sheet.binary.macroEnabled.12" ],
                    "dataset": null
                  },
                  "value-path": "Id"
                },
                "x-ms-dynamic-tree": {
                  "settings": {
                    "canSelectParentNodes": false,
                    "canSelectLeafNodes": true
                  },
                  "open": {
                    "operationId": "ListRootFolder",
                    "parameters": {
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)",
                    "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')"
                  },
                  "browse": {
                    "operationId": "ListFolder",
                    "parameters": {
                      "id": { "selectedItemValuePath": "Id" },
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)",
                    "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')"
                  }
                },
                "type": "string"
              },
              {
                "name": "table",
                "in": "body",
                "description": "Excel table.",
                "required": true,
                "schema": { "$ref": "#/definitions/TableToCreate" },
                "x-ms-summary": "Table"
              }
            ],
            "responses": {
              "200": {
                "description": "OK",
                "schema": { "$ref": "#/definitions/TableMetadata" }
              },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": false,
            "x-ms-visibility": "advanced",
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#create-table" }
          }
        },
        "/{connectionId}/drives/{drive}/files/{file}/tables/{table}/createIdColumn": {
          "post": {
            "tags": [ "ExcelOnlineTable" ],
            "summary": "Add a key column to a table",
            "description": "Add a key column to an Excel table. The new column will be appended to the right.",
            "operationId": "CreateIdColumn",
            "consumes": [],
            "produces": [],
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              {
                "name": "source",
                "in": "query",
                "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required).",
                "required": true,
                "x-ms-summary": "Location",
                "x-ms-dynamic-values": {
                  "operationId": "GetSources",
                  "parameters": {
                    "$select": "id,displayName",
                    "$top": "999"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "displayName"
                },
                "type": "string"
              },
              {
                "name": "drive",
                "in": "path",
                "description": "Select a document library from the drop-down.",
                "required": true,
                "x-ms-summary": "Document Library",
                "x-ms-dynamic-values": {
                  "operationId": "GetDrives",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "$select": "id,name"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "name"
                },
                "type": "string"
              },
              {
                "name": "file",
                "in": "path",
                "description": "Select an Excel file through File Browse.",
                "x-ms-url-encoding": "double",
                "required": true,
                "x-ms-summary": "File",
                "x-ms-dynamic-values": {
                  "capability": "file-picker",
                  "parameters": {
                    "drive": { "parameter": "drive" },
                    "isFolder": false,
                    "fileFilter": [ "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "application/vnd.ms-excel.sheet.binary.macroEnabled.12" ],
                    "dataset": null
                  },
                  "value-path": "Id"
                },
                "x-ms-dynamic-tree": {
                  "settings": {
                    "canSelectParentNodes": false,
                    "canSelectLeafNodes": true
                  },
                  "open": {
                    "operationId": "ListRootFolder",
                    "parameters": {
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)",
                    "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')"
                  },
                  "browse": {
                    "operationId": "ListFolder",
                    "parameters": {
                      "id": { "selectedItemValuePath": "Id" },
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)",
                    "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')"
                  }
                },
                "type": "string"
              },
              {
                "name": "table",
                "in": "path",
                "description": "Select a table from the drop-down.",
                "required": true,
                "x-ms-summary": "Table",
                "x-ms-dynamic-values": {
                  "operationId": "GetTables",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "drive": { "parameter": "drive" },
                    "file": { "parameter": "file" },
                    "$select": "id,name"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "name"
                },
                "type": "string"
              },
              {
                "name": "idColumn",
                "in": "query",
                "description": "Provide the key column name.",
                "required": false,
                "x-ms-summary": "Key Column",
                "type": "string",
                "default": "__PowerAppsId__"
              },
              {
                "name": "populateColumn",
                "in": "query",
                "required": false,
                "x-ms-summary": "Populate Column",
                "x-ms-visibility": "internal",
                "type": "boolean",
                "default": false
              }
            ],
            "responses": {
              "200": { "description": "OK" },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": false,
            "x-ms-visibility": "advanced",
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#add-a-key-column-to-a-table" }
          }
        },
        "/{connectionId}/drives({drive})/files({file})/tables({table})/items": {
          "get": {
            "tags": [ "ExcelOnlineTableData" ],
            "summary": "List rows present in a table (V2)",
            "description": "List rows present in a table.",
            "operationId": "ODataStyleGetItemsV2",
            "consumes": [],
            "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              {
                "name": "source",
                "in": "query",
                "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
                "required": true,
                "x-ms-summary": "Location",
                "type": "string"
              },
              {
                "name": "drive",
                "in": "path",
                "description": "Select a document library from the drop-down.",
                "required": true,
                "x-ms-summary": "Document Library",
                "type": "string"
              },
              {
                "name": "file",
                "in": "path",
                "description": "Select an Excel file through File Browse.",
                "required": true,
                "x-ms-summary": "File",
                "type": "string"
              },
              {
                "name": "table",
                "in": "path",
                "description": "Select a table from the drop-down.",
                "required": true,
                "x-ms-summary": "Table",
                "type": "string"
              },
              {
                "name": "$filter",
                "in": "query",
                "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
                "required": false,
                "x-ms-summary": "Filter Query",
                "x-ms-visibility": "advanced",
                "type": "string"
              },
              {
                "name": "$orderby",
                "in": "query",
                "description": "An ODATA orderBy query for specifying the order of entries.",
                "required": false,
                "x-ms-summary": "Order By",
                "x-ms-visibility": "advanced",
                "type": "string"
              },
              {
                "name": "$top",
                "in": "query",
                "description": "Total number of entries to retrieve (default = all).",
                "required": false,
                "x-ms-summary": "Top Count",
                "x-ms-visibility": "advanced",
                "type": "integer",
                "format": "int32"
              },
              {
                "name": "$skip",
                "in": "query",
                "description": "The number of entries to skip (default = 0).",
                "required": false,
                "x-ms-summary": "Skip Count",
                "x-ms-visibility": "advanced",
                "type": "integer",
                "format": "int32"
              },
              {
                "name": "$select",
                "in": "query",
                "description": "Specific fields to retrieve from entries (default = all).",
                "required": false,
                "x-ms-summary": "Select Query",
                "x-ms-visibility": "advanced",
                "type": "string"
              },
              {
                "name": "idColumn",
                "in": "query",
                "description": "Select a column from the drop-down.",
                "required": false,
                "x-ms-summary": "Key Column",
                "x-ms-visibility": "internal",
                "type": "string"
              },
              {
                "name": "dateTimeFormat",
                "in": "query",
                "description": "DateTime Format.",
                "required": false,
                "x-ms-summary": "DateTime Format",
                "x-ms-visibility": "advanced",
                "type": "string"
              }
            ],
            "responses": {
              "200": {
                "description": "OK",
                "schema": { "$ref": "#/definitions/ItemsList" }
              },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": false,
            "x-ms-visibility": "internal",
            "x-ms-pageable": { "nextLinkName": "@odata.nextLink" },
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#list-rows-present-in-a-table-(v2)" }
          },
          "post": {
            "tags": [ "ExcelOnlineTableData" ],
            "summary": "Update or insert a row (V2)",
            "description": "Update or insert a row using a key column.",
            "operationId": "ODataStylePostItemV2",
            "consumes": [],
            "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              {
                "name": "source",
                "in": "query",
                "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
                "required": true,
                "x-ms-summary": "Location",
                "type": "string"
              },
              {
                "name": "drive",
                "in": "path",
                "description": "Select a document library from the drop-down.",
                "required": true,
                "x-ms-summary": "Document Library",
                "type": "string"
              },
              {
                "name": "file",
                "in": "path",
                "description": "Select an Excel file through File Browse.",
                "required": true,
                "x-ms-summary": "File",
                "type": "string"
              },
              {
                "name": "table",
                "in": "path",
                "description": "Select a table from the drop-down.",
                "required": true,
                "x-ms-summary": "Table",
                "type": "string"
              },
              {
                "name": "idColumn",
                "in": "query",
                "description": "Select a column from the drop-down.",
                "required": true,
                "x-ms-summary": "Key Column",
                "type": "string"
              },
              {
                "name": "item",
                "in": "body",
                "description": "Provide the item properties.",
                "required": true,
                "schema": { "$ref": "#/definitions/Item" },
                "x-ms-summary": "Provide the item properties"
              },
              {
                "name": "mode",
                "in": "query",
                "description": "Mode of the operation.",
                "required": false,
                "x-ms-summary": "Mode",
                "x-ms-visibility": "internal",
                "type": "string",
                "default": "Upsert",
                "enum": [ "Add", "AddV2", "AddWithGeneratedId", "AddWithCustomId", "Upsert" ]
              },
              {
                "name": "dateTimeFormat",
                "in": "query",
                "description": "DateTime Format.",
                "required": false,
                "x-ms-summary": "DateTime Format",
                "x-ms-visibility": "advanced",
                "type": "string"
              }
            ],
            "responses": {
              "200": {
                "description": "OK",
                "schema": { "$ref": "#/definitions/Item" }
              },
              "201": {
                "description": "Created",
                "schema": { "$ref": "#/definitions/Item" }
              },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": false,
            "x-ms-visibility": "internal",
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#update-or-insert-a-row-(v2)" }
          }
        },
        "/{connectionId}/drives/{drive}/files/{file}/tables/{table}/items": {
          "get": {
            "tags": [ "ExcelOnlineTableData" ],
            "summary": "List rows present in a table",
            "description": "List rows present in a table.",
            "operationId": "GetItems",
            "consumes": [],
            "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              {
                "name": "source",
                "in": "query",
                "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
                "required": true,
                "x-ms-summary": "Location",
                "x-ms-dynamic-values": {
                  "operationId": "GetSources",
                  "parameters": {
                    "$select": "id,displayName",
                    "$top": "999"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "displayName"
                },
                "type": "string"
              },
              {
                "name": "drive",
                "in": "path",
                "description": "Select a document library from the drop-down.",
                "required": true,
                "x-ms-summary": "Document Library",
                "x-ms-dynamic-values": {
                  "operationId": "GetDrives",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "$select": "id,name"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "name"
                },
                "type": "string"
              },
              {
                "name": "file",
                "in": "path",
                "description": "Select an Excel file through File Browse.",
                "x-ms-url-encoding": "double",
                "required": true,
                "x-ms-summary": "File",
                "x-ms-dynamic-values": {
                  "capability": "file-picker",
                  "parameters": {
                    "isFolder": false,
                    "fileFilter": [ "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "application/vnd.ms-excel.sheet.binary.macroEnabled.12" ],
                    "drive": { "parameter": "drive" },
                    "dataset": null
                  },
                  "value-path": "Id"
                },
                "x-ms-dynamic-tree": {
                  "settings": {
                    "canSelectParentNodes": false,
                    "canSelectLeafNodes": true
                  },
                  "open": {
                    "operationId": "ListRootFolder",
                    "parameters": {
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)",
                    "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')"
                  },
                  "browse": {
                    "operationId": "ListFolder",
                    "parameters": {
                      "id": { "selectedItemValuePath": "Id" },
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)",
                    "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')"
                  }
                },
                "type": "string"
              },
              {
                "name": "table",
                "in": "path",
                "description": "Select a table from the drop-down.",
                "required": true,
                "x-ms-summary": "Table",
                "x-ms-dynamic-values": {
                  "operationId": "GetTables",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "drive": { "parameter": "drive" },
                    "file": { "parameter": "file" },
                    "$select": "id,name"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "name"
                },
                "type": "string"
              },
              {
                "name": "$filter",
                "in": "query",
                "description": "An ODATA filter query to restrict the entries returned.",
                "required": false,
                "x-ms-summary": "Filter Query",
                "x-ms-visibility": "advanced",
                "type": "string"
              },
              {
                "name": "$orderby",
                "in": "query",
                "description": "An ODATA orderBy query for specifying the order of entries.",
                "required": false,
                "x-ms-summary": "Order By",
                "x-ms-visibility": "advanced",
                "type": "string"
              },
              {
                "name": "$top",
                "in": "query",
                "description": "Total number of entries to retrieve (default = all).",
                "required": false,
                "x-ms-summary": "Top Count",
                "x-ms-visibility": "advanced",
                "type": "integer",
                "format": "int32"
              },
              {
                "name": "$skip",
                "in": "query",
                "description": "The number of entries to skip (default = 0).",
                "required": false,
                "x-ms-summary": "Skip Count",
                "x-ms-visibility": "advanced",
                "type": "integer",
                "format": "int32"
              },
              {
                "name": "$select",
                "in": "query",
                "description": "Comma-separated list of columns to retrieve (first 500 by default).",
                "required": false,
                "x-ms-summary": "Select Query",
                "x-ms-visibility": "advanced",
                "type": "string"
              },
              {
                "name": "idColumn",
                "in": "query",
                "description": "Select a column from the drop-down.",
                "required": false,
                "x-ms-summary": "Key Column",
                "x-ms-visibility": "internal",
                "type": "string"
              },
              {
                "name": "dateTimeFormat",
                "in": "query",
                "description": "DateTime Format.",
                "required": false,
                "x-ms-summary": "DateTime Format",
                "x-ms-visibility": "advanced",
                "type": "string",
                "enum": [ "Serial Number", "ISO 8601" ]
              }
            ],
            "responses": {
              "200": {
                "description": "OK",
                "schema": { "$ref": "#/definitions/ItemsList" }
              },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": false,
            "x-ms-visibility": "important",
            "x-ms-pageable": { "nextLinkName": "@odata.nextLink" },
            "x-ms-api-annotation": {
              "status": "Production",
              "family": "GetItems",
              "revision": 1
            },
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#list-rows-present-in-a-table" }
          },
          "post": {
            "tags": [ "ExcelOnlineTableData" ],
            "summary": "Update or insert a row",
            "description": "Update or insert a row using a key column.",
            "operationId": "PostItem",
            "consumes": [],
            "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              {
                "name": "source",
                "in": "query",
                "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
                "required": true,
                "x-ms-summary": "Location",
                "x-ms-dynamic-values": {
                  "operationId": "GetSources",
                  "parameters": {
                    "$select": "id,displayName",
                    "$top": "999"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "displayName"
                },
                "type": "string"
              },
              {
                "name": "drive",
                "in": "path",
                "description": "Select a document library from the drop-down.",
                "required": true,
                "x-ms-summary": "Document Library",
                "x-ms-dynamic-values": {
                  "operationId": "GetDrives",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "$select": "id,name"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "name"
                },
                "type": "string"
              },
              {
                "name": "file",
                "in": "path",
                "description": "Select an Excel file through File Browse.",
                "x-ms-url-encoding": "double",
                "required": true,
                "x-ms-summary": "File",
                "x-ms-dynamic-values": {
                  "capability": "file-picker",
                  "parameters": {
                    "isFolder": false,
                    "fileFilter": [ "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "application/vnd.ms-excel.sheet.binary.macroEnabled.12" ],
                    "drive": { "parameter": "drive" },
                    "dataset": null
                  },
                  "value-path": "Id"
                },
                "x-ms-dynamic-tree": {
                  "settings": {
                    "canSelectParentNodes": false,
                    "canSelectLeafNodes": true
                  },
                  "open": {
                    "operationId": "ListRootFolder",
                    "parameters": {
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)",
                    "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')"
                  },
                  "browse": {
                    "operationId": "ListFolder",
                    "parameters": {
                      "id": { "selectedItemValuePath": "Id" },
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)",
                    "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')"
                  }
                },
                "type": "string"
              },
              {
                "name": "table",
                "in": "path",
                "description": "Select a table from the drop-down.",
                "required": true,
                "x-ms-summary": "Table",
                "x-ms-dynamic-values": {
                  "operationId": "GetTables",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "drive": { "parameter": "drive" },
                    "file": { "parameter": "file" },
                    "$select": "id,name"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "name"
                },
                "type": "string"
              },
              {
                "name": "idColumn",
                "in": "query",
                "description": "Select a column from the drop-down.",
                "required": true,
                "x-ms-summary": "Key Column",
                "x-ms-dynamic-values": {
                  "operationId": "GetColumns",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "drive": { "parameter": "drive" },
                    "file": { "parameter": "file" },
                    "table": { "parameter": "table" }
                  },
                  "value-collection": "value",
                  "value-path": "name",
                  "value-title": "displayName"
                },
                "type": "string"
              },
              {
                "name": "item",
                "in": "body",
                "description": "Provide the item properties.",
                "required": true,
                "schema": { "$ref": "#/definitions/Item" },
                "x-ms-summary": "Provide the item properties"
              },
              {
                "name": "mode",
                "in": "query",
                "description": "Mode of the operation.",
                "required": false,
                "x-ms-summary": "Mode",
                "x-ms-visibility": "internal",
                "type": "string",
                "default": "Upsert",
                "enum": [ "Add", "AddV2", "AddWithGeneratedId", "AddWithCustomId", "Upsert" ]
              },
              {
                "name": "dateTimeFormat",
                "in": "query",
                "description": "DateTime Format.",
                "required": false,
                "x-ms-summary": "DateTime Format",
                "x-ms-visibility": "advanced",
                "type": "string",
                "enum": [ "Serial Number", "ISO 8601" ]
              }
            ],
            "responses": {
              "200": {
                "description": "OK",
                "schema": { "$ref": "#/definitions/Item" }
              },
              "201": {
                "description": "Created",
                "schema": { "$ref": "#/definitions/Item" }
              },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": false,
            "x-ms-visibility": "internal",
            "x-ms-api-annotation": {
              "status": "Production",
              "family": "PostItem",
              "revision": 1
            },
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#update-or-insert-a-row" }
          }
        },
        "/{connectionId}/drives({drive})/files({file})/tables({table})/items({id})": {
          "get": {
            "tags": [ "ExcelOnlineTableData" ],
            "summary": "Get a row (V2)",
            "description": "Get a row using a key column. This action will retrieve all the values of the specified row given a column and key column.",
            "operationId": "ODataStyleGetItemV2",
            "consumes": [],
            "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              {
                "name": "source",
                "in": "query",
                "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
                "required": true,
                "x-ms-summary": "Location",
                "type": "string"
              },
              {
                "name": "drive",
                "in": "path",
                "description": "Select a document library from the drop-down.",
                "required": true,
                "x-ms-summary": "Document Library",
                "type": "string"
              },
              {
                "name": "file",
                "in": "path",
                "description": "Select an Excel file through File Browse.",
                "required": true,
                "x-ms-summary": "File",
                "type": "string"
              },
              {
                "name": "table",
                "in": "path",
                "description": "Select a table from the drop-down.",
                "required": true,
                "x-ms-summary": "Table",
                "type": "string"
              },
              {
                "name": "idColumn",
                "in": "query",
                "description": "Select a column from the drop-down.",
                "required": true,
                "x-ms-summary": "Key Column",
                "type": "string"
              },
              {
                "name": "id",
                "in": "path",
                "description": "Enter the key value.",
                "required": true,
                "x-ms-summary": "Key Value",
                "type": "string"
              },
              {
                "name": "dateTimeFormat",
                "in": "query",
                "description": "DateTime Format.",
                "required": false,
                "x-ms-summary": "DateTime Format",
                "x-ms-visibility": "advanced",
                "type": "string"
              }
            ],
            "responses": {
              "200": {
                "description": "OK",
                "schema": { "$ref": "#/definitions/Item" }
              },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": false,
            "x-ms-visibility": "internal",
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#get-a-row-(v2)" }
          },
          "delete": {
            "tags": [ "ExcelOnlineTableData" ],
            "summary": "Delete a row",
            "description": "Delete a row using a key column.",
            "operationId": "ODataStyleDeleteItem",
            "consumes": [],
            "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              {
                "name": "source",
                "in": "query",
                "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
                "required": true,
                "x-ms-summary": "Location",
                "type": "string"
              },
              {
                "name": "drive",
                "in": "path",
                "description": "Select a document library from the drop-down.",
                "required": true,
                "x-ms-summary": "Document Library",
                "type": "string"
              },
              {
                "name": "file",
                "in": "path",
                "description": "Select an Excel file through File Browse.",
                "required": true,
                "x-ms-summary": "File",
                "type": "string"
              },
              {
                "name": "table",
                "in": "path",
                "description": "Select a table from the drop-down.",
                "required": true,
                "x-ms-summary": "Table",
                "type": "string"
              },
              {
                "name": "idColumn",
                "in": "query",
                "description": "Select a column from the drop-down.",
                "required": true,
                "x-ms-summary": "Key Column",
                "type": "string"
              },
              {
                "name": "id",
                "in": "path",
                "description": "Enter the key value.",
                "required": true,
                "x-ms-summary": "Key Value",
                "type": "string"
              }
            ],
            "responses": {
              "200": { "description": "OK" },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": false,
            "x-ms-visibility": "internal",
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#delete-a-row" }
          },
          "patch": {
            "tags": [ "ExcelOnlineTableData" ],
            "summary": "Update a row (V2)",
            "description": "Update a row using a key column.",
            "operationId": "ODataStylePatchItemV2",
            "consumes": [],
            "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              {
                "name": "source",
                "in": "query",
                "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
                "required": true,
                "x-ms-summary": "Location",
                "type": "string"
              },
              {
                "name": "drive",
                "in": "path",
                "description": "Select a document library from the drop-down.",
                "required": true,
                "x-ms-summary": "Document Library",
                "type": "string"
              },
              {
                "name": "file",
                "in": "path",
                "description": "Select an Excel file through File Browse.",
                "required": true,
                "x-ms-summary": "File",
                "type": "string"
              },
              {
                "name": "table",
                "in": "path",
                "description": "Select a table from the drop-down.",
                "required": true,
                "x-ms-summary": "Table",
                "type": "string"
              },
              {
                "name": "idColumn",
                "in": "query",
                "description": "Select a column from the drop-down.",
                "required": true,
                "x-ms-summary": "Key Column",
                "type": "string"
              },
              {
                "name": "id",
                "in": "path",
                "description": "Enter the key value.",
                "required": true,
                "x-ms-summary": "Key Value",
                "type": "string"
              },
              {
                "name": "item",
                "in": "body",
                "description": "Provide the item properties.",
                "required": true,
                "schema": { "$ref": "#/definitions/Item" },
                "x-ms-summary": "Provide the item properties"
              },
              {
                "name": "mode",
                "in": "query",
                "description": "Mode of the operation.",
                "required": false,
                "x-ms-summary": "Update Mode",
                "x-ms-visibility": "internal",
                "type": "string",
                "enum": [ "Update", "UpdateWithGeneratedId", "UpdateWithCustomId" ]
              },
              {
                "name": "dateTimeFormat",
                "in": "query",
                "description": "DateTime Format.",
                "required": false,
                "x-ms-summary": "DateTime Format",
                "x-ms-visibility": "advanced",
                "type": "string"
              }
            ],
            "responses": {
              "200": {
                "description": "OK",
                "schema": { "$ref": "#/definitions/Item" }
              },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": false,
            "x-ms-visibility": "internal",
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#update-a-row-(v2)" }
          }
        },
        "/{connectionId}/drives/{drive}/files/{file}/tables/{table}/items/{id}": {
          "get": {
            "tags": [ "ExcelOnlineTableData" ],
            "summary": "Get a row",
            "description": "Get a row using a key column.",
            "operationId": "GetItem",
            "consumes": [],
            "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              {
                "name": "source",
                "in": "query",
                "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
                "required": true,
                "x-ms-summary": "Location",
                "x-ms-dynamic-values": {
                  "operationId": "GetSources",
                  "parameters": {
                    "$select": "id,displayName",
                    "$top": "999"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "displayName"
                },
                "type": "string"
              },
              {
                "name": "drive",
                "in": "path",
                "description": "Select a document library from the drop-down.",
                "required": true,
                "x-ms-summary": "Document Library",
                "x-ms-dynamic-values": {
                  "operationId": "GetDrives",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "$select": "id,name"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "name"
                },
                "type": "string"
              },
              {
                "name": "file",
                "in": "path",
                "description": "Select an Excel file through File Browse.",
                "x-ms-url-encoding": "double",
                "required": true,
                "x-ms-summary": "File",
                "x-ms-dynamic-values": {
                  "capability": "file-picker",
                  "parameters": {
                    "isFolder": false,
                    "fileFilter": [ "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "application/vnd.ms-excel.sheet.binary.macroEnabled.12" ],
                    "drive": { "parameter": "drive" },
                    "dataset": null
                  },
                  "value-path": "Id"
                },
                "x-ms-dynamic-tree": {
                  "settings": {
                    "canSelectParentNodes": false,
                    "canSelectLeafNodes": true
                  },
                  "open": {
                    "operationId": "ListRootFolder",
                    "parameters": {
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)",
                    "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')"
                  },
                  "browse": {
                    "operationId": "ListFolder",
                    "parameters": {
                      "id": { "selectedItemValuePath": "Id" },
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)",
                    "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')"
                  }
                },
                "type": "string"
              },
              {
                "name": "table",
                "in": "path",
                "description": "Select a table from the drop-down.",
                "required": true,
                "x-ms-summary": "Table",
                "x-ms-dynamic-values": {
                  "operationId": "GetTables",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "drive": { "parameter": "drive" },
                    "file": { "parameter": "file" },
                    "$select": "id,name"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "name"
                },
                "type": "string"
              },
              {
                "name": "idColumn",
                "in": "query",
                "description": "Select a column from the drop-down.",
                "required": true,
                "x-ms-summary": "Key Column",
                "x-ms-dynamic-values": {
                  "operationId": "GetColumns",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "drive": { "parameter": "drive" },
                    "file": { "parameter": "file" },
                    "table": { "parameter": "table" }
                  },
                  "value-collection": "value",
                  "value-path": "name",
                  "value-title": "displayName"
                },
                "type": "string"
              },
              {
                "name": "id",
                "in": "path",
                "description": "Enter the key value.",
                "required": true,
                "x-ms-summary": "Key Value",
                "x-ms-url-encoding": "double",
                "type": "string"
              },
              {
                "name": "dateTimeFormat",
                "in": "query",
                "description": "DateTime Format.",
                "required": false,
                "x-ms-summary": "DateTime Format",
                "x-ms-visibility": "advanced",
                "type": "string",
                "enum": [ "Serial Number", "ISO 8601" ]
              }
            ],
            "responses": {
              "200": {
                "description": "OK",
                "schema": { "$ref": "#/definitions/Item" }
              },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": false,
            "x-ms-visibility": "important",
            "x-ms-api-annotation": {
              "status": "Production",
              "family": "GetItem",
              "revision": 1
            },
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#get-a-row" }
          },
          "delete": {
            "tags": [ "ExcelOnlineTableData" ],
            "summary": "Delete a row",
            "description": "Delete a row using a key column.",
            "operationId": "DeleteItem",
            "consumes": [],
            "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              {
                "name": "source",
                "in": "query",
                "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
                "required": true,
                "x-ms-summary": "Location",
                "x-ms-dynamic-values": {
                  "operationId": "GetSources",
                  "parameters": {
                    "$select": "id,displayName",
                    "$top": "999"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "displayName"
                },
                "type": "string"
              },
              {
                "name": "drive",
                "in": "path",
                "description": "Select a document library from the drop-down.",
                "required": true,
                "x-ms-summary": "Document Library",
                "x-ms-dynamic-values": {
                  "operationId": "GetDrives",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "$select": "id,name"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "name"
                },
                "type": "string"
              },
              {
                "name": "file",
                "in": "path",
                "description": "Select an Excel file through File Browse.",
                "x-ms-url-encoding": "double",
                "required": true,
                "x-ms-summary": "File",
                "x-ms-dynamic-values": {
                  "capability": "file-picker",
                  "parameters": {
                    "isFolder": false,
                    "fileFilter": [ "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "application/vnd.ms-excel.sheet.binary.macroEnabled.12" ],
                    "drive": { "parameter": "drive" },
                    "dataset": null
                  },
                  "value-path": "Id"
                },
                "x-ms-dynamic-tree": {
                  "settings": {
                    "canSelectParentNodes": false,
                    "canSelectLeafNodes": true
                  },
                  "open": {
                    "operationId": "ListRootFolder",
                    "parameters": {
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)",
                    "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')"
                  },
                  "browse": {
                    "operationId": "ListFolder",
                    "parameters": {
                      "id": { "selectedItemValuePath": "Id" },
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)",
                    "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')"
                  }
                },
                "type": "string"
              },
              {
                "name": "table",
                "in": "path",
                "description": "Select a table from the drop-down.",
                "required": true,
                "x-ms-summary": "Table",
                "x-ms-dynamic-values": {
                  "operationId": "GetTables",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "drive": { "parameter": "drive" },
                    "file": { "parameter": "file" },
                    "$select": "id,name"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "name"
                },
                "type": "string"
              },
              {
                "name": "idColumn",
                "in": "query",
                "description": "Select a column from the drop-down.",
                "required": true,
                "x-ms-summary": "Key Column",
                "x-ms-dynamic-values": {
                  "operationId": "GetColumns",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "drive": { "parameter": "drive" },
                    "file": { "parameter": "file" },
                    "table": { "parameter": "table" }
                  },
                  "value-collection": "value",
                  "value-path": "name",
                  "value-title": "displayName"
                },
                "type": "string"
              },
              {
                "name": "id",
                "in": "path",
                "description": "Enter the key value.",
                "required": true,
                "x-ms-summary": "Key Value",
                "x-ms-url-encoding": "double",
                "type": "string"
              }
            ],
            "responses": {
              "200": { "description": "OK" },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": false,
            "x-ms-visibility": "important",
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#delete-a-row" }
          },
          "patch": {
            "tags": [ "ExcelOnlineTableData" ],
            "summary": "Update a row",
            "description": "Update a row using a key column. The input value will overwrite the specified cells and columns left blank will not be updated. In order to append (instead of overwrite) a value, use the \"Get a row\" action to retrieve the content first.",
            "operationId": "PatchItem",
            "consumes": [],
            "produces": [ "application/json", "text/json", "application/xml", "text/xml" ],
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              {
                "name": "source",
                "in": "query",
                "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
                "required": true,
                "x-ms-summary": "Location",
                "x-ms-dynamic-values": {
                  "operationId": "GetSources",
                  "parameters": {
                    "$select": "id,displayName",
                    "$top": "999"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "displayName"
                },
                "type": "string"
              },
              {
                "name": "drive",
                "in": "path",
                "description": "Select a document library from the drop-down.",
                "required": true,
                "x-ms-summary": "Document Library",
                "x-ms-dynamic-values": {
                  "operationId": "GetDrives",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "$select": "id,name"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "name"
                },
                "type": "string"
              },
              {
                "name": "file",
                "in": "path",
                "description": "Select an Excel file through File Browse.",
                "x-ms-url-encoding": "double",
                "required": true,
                "x-ms-summary": "File",
                "x-ms-dynamic-values": {
                  "capability": "file-picker",
                  "parameters": {
                    "isFolder": false,
                    "fileFilter": [ "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "application/vnd.ms-excel.sheet.binary.macroEnabled.12" ],
                    "drive": { "parameter": "drive" },
                    "dataset": null
                  },
                  "value-path": "Id"
                },
                "x-ms-dynamic-tree": {
                  "settings": {
                    "canSelectParentNodes": false,
                    "canSelectLeafNodes": true
                  },
                  "open": {
                    "operationId": "ListRootFolder",
                    "parameters": {
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)",
                    "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')"
                  },
                  "browse": {
                    "operationId": "ListFolder",
                    "parameters": {
                      "id": { "selectedItemValuePath": "Id" },
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)",
                    "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')"
                  }
                },
                "type": "string"
              },
              {
                "name": "table",
                "in": "path",
                "description": "Select a table from the drop-down.",
                "required": true,
                "x-ms-summary": "Table",
                "x-ms-dynamic-values": {
                  "operationId": "GetTables",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "drive": { "parameter": "drive" },
                    "file": { "parameter": "file" },
                    "$select": "id,name"
                  },
                  "value-collection": "value",
                  "value-path": "id",
                  "value-title": "name"
                },
                "type": "string"
              },
              {
                "name": "idColumn",
                "in": "query",
                "description": "Select a column from the drop-down.",
                "required": true,
                "x-ms-summary": "Key Column",
                "x-ms-dynamic-values": {
                  "operationId": "GetColumns",
                  "parameters": {
                    "source": { "parameter": "source" },
                    "drive": { "parameter": "drive" },
                    "file": { "parameter": "file" },
                    "table": { "parameter": "table" }
                  },
                  "value-collection": "value",
                  "value-path": "name",
                  "value-title": "displayName"
                },
                "type": "string"
              },
              {
                "name": "id",
                "in": "path",
                "description": "Enter the key value.",
                "required": true,
                "x-ms-summary": "Key Value",
                "x-ms-url-encoding": "double",
                "type": "string"
              },
              {
                "name": "item",
                "in": "body",
                "description": "Provide the item properties.",
                "required": true,
                "schema": { "$ref": "#/definitions/Item" },
                "x-ms-summary": "Provide the item properties"
              },
              {
                "name": "mode",
                "in": "query",
                "description": "Mode of the operation.",
                "required": false,
                "x-ms-summary": "Update Mode",
                "x-ms-visibility": "internal",
                "type": "string",
                "enum": [ "Update", "UpdateWithGeneratedId", "UpdateWithCustomId" ]
              },
              {
                "name": "dateTimeFormat",
                "in": "query",
                "description": "DateTime Format.",
                "required": false,
                "x-ms-summary": "DateTime Format",
                "x-ms-visibility": "advanced",
                "type": "string",
                "enum": [ "Serial Number", "ISO 8601" ]
              }
            ],
            "responses": {
              "200": {
                "description": "OK",
                "schema": { "$ref": "#/definitions/Item" }
              },
              "default": { "description": "Operation Failed." }
            },
            "deprecated": false,
            "x-ms-visibility": "important",
            "x-ms-api-annotation": {
              "status": "Production",
              "family": "PatchItem",
              "revision": 1
            },
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#update-a-row" }
          }
        },
        "/{connectionId}/codeless/v1.0/sources": {
          "get": {
            "summary": "Get sources",
            "description": "Get a list of sources.",
            "operationId": "GetSources",
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              { "$ref": "#/parameters/$top" },
              { "$ref": "#/parameters/$select" }
            ],
            "responses": {
              "200": {
                "description": "Operation is successful.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Id.",
                            "x-ms-summary": "Id",
                            "title": "Id"
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Name.",
                            "x-ms-summary": "Name",
                            "title": "Name"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "default": { "description": "Operation Failed." }
            },
            "x-ms-visibility": "internal",
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#get-sources" }
          }
        },
        "/{connectionId}/codeless/v1.0/drives": {
          "get": {
            "summary": "Get drives",
            "description": "Get a list of drives.",
            "operationId": "GetDrives",
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              { "$ref": "#/parameters/source" },
              { "$ref": "#/parameters/$select" }
            ],
            "responses": {
              "200": {
                "description": "Operation is successful.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Drive Id.",
                            "x-ms-summary": "Id",
                            "title": "Id"
                          },
                          "name": {
                            "type": "string",
                            "description": "Drive name.",
                            "x-ms-summary": "Name",
                            "title": "Name"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "default": { "description": "Operation Failed." }
            },
            "x-ms-visibility": "internal",
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#get-drives" }
          }
        },
        "/{connectionId}/codeless/v1.0/drives/{drive}/root/children": {
          "get": {
            "summary": "List the root folder",
            "description": "List the root folder.",
            "operationId": "ListRootFolder",
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              { "$ref": "#/parameters/source" },
              { "$ref": "#/parameters/drive" }
            ],
            "responses": {
              "200": {
                "description": "Operation is successful.",
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/definitions/BlobMetadata" }
                }
              },
              "default": { "description": "Operation Failed." }
            },
            "x-ms-visibility": "internal",
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#list-the-root-folder" }
          }
        },
        "/{connectionId}/codeless/v1.0/drives/{drive}/items/{id}/children": {
          "get": {
            "summary": "List blobs under a given folder",
            "description": "List blobs under a given folder.",
            "operationId": "ListFolder",
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              { "$ref": "#/parameters/source" },
              { "$ref": "#/parameters/drive" },
              {
                "name": "id",
                "in": "path",
                "description": "Folder Id.",
                "required": true,
                "x-ms-summary": "Folder",
                "x-ms-dynamic-values": {
                  "capability": "file-picker",
                  "parameters": {
                    "drive": { "parameter": "drive" },
                    "isFolder": true,
                    "fileFilter": []
                  },
                  "value-path": "Id"
                },
                "x-ms-dynamic-tree": {
                  "settings": {
                    "canSelectParentNodes": true,
                    "canSelectLeafNodes": false
                  },
                  "open": {
                    "operationId": "ListRootFolder",
                    "parameters": {
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)"
                  },
                  "browse": {
                    "operationId": "ListFolder",
                    "parameters": {
                      "id": { "selectedItemValuePath": "Id" },
                      "drive": { "parameterReference": "drive" },
                      "source": { "parameterReference": "source" }
                    },
                    "itemValuePath": "Id",
                    "itemTitlePath": "DisplayName",
                    "itemFullTitlePath": "Path",
                    "itemIsParent": "(IsFolder eq true)"
                  }
                },
                "type": "string"
              }
            ],
            "responses": {
              "200": {
                "description": "Operation is successful.",
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/definitions/BlobMetadata" }
                }
              },
              "default": { "description": "Operation Failed." }
            },
            "x-ms-visibility": "internal",
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#list-blobs-under-a-given-folder" }
          }
        },
        "/{connectionId}/codeless/v1.0/drives/{drive}/items/{file}/workbook/worksheets": {
          "get": {
            "summary": "Get worksheets",
            "description": "Get a list of worksheets in the Excel workbook.",
            "operationId": "GetAllWorksheets",
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              { "$ref": "#/parameters/source" },
              { "$ref": "#/parameters/drive" },
              { "$ref": "#/parameters/file" }
            ],
            "responses": {
              "200": {
                "description": "Operation is successful.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": { "$ref": "#/definitions/WorksheetMetadata" }
                    }
                  }
                }
              },
              "default": { "description": "Operation Failed." }
            },
            "x-ms-visibility": "important",
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#get-worksheets" }
          },
          "post": {
            "summary": "Create worksheet",
            "description": "Create a new worksheet in the Excel workbook.",
            "operationId": "CreateWorksheet",
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              { "$ref": "#/parameters/source" },
              { "$ref": "#/parameters/drive" },
              { "$ref": "#/parameters/file" },
              {
                "name": "body",
                "in": "body",
                "required": true,
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Worksheet name.",
                      "x-ms-summary": "Name",
                      "title": "Name",
                      "x-ms-visibility": "important"
                    }
                  }
                },
                "x-ms-visibility": "important"
              }
            ],
            "responses": {
              "201": {
                "description": "Operation is successful.",
                "schema": { "$ref": "#/definitions/WorksheetMetadata" }
              },
              "default": { "description": "Operation Failed." }
            },
            "x-ms-visibility": "advanced",
            "externalDocs": { "url": "https://docs.microsoft.com/connectors/excelonlinebusiness/#create-worksheet" }
          }
        },
        "/{connectionId}/codeless/v1.0/drives/{drive}/items/{file}/workbook/tables": {
          "get": {
            "summary": "Get tables",
            "description": "Get a list of tables in the Excel workbook.",
            "operationId": "GetTables",
            "parameters": [
              {
                "name": "connectionId",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "internal"
              },
              { "$ref": "#/parameters/source" },
              { "$ref": "#/parameters/drive" },
              { "$ref": "#/parameters/file" },
              { "$ref": "#/parameters/$select" }
            ],
            "responses": {
              "200": {
                "description": "Operation is successful.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Table Id.",
                            "x-ms-summary": "Id",
                            "title": "Id",
                            "x-ms-visibility": "important"
                          },
                          "name": {
                            "type": "string",
                            "description": "Table name.",
                            "x-ms-summary": "Name",
                            "title": "Name",
                            "x-ms-visibility": "important"
                          },
                          "showBandedColumns": {
                            "type": "boolean",
                            "description": "Show banded columns.",
                            "x-ms-summary": "Show banded columns",
                            "title": "Show banded columns",
                            "x-ms-visibility": "advanced"
                          },
                          "highlightFirstColumn": {
                            "type": "boolean",
                            "description": "Highlight first column.",
                            "x-ms-summary": "Highlight first column",
                            "title": "Highlight first column",
                            "x-ms-visibility": "advanced"
[...]
