{
  "swagger": "2.0",
  "info": {
    "title": "Language - Question Answering",
    "description": "The Language - Question Answering API is a cloud-based service that provides advanced natural language processing with state of the art transformer models to generate answers against custom question answering projects or raw text. Question answering is a feature in Language service which is enhanced from the QnA Maker service with additional features like support for unstructured documents and precise answering.",
    "version": "2021-10-01",
    "contact": {
      "name": "Question Answering Support",
      "url": "https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview",
      "email": "qnamakersupport@microsoft.com"
    },
    "x-ms-api-annotation": { "status": "Production" }
  },
  "host": "tip1-shared.azure-apim.net",
  "basePath": "/apim/languagequestionansw",
  "schemes": [ "https" ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/language/:query-knowledgebases": {
      "post": {
        "summary": "Generate answer from Project",
        "description": "This action helps in answering the specified question using your knowledge base in your project.",
        "operationId": "GenerateAnswer",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          { "$ref": "#/parameters/ProjectNameQueryParameter" },
          { "$ref": "#/parameters/AnswersOptions" },
          { "$ref": "#/parameters/DeploymentNameQueryParameter" },
          { "$ref": "#/parameters/ApiVersionQueryParameter" }
        ],
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "responses": {
          "200": {
            "description": "A successful response to get answers from Project.",
            "schema": { "$ref": "#/definitions/AnswersResult" }
          },
          "400": {
            "description": "Response details of the Generate answer call.",
            "schema": { "$ref": "#/definitions/ErrorResponse" },
            "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"BadArgument\",\r\n    \"message\": \"Invalid input.\"\r\n  }\r\n}" }
          },
          "401": {
            "description": "Response details of the Generate answer call.",
            "schema": { "$ref": "#/definitions/ErrorResponse" },
            "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key.\"\r\n  }\r\n}" }
          },
          "403": {
            "description": "Response details of the Generate answer call.",
            "schema": { "$ref": "#/definitions/ErrorResponse" },
            "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Forbidden\",\r\n    \"message\": \"You do not have permissions to view the requested resource.\"\r\n  }\r\n}" }
          },
          "404": {
            "description": "Response details of the Generate answer call.",
            "schema": { "$ref": "#/definitions/ErrorResponse" },
            "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"The requested path is not found.\"\r\n  }\r\n}" }
          },
          "500": {
            "description": "Response details of the Generate answer call.",
            "schema": { "$ref": "#/definitions/ErrorResponse" },
            "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unspecified\",\r\n    \"message\": \"Something happened. Please retry after some time.\"\r\n  }\r\n}" }
          }
        },
        "x-ms-examples": {
          "Successful query": {
            "parameters": {
              "Endpoint": "{Endpoint}",
              "EndpointKey": "{API key}",
              "Content-Type": "application/json",
              "api-version": "2021-10-01",
              "projectName": "proj1",
              "deploymentName": "production",
              "knowledgeBaseQueryOptions": {
                "question": "how long it takes to charge surface?",
                "top": 3,
                "userId": "sd53lsY=",
                "confidenceScoreThreshold": 0.2,
                "context": {
                  "previousQnaId": 9,
                  "previousUserQuery": "Where are QnA Maker quickstarts?"
                },
                "rankerType": "Default",
                "filters": {
                  "metadataFilter": {
                    "metadata": [
                      {
                        "key": "category",
                        "value": "api"
                      },
                      {
                        "key": "editorial",
                        "value": "chitchat"
                      }
                    ],
                    "logicalOperation": "AND"
                  },
                  "sourceFilter": [ "filename1.pdf", "https://www.wikipedia.org/microsoft" ],
                  "logicalOperation": "AND"
                },
                "answerSpanRequest": {
                  "enable": true,
                  "confidenceScoreThreshold": 0.2,
                  "topAnswersWithSpan": 1
                },
                "includeUnstructuredSources": true
              }
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "answers": [
                    {
                      "questions": [ "Power and charging" ],
                      "answer": "Power and charging**\n\nIt takes two to four hours to charge the Surface Pro 4 battery fully from an empty state. It can take longer if you’re using your Surface for power-intensive activities like gaming or video streaming while you’re charging it.\n\nYou can use the USB port on your Surface Pro 4 power supply to charge other devices, like a phone, while your Surface charges. The USB port on the power supply is only for charging, not for data transfer. If you want to use a USB device, plug it into the USB port on your Surface.",
                      "confidenceScore": 0.65,
                      "id": 20,
                      "source": "surface-pro-4-user-guide-EN.pdf",
                      "metadata": {
                        "category": "api",
                        "editorial": "chitchat"
                      },
                      "dialog": {
                        "isContextOnly": false,
                        "prompts": [
                          {
                            "displayOrder": 1,
                            "qnaId": 23,
                            "displayText": "prompt1"
                          },
                          {
                            "displayOrder": 2,
                            "qnaId": 36,
                            "displayText": "prompt2"
                          }
                        ]
                      },
                      "answerSpan": {
                        "text": "two to four hours",
                        "confidenceScore": 0.3,
                        "offset": 33,
                        "length": 50
                      }
                    },
                    {
                      "questions": [ "Charge your Surface Pro 4" ],
                      "answer": "**Charge your Surface Pro 4**\n\n1.  Connect the two parts of the power cord.\n\n2.  Connect the power cord securely to the charging port.\n\n3.  Plug the power supply into an electrical outlet.",
                      "confidenceScore": 0.32,
                      "id": 13,
                      "source": "surface-pro-4-user-guide-EN.pdf"
                    }
                  ]
                }
              }
            }
          }
        },
        "externalDocs": { "url": "https://docs.microsoft.com/connectors/languagequestionansw/#generate-answer-from-project" }
      }
    },
    "/{connectionId}/language/:query-text": {
      "post": {
        "summary": "Generate answer from provided text",
        "description": "This action helps in answering the specified question using the provided text.",
        "operationId": "GetAnswersFromText",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          { "$ref": "#/parameters/AnswersFromTextOptions" },
          { "$ref": "#/parameters/ApiVersionQueryParameter" }
        ],
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "responses": {
          "200": {
            "description": "A successful response to get answers from input text.",
            "schema": { "$ref": "#/definitions/AnswersFromTextResult" }
          },
          "400": {
            "description": "Response details of the Get Project Details call.",
            "schema": { "$ref": "#/definitions/ErrorResponse" },
            "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"BadArgument\",\r\n    \"message\": \"Invalid input.\"\r\n  }\r\n}" }
          },
          "401": {
            "description": "Response details of the Get Project Details call.",
            "schema": { "$ref": "#/definitions/ErrorResponse" },
            "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key.\"\r\n  }\r\n}" }
          },
          "403": {
            "description": "Response details of the Get Project Details call.",
            "schema": { "$ref": "#/definitions/ErrorResponse" },
            "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Forbidden\",\r\n    \"message\": \"You do not have permissions to view the requested resource.\"\r\n  }\r\n}" }
          },
          "404": {
            "description": "Response details of the Get Project Details call.",
            "schema": { "$ref": "#/definitions/ErrorResponse" },
            "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"The requested path is not found.\"\r\n  }\r\n}" }
          },
          "500": {
            "description": "Response details of the Get Project Details call.",
            "schema": { "$ref": "#/definitions/ErrorResponse" },
            "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unspecified\",\r\n    \"message\": \"Something happened. Please retry after some time.\"\r\n  }\r\n}" }
          }
        },
        "x-ms-examples": {
          "Successful query": {
            "parameters": {
              "Endpoint": "{Endpoint}",
              "EndpointKey": "{API key}",
              "Content-Type": "application/json",
              "api-version": "2021-10-01",
              "stringIndexType": "TextElements_v8",
              "textQueryOptions": {
                "question": "how long it takes to charge surface?",
                "records": [
                  {
                    "id": "1",
                    "text": "Power and charging. It takes two to four hours to charge the Surface Pro 4 battery fully from an empty state. It can take longer if you’re using your Surface for power-intensive activities like gaming or video streaming while you’re charging it."
                  },
                  {
                    "id": "2",
                    "text": "You can use the USB port on your Surface Pro 4 power supply to charge other devices, like a phone, while your Surface charges. The USB port on the power supply is only for charging, not for data transfer. If you want to use a USB device, plug it into the USB port on your Surface."
                  }
                ],
                "language": "en"
              }
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "answers": [
                    {
                      "answer": "Power and charging. It takes two to four hours to charge the Surface Pro 4 battery fully from an empty state. It can take longer if you’re using your Surface for power-intensive activities like gaming or video streaming while you’re charging it.",
                      "confidenceScore": 0.93,
                      "id": "1",
                      "answerSpan": {
                        "text": "two to four hours",
                        "confidenceScore": 0,
                        "offset": 28,
                        "length": 45
                      },
                      "offset": 0,
                      "length": 224
                    },
                    {
                      "answer": "It takes two to four hours to charge the Surface Pro 4 battery fully from an empty state. It can take longer if you’re using your Surface for power-intensive activities like gaming or video streaming while you’re charging it.",
                      "confidenceScore": 0.92,
                      "id": "1",
                      "answerSpan": {
                        "text": "two to four hours",
                        "confidenceScore": 0,
                        "offset": 8,
                        "length": 25
                      },
                      "offset": 20,
                      "length": 224
                    },
                    {
                      "answer": "It can take longer if you’re using your Surface for power-intensive activities like gaming or video streaming while you’re charging it.",
                      "confidenceScore": 0.05,
                      "id": "1",
                      "answerSpan": null,
                      "offset": 110,
                      "length": 244
                    }
                  ]
                }
              },
              "400": {
                "description": "Response details of the Generate answer call.",
                "schema": { "$ref": "#/definitions/ErrorResponse" },
                "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"BadArgument\",\r\n    \"message\": \"Invalid input.\"\r\n  }\r\n}" }
              },
              "401": {
                "description": "Response details of the Generate answer call.",
                "schema": { "$ref": "#/definitions/ErrorResponse" },
                "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key.\"\r\n  }\r\n}" }
              },
              "403": {
                "description": "Response details of the Generate answer call.",
                "schema": { "$ref": "#/definitions/ErrorResponse" },
                "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Forbidden\",\r\n    \"message\": \"You do not have permissions to view the requested resource.\"\r\n  }\r\n}" }
              },
              "404": {
                "description": "Response details of the Generate answer call.",
                "schema": { "$ref": "#/definitions/ErrorResponse" },
                "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"The requested path is not found.\"\r\n  }\r\n}" }
              },
              "500": {
                "description": "Response details of the Generate answer call.",
                "schema": { "$ref": "#/definitions/ErrorResponse" },
                "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unspecified\",\r\n    \"message\": \"Something happened. Please retry after some time.\"\r\n  }\r\n}" }
              }
            }
          }
        },
        "externalDocs": { "url": "https://docs.microsoft.com/connectors/languagequestionansw/#generate-answer-from-provided-text" }
      }
    },
    "/{connectionId}/language/query-knowledgebases/projects/{ProjectNamePathParameter}": {
      "get": {
        "description": "This action helps in getting all the metadata of your project.",
        "operationId": "GetProjectDetails",
        "summary": "Get Project Metadata",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          { "$ref": "#/parameters/ProjectNamePathParameter" },
          { "$ref": "#/parameters/ApiVersionQueryParameter" }
        ],
        "produces": [ "application/json" ],
        "responses": {
          "200": {
            "description": "Response details of the Get Project Details call.",
            "schema": { "$ref": "#/definitions/ProjectMetadata" },
            "examples": { "application/json": "{\r\n  \"projectName\": \"proj1\",\r\n  \"description\": \"proj1 is a test project.\",\r\n  \"language\": \"en\",\r\n  \"multilingualResource\": true,\r\n  \"createdDateTime\": \"2021-05-01T15:13:22Z\",\r\n  \"lastModifiedDateTime\": \"2021-05-01T15:13:22Z\",\r\n  \"lastDeployedDateTime\": \"2021-05-01T15:13:22Z\"\r\n}" }
          },
          "400": {
            "description": "Response details of the Get Project Details call.",
            "schema": { "$ref": "#/definitions/ErrorResponse" },
            "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"BadArgument\",\r\n    \"message\": \"Invalid input.\"\r\n  }\r\n}" }
          },
          "401": {
            "description": "Response details of the Get Project Details call.",
            "schema": { "$ref": "#/definitions/ErrorResponse" },
            "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key.\"\r\n  }\r\n}" }
          },
          "403": {
            "description": "Response details of the Get Project Details call.",
            "schema": { "$ref": "#/definitions/ErrorResponse" },
            "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Forbidden\",\r\n    \"message\": \"You do not have permissions to view the requested resource.\"\r\n  }\r\n}" }
          },
          "404": {
            "description": "Response details of the Get Project Details call.",
            "schema": { "$ref": "#/definitions/ErrorResponse" },
            "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"The requested path is not found.\"\r\n  }\r\n}" }
          },
          "500": {
            "description": "Response details of the Get Project Details call.",
            "schema": { "$ref": "#/definitions/ErrorResponse" },
            "examples": { "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unspecified\",\r\n    \"message\": \"Something happened. Please retry after some time.\"\r\n  }\r\n}" }
          }
        },
        "externalDocs": { "url": "https://docs.microsoft.com/connectors/languagequestionansw/#get-project-metadata" }
      }
    }
  },
  "definitions": {
    "ProjectMetadata": {
      "type": "object",
      "description": "Represents the project.",
      "additionalProperties": false,
      "properties": {
        "projectName": {
          "type": "string",
          "description": "Name of the project."
        },
        "description": {
          "type": "string",
          "description": "Description of the project."
        },
        "language": { "$ref": "#/definitions/Language" },
        "settings": {
          "type": "object",
          "description": "Represents project settings in Language Studio",
          "properties": {
            "defaultAnswer": {
              "type": "string",
              "description": "Default Answer response when no good match is found in the Knowledgebase."
            }
          }
        },
        "multilingualResource": {
          "type": "boolean",
          "description": "Resource enabled for multiple languages across projects or not."
        },
        "createdDateTime": {
          "type": "string",
          "description": "Project creation date-time.",
          "format": "date-time"
        },
        "lastModifiedDateTime": {
          "type": "string",
          "description": "Represents the project last modified date-time.",
          "format": "date-time"
        },
        "lastDeployedDateTime": {
          "type": "string",
          "description": "Represents the project last deployment date-time.",
          "format": "date-time"
        }
      }
    },
    "KnowledgebaseAnswerRequestContext": {
      "type": "object",
      "description": "Context object with previous QnA's information.",
      "additionalProperties": false,
      "properties": {
        "previousQnaId": {
          "type": "integer",
          "description": "Previous turn top answer result QnA ID.",
          "x-ms-summary": "Previous QnA ID",
          "x-ms-visibility": "Advanced"
        },
        "previousUserQuery": {
          "type": "string",
          "description": "Previous user query.",
          "x-ms-summary": "Previous User Query",
          "x-ms-visibility": "Advanced"
        }
      }
    },
    "AnswersOptions": {
      "type": "object",
      "description": "Parameters to query a project.",
      "additionalProperties": false,
      "required": [ "question" ],
      "properties": {
        "question": {
          "type": "string",
          "description": "User question to query against the project.",
          "x-ms-summary": "Question"
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for the user.",
          "x-ms-summary": "User ID",
          "x-ms-visibility": "Advanced"
        },
        "top": {
          "type": "integer",
          "description": "Maximum number of answers to be returned for the question.",
          "format": "int32",
          "x-ms-visibility": "Advanced",
          "x-ms-summary": "Top #"
        },
        "confidenceScoreThreshold": {
          "type": "number",
          "format": "float",
          "x-ms-summary": "Confidence Threshold",
          "description": "Minimum threshold score for answers. Value ranges from 0 to 1.",
          "x-ms-visibility": "Advanced",
          "maximum": 1,
          "minimum": 0
        },
        "rankerType": {
          "type": "string",
          "x-ms-summary": "Ranker type",
          "description": "Type of ranker to be used.",
          "default": "Default",
          "x-ms-enum-values": [
            {
              "value": "QuestionOnly",
              "displayName": "Question only ranker"
            },
            {
              "value": "Default",
              "displayName": "Default ranker"
            }
          ],
          "enum": [ "Default", "QuestionOnly" ],
          "x-ms-visibility": "Advanced"
        },
        "qnaId": {
          "type": "string",
          "description": "This is the exact QnA ID to fetch from project.",
          "x-ms-visibility": "Advanced",
          "x-ms-summary": "QnA ID"
        },
        "context": { "$ref": "#/definitions/KnowledgebaseAnswerRequestContext" },
        "filters": { "$ref": "#/definitions/QueryFilters" },
        "answerSpanRequest": { "$ref": "#/definitions/ShortAnswerOptions" },
        "includeUnstructuredSources": {
          "type": "boolean",
          "description": "Flag to enable query over unstructured sources.",
          "x-ms-visibility": "Advanced",
          "default": true,
          "enum": [ true, false ],
          "x-ms-summary": "Include Unstructured Sources"
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "description": "Error response.",
      "additionalProperties": false,
      "properties": { "error": { "$ref": "#/definitions/Error" } }
    },
    "Error": {
      "type": "object",
      "description": "The error object.",
      "additionalProperties": false,
      "required": [ "code", "message" ],
      "properties": {
        "code": { "$ref": "#/definitions/ErrorCode" },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": { "$ref": "#/definitions/Error" }
        },
        "innererror": { "$ref": "#/definitions/InnerErrorModel" }
      }
    },
    "InnerErrorModel": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "additionalProperties": false,
      "required": [ "code", "message" ],
      "properties": {
        "code": { "$ref": "#/definitions/InnerErrorCode" },
        "message": {
          "type": "string",
          "description": "Error message."
        },
        "details": {
          "type": "object",
          "additionalProperties": { "type": "string" },
          "description": "Error details."
        },
        "target": {
          "type": "string",
          "description": "Error target."
        },
        "innererror": { "$ref": "#/definitions/InnerErrorModel" }
      }
    },
    "ErrorCode": {
      "type": "string",
      "description": "Human-readable error code.",
      "x-ms-enum": {
        "name": "ErrorCode",
        "modelAsString": true
      },
      "enum": [ "InvalidRequest", "InvalidArgument", "Unauthorized", "Forbidden", "NotFound", "ProjectNotFound", "OperationNotFound", "AzureCognitiveSearchNotFound", "AzureCognitiveSearchIndexNotFound", "TooManyRequests", "AzureCognitiveSearchThrottling", "AzureCognitiveSearchIndexLimitReached", "InternalServerError", "ServiceUnavailable" ]
    },
    "InnerErrorCode": {
      "type": "string",
      "description": "Human-readable error code.",
      "x-ms-enum": {
        "name": "InnerErrorCode",
        "modelAsString": true
      },
      "enum": [ "InvalidRequest", "InvalidParameterValue", "KnowledgeBaseNotFound", "AzureCognitiveSearchNotFound", "AzureCognitiveSearchThrottling", "ExtractionFailure" ]
    },
    "Language": {
      "type": "string",
      "x-ms-summary": "Language",
      "description": "Language of the text records. This is BCP-47 representation of a language.",
      "default": "en",
      "enum": [ "ar", "hy", "bn", "eu", "bg", "ca", "zh-hans", "zh-hant", "hr", "cs", "da", "nl", "en", "et", "fi", "fr", "gl", "de", "el", "gu", "he", "hi", "hu", "is", "id", "ga", "it", "ja", "kn", "ko", "lv", "lt", "ml", "ms", "nb", "pl", "pt", "pa", "ro", "ru", "sr-cryl", "sr-latn", "sk", "sl", "es", "sv", "ta", "te", "th", "tr", "uk", "ur", "vi" ],
      "x-ms-enum-values": [
        {
          "value": "ar",
          "displayName": "Arabic"
        },
        {
          "value": "hy",
          "displayName": "Armenian"
        },
        {
          "value": "bn",
          "displayName": "Bengali"
        },
        {
          "value": "eu",
          "displayName": "Basque"
        },
        {
          "value": "bg",
          "displayName": "Bulgarian"
        },
        {
          "value": "ca",
          "displayName": "Catalan"
        },
        {
          "value": "zh-hans",
          "displayName": "Chinese_Simplified"
        },
        {
          "value": "zh-hant",
          "displayName": "Chinese_Traditional"
        },
        {
          "value": "hr",
          "displayName": "Croatian"
        },
        {
          "value": "cs",
          "displayName": "Czech"
        },
        {
          "value": "da",
          "displayName": "Danish"
        },
        {
          "value": "nl",
          "displayName": "Dutch"
        },
        {
          "value": "en",
          "displayName": "English"
        },
        {
          "value": "et",
          "displayName": "Estonian"
        },
        {
          "value": "fi",
          "displayName": "Finnish"
        },
        {
          "value": "fr",
          "displayName": "French"
        },
        {
          "value": "gl",
          "displayName": "Galician"
        },
        {
          "value": "de",
          "displayName": "German"
        },
        {
          "value": "el",
          "displayName": "Greek"
        },
        {
          "value": "gu",
          "displayName": "Gujarati"
        },
        {
          "value": "he",
          "displayName": "Hebrew"
        },
        {
          "value": "hi",
          "displayName": "Hindi"
        },
        {
          "value": "hu",
          "displayName": "Hungarian"
        },
        {
          "value": "is",
          "displayName": "Icelandic"
        },
        {
          "value": "id",
          "displayName": "Indonesian"
        },
        {
          "value": "ga",
          "displayName": "Irish"
        },
        {
          "value": "it",
          "displayName": "Italian"
        },
        {
          "value": "ja",
          "displayName": "Japanese"
        },
        {
          "value": "kn",
          "displayName": "Kannada"
        },
        {
          "value": "ko",
          "displayName": "Korean"
        },
        {
          "value": "lv",
          "displayName": "Latvian"
        },
        {
          "value": "lt",
          "displayName": "Lithuanian"
        },
        {
          "value": "ml",
          "displayName": "Malayalam"
        },
        {
          "value": "ms",
          "displayName": "Malay"
        },
        {
          "value": "nb",
          "displayName": "Norwegian"
        },
        {
          "value": "pl",
          "displayName": "Polish"
        },
        {
          "value": "pt",
          "displayName": "Portuguese"
        },
        {
          "value": "pa",
          "displayName": "Punjabi"
        },
        {
          "value": "ro",
          "displayName": "Romanian"
        },
        {
          "value": "ru",
          "displayName": "Russian"
        },
        {
          "value": "sr-cryl",
          "displayName": "Serbian_Cyrillic"
        },
        {
          "value": "sr-latn",
          "displayName": "Serbian_Latin"
        },
        {
          "value": "sk",
          "displayName": "Slovak"
        },
        {
          "value": "sl",
          "displayName": "Slovenian"
        },
        {
          "value": "es",
          "displayName": "Spanish"
        },
        {
          "value": "sv",
          "displayName": "Swedish"
        },
        {
          "value": "ta",
          "displayName": "Tamil"
        },
        {
          "value": "te",
          "displayName": "Telugu"
        },
        {
          "value": "th",
          "displayName": "Thai"
        },
        {
          "value": "tr",
          "displayName": "Turkish"
        },
        {
          "value": "uk",
          "displayName": "Ukrainian"
        },
        {
          "value": "ur",
          "displayName": "Urdu"
        },
        {
          "value": "vi",
          "displayName": "Vietnamese"
        }
      ]
    },
    "StringIndexType": {
      "type": "string",
      "x-ms-summary": "String Index Type",
      "description": "Specifies the method used to interpret string offsets.  Defaults to Text Elements (Graphemes) according to Unicode v8.0.0. For additional information see https://aka.ms/text-analytics-offsets.",
      "default": "TextElements_v8",
      "enum": [ "TextElements_v8", "UnicodeCodePoint", "Utf16CodeUnit" ],
      "x-ms-enum": {
        "name": "StringIndexType",
        "modelAsString": true,
        "values": [
          {
            "value": "TextElements_v8",
            "description": "Returned offset and length values will correspond to TextElements (Graphemes and Grapheme clusters) confirming to the Unicode 8.0.0 standard. Use this option if your application is written in .Net Framework or .Net Core and you will be using StringInfo."
          },
          {
            "value": "UnicodeCodePoint",
            "description": "Returned offset and length values will correspond to Unicode code points. Use this option if your application is written in a language that support Unicode, for example Python."
          },
          {
            "value": "Utf16CodeUnit",
            "description": "Returned offset and length values will correspond to UTF-16 code units. Use this option if your application is written in a language that support Unicode, for example Java, JavaScript."
          }
        ]
      }
    },
    "ShortAnswerOptions": {
      "type": "object",
      "description": "To configure Answer span prediction feature.",
      "additionalProperties": false,
      "properties": {
        "enable": {
          "x-ms-summary": "Enable precise answer",
          "type": "boolean",
          "description": "Enable or disable Answer Span prediction.",
          "default": true,
          "enum": [ true, false ],
          "x-ms-visibility": "Advanced"
        },
        "confidenceScoreThreshold": {
          "type": "number",
          "format": "float",
          "x-ms-summary": "Confidence Threshold",
          "description": "Minimum threshold score required to include a precise answer, value ranges from 0 to 1.",
          "maximum": 1,
          "minimum": 0,
          "x-ms-visibility": "Advanced"
        },
        "topAnswersWithSpan": {
          "type": "integer",
          "x-ms-summary": "Top #",
          "description": "Number of Top answers to be considered for precise answer prediction from 1 to 10.",
          "format": "int32",
          "maximum": 10,
          "minimum": 1,
          "x-ms-visibility": "Advanced"
        }
      }
    },
    "AnswersResult": {
      "type": "object",
      "description": "Represents List of Question Answers.",
      "additionalProperties": false,
      "properties": {
        "answers": {
          "type": "array",
          "description": "Represents Answer Result list.",
          "items": { "$ref": "#/definitions/KnowledgeBaseAnswer" }
        },
        "isUserQuestionAmbiguous": {
          "type": "boolean",
          "description": "Returns a boolean value if user's question was ambiguous."
        }
      }
    },
    "KnowledgeBaseAnswer": {
      "type": "object",
      "description": "Represents project answer.",
      "additionalProperties": false,
      "properties": {
        "questions": {
          "type": "array",
          "description": "List of questions associated with the answer.",
          "items": { "type": "string" }
        },
        "answer": {
          "type": "string",
          "description": "Answer text."
        },
        "confidenceScore": {
          "type": "number",
          "format": "float",
          "x-ms-summary": "Confidence Threshold",
          "description": "Answer confidence score, value ranges from 0 to 1.",
          "maximum": 1,
          "minimum": 0
        },
        "id": {
          "type": "integer",
          "x-ms-summary": "QnA ID",
          "description": "ID of the QnA result.",
          "format": "int32"
        },
        "source": {
          "type": "string",
          "description": "Source of QnA result."
        },
        "metadata": {
          "type": "object",
          "description": "Metadata associated with the answer, useful to categorize or filter question answers.",
          "additionalProperties": { "type": "string" }
        },
        "dialog": { "$ref": "#/definitions/KnowledgeBaseAnswerDialog" },
        "answerSpan": { "$ref": "#/definitions/AnswerSpan" }
      }
    },
    "KnowledgeBaseAnswerDialog": {
      "type": "object",
      "description": "Dialog associated with Answer.",
      "properties": {
        "isContextOnly": {
          "type": "boolean",
          "description": "To mark if a prompt is relevant only with a previous question or not. If true, do not include this QnA as search result for queries without context; otherwise, if false, ignores context and includes this QnA in search result."
        },
        "prompts": {
          "type": "array",
          "description": "List of prompts associated with the answer.",
          "maxItems": 20,
          "items": { "$ref": "#/definitions/KnowledgeBaseAnswerPrompt" }
        }
      }
    },
    "KnowledgeBaseAnswerPrompt": {
      "type": "object",
      "description": "Prompt for an answer.",
      "properties": {
        "displayOrder": {
          "type": "integer",
          "description": "Index of the prompt - used in ordering of the prompts.",
          "format": "int32"
        },
        "qnaId": {
          "type": "integer",
          "description": "QnA ID corresponding to the prompt.",
          "format": "int32"
        },
        "displayText": {
          "type": "string",
          "description": "Text displayed to represent a follow up question prompt.",
          "maxLength": 200
        }
      }
    },
    "QueryFilters": {
      "type": "object",
      "description": "Filters over project.",
      "additionalProperties": false,
      "properties": {
        "metadataFilter": { "$ref": "#/definitions/MetadataFilter" },
        "sourceFilter": {
          "type": "array",
          "items": { "$ref": "#/definitions/SourceFilter" }
        },
        "logicalOperation": {
          "type": "string",
          "description": "Logical operation used to join metadata filter with source filter.",
          "x-ms-summary": "Join Filters with",
          "default": "OR",
          "x-ms-enum": {
            "name": "LogicalOperation",
            "modelAsString": true
          },
          "enum": [ "AND", "OR" ],
          "x-ms-visibility": "Advanced"
        }
      },
      "x-ms-visibility": "Advanced"
    },
    "MetadataFilter": {
      "type": "object",
      "description": "Find QnAs that are associated with the given list of metadata.",
      "additionalProperties": false,
      "properties": {
        "metadata": {
          "type": "array",
          "x-ms-summary": "Metadata",
          "items": { "$ref": "#/definitions/MetadataRecord" }
        },
        "logicalOperation": {
          "type": "string",
          "description": "Set 'OR' or 'AND' for corresponding logical operation for metadata filters.",
          "x-ms-summary": "Join Metadata with",
          "default": "AND",
          "x-ms-enum": {
            "name": "LogicalOperation",
            "modelAsString": true
          },
          "enum": [ "AND", "OR" ],
          "x-ms-visibility": "Advanced"
        }
      }
    },
    "MetadataRecord": {
      "type": "object",
      "description": "Metadata key value pair from Metadata dictionary used in the QnA.",
      "additionalProperties": false,
      "properties": {
        "key": {
          "type": "string",
          "description": "Metadata Key from Metadata dictionary used in the QnA."
        },
        "value": {
          "type": "string",
          "description": "Metadata Value from Metadata dictionary used in the QnA."
        }
      },
      "x-ms-visibility": "Advanced"
    },
    "SourceFilter": {
      "type": "string",
      "description": "Find QnAs that are associated with any of the given list of sources in project.",
      "x-ms-summary": "Source Filter",
      "x-ms-visibility": "Advanced"
    },
    "AnswerSpan": {
      "type": "object",
      "description": "Answer span object of QnA.",
      "additionalProperties": false,
      "properties": {
        "text": {
          "type": "string",
          "description": "Predicted text of precise answer."
        },
        "confidenceScore": {
          "type": "number",
          "x-ms-summary": "Confidence Threshold",
          "description": "Predicted score of precise answer, value ranges from 0 to 1.",
          "format": "float",
          "maximum": 1,
          "minimum": 0
        },
        "offset": {
          "type": "integer",
          "description": "The Precise answer offset from the start of answer.",
          "format": "int32"
        },
        "length": {
          "type": "integer",
          "description": "The length of the precise answer.",
          "format": "int32"
        }
      }
    },
    "AnswersFromTextOptions": {
      "type": "object",
      "description": "The question and text record parameters to answer.",
      "required": [ "question", "records" ],
      "additionalProperties": false,
      "properties": {
        "question": {
          "type": "string",
          "description": "User question to query against the given text records.",
          "x-ms-summary": "Question"
        },
        "records": {
          "type": "array",
          "x-ms-summary": "Text Documents",
          "description": "Text records to be searched for given question.",
          "items": { "$ref": "#/definitions/TextDocument" }
        },
        "language": { "$ref": "#/definitions/Language" },
        "stringIndexType": { "$ref": "#/definitions/StringIndexType" }
      }
    },
    "AnswersFromTextResult": {
      "type": "object",
      "description": "Represents the answer results.",
      "additionalProperties": false,
      "properties": {
        "answers": {
          "type": "array",
          "description": "Represents the answer results.",
          "items": { "$ref": "#/definitions/TextAnswer" }
        }
      }
    },
    "TextAnswer": {
      "type": "object",
      "description": "Represents answer result.",
      "additionalProperties": false,
      "properties": {
        "answer": {
          "type": "string",
          "description": "Answer Text."
        },
        "confidenceScore": {
          "type": "number",
          "x-ms-summary": "Confidence Threshold",
          "description": "Answer confidence score, value ranges from 0 to 1.",
          "format": "float",
          "maximum": 1,
          "minimum": 0
        },
        "id": {
          "type": "string",
          "description": "Record ID."
        },
        "answerSpan": { "$ref": "#/definitions/AnswerSpan" },
        "offset": {
          "type": "integer",
          "description": "The sentence offset from the start of the document.",
          "format": "int32"
        },
        "length": {
          "type": "integer",
          "description": "The length of the sentence.",
          "format": "int32"
        }
      }
    },
    "TextDocument": {
      "type": "object",
      "description": "Represent input text record to be queried.",
      "additionalProperties": false,
      "required": [ "id", "text" ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the text record."
        },
        "text": {
          "type": "string",
          "description": "Text contents of the record."
        }
      }
    }
  },
  "parameters": {
    "AnswersOptions": {
      "name": "knowledgeBaseQueryOptions",
      "in": "body",
      "required": true,
      "schema": { "$ref": "#/definitions/AnswersOptions" },
      "description": "Post body of the request.",
      "x-ms-parameter-location": "method"
    },
    "AnswersFromTextOptions": {
      "name": "textQueryOptions",
      "in": "body",
      "required": true,
      "schema": { "$ref": "#/definitions/AnswersFromTextOptions" },
      "x-nullable": true,
      "description": "Post body of the request.",
      "x-ms-parameter-location": "method"
    },
    "ProjectNameQueryParameter": {
      "name": "projectName",
      "description": "This is the Project name you want to use.",
      "in": "query",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-visibility": "important",
      "x-ms-summary": "Project Name"
    },
    "ProjectNamePathParameter": {
      "name": "ProjectNamePathParameter",
      "description": "The name of the project to use.",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-visibility": "important",
      "x-ms-summary": "Project Name",
      "x-ms-url-encoding": "single"
    },
    "ApiVersionQueryParameter": {
      "name": "api-version",
      "description": "This is the Client API version.",
      "in": "query",
      "required": true,
      "type": "string",
      "x-ms-visibility": "important",
      "default": "2021-10-01",
      "x-ms-enum": {
        "name": "API Version",
        "modelAsString": true,
        "values": [
          {
            "value": "2021-10-01",
            "description": "Latest stable API version."
          }
        ]
      },
      "enum": [ "2021-10-01" ],
      "x-ms-summary": "API Version"
    },
    "DeploymentNameQueryParameter": {
      "name": "deploymentName",
      "description": "This is the specific deployment of the project you want to use.",
      "in": "query",
      "required": true,
      "type": "string",
      "default": "production",
      "enum": [ "production", "test" ],
      "x-ms-enum-values": [
        {
          "value": "production",
          "displayName": "Production"
        },
        {
          "value": "test",
          "displayName": "Test"
        }
      ],
      "x-ms-summary": "Deployment Name"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/en-us/services/cognitive-services/question-answering/#overview"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Website"
    }
  ],
  "security": [],
  "tags": [],
  "externalDocs": { "url": "https://docs.microsoft.com/connectors/languagequestionansw" }
}
