<RunSettings>
  <RunConfiguration>
    <MaxCpuCount>0</MaxCpuCount>
    <BatchSize>1000</BatchSize>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
  </RunConfiguration>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Include>
                <ModulePath>.*\Microsoft.PowerFx.Connectors.dll</ModulePath>
                <ModulePath>.*\Microsoft.PowerFx.Core.dll</ModulePath>
                <ModulePath>.*\Microsoft.PowerFx.Interpreter.dll</ModulePath>
                <ModulePath>.*\Microsoft.PowerFx.LanguageServerProtocol.dll</ModulePath>
                <ModulePath>.*\Microsoft.PowerFx.Transport.Attributes.dll</ModulePath>
                <ModulePath>.*\Microsoft.PowerFx.Json.dll</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>.*\*.Tests.dll</ModulePath>
              </Exclude>
            </ModulePaths>
            <Sources>
              <Exclude></Exclude>
            </Sources>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
      <DataCollector friendlyName="blame" enabled="True">
        <Configuration>
          <ResultsDirectory>.\TestResults</ResultsDirectory>
          <CollectDump />
          <CollectDump />
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="blame" enabled="True" />
    </Loggers>
  </LoggerRunSettings>
</RunSettings>