{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Microsoft Dataverse",
    "description": "Provides access to the org-based database on Microsoft Dataverse in current environment.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft",
      "url": "https://us.flow.microsoft.com/en-us/support/"
    }
  },
  "host": "tip1-shared.azure-apim.net",
  "basePath": "/apim/commondataserviceforapps",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/v1.0/$metadata.json/organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get organizations",
        "description": "Get all organizations.",
        "operationId": "GetOrganizations",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrganizationsDynamicValuesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-organizations"
        }
      }
    },
    "/{connectionId}/$metadata.json/entities/{entityName}": {
      "get": {
        "tags": [
          "EntityMetadata"
        ],
        "summary": "Get table metadata",
        "description": "Gets table metadata",
        "operationId": "GetMetadataForGetEntity",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "selectedEntityAttributes",
            "in": "query",
            "description": "Limit the properties returned while retrieving data",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "expandEntityAttributes",
            "in": "query",
            "description": "Related entries to include with requested entries (default = none)",
            "required": false,
            "x-ms-summary": "Expand Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-table-metadata"
        }
      }
    },
    "/{connectionId}/v1.0/$metadata.json/entities/{entityName}": {
      "get": {
        "tags": [
          "GetMetadataForGetEntity",
          "DynamicSchema"
        ],
        "summary": "Get table metadata based on environment",
        "description": "Gets table metadata for the specified entity based on environment",
        "operationId": "GetMetadataForGetEntityWithOrganization",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Environment",
            "required": true,
            "x-ms-summary": "Environment",
            "type": "string"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "selectedEntityAttributes",
            "in": "query",
            "description": "Limit the properties returned while retrieving data",
            "required": false,
            "x-ms-summary": "Select Query",
            "type": "string"
          },
          {
            "name": "expandEntityAttributes",
            "in": "query",
            "description": "Related entries to include with requested entries (default = none)",
            "required": false,
            "x-ms-summary": "Expand Query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-table-metadata-based-on-environment"
        }
      }
    },
    "/{connectionId}/$metadata.json/entities/{entityName}/cudtrigger": {
      "get": {
        "tags": [
          "EntityMetadata"
        ],
        "summary": "Get table metadata",
        "description": "Gets table metadata",
        "operationId": "GetMetadataForGetEntityCUDTrigger",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-table-metadata"
        }
      }
    },
    "/{connectionId}/$metadata.json/entities/{entityName}/activityparties": {
      "get": {
        "tags": [
          "EntityMetadata"
        ],
        "summary": "Get activity party attributes",
        "description": "Get activity party attributes",
        "operationId": "GetActivityPartyAttributes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-activity-party-attributes"
        }
      }
    },
    "/{connectionId}/v1.0/$metadata.json/GetEntityListEnum/GetActivityPartyAttributesWithOrganization": {
      "post": {
        "tags": [
          "EntityMetadata",
          "ListEnum"
        ],
        "summary": "Get activity party attributes based on environment",
        "description": "Get activity party attributes based on environment",
        "operationId": "GetActivityPartyAttributesWithOrganization",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Choose an environment",
            "required": true,
            "x-ms-summary": "Environment",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "entityName": {
                  "description": "Table name",
                  "type": "string"
                }
              },
              "required": [
                "entityName"
              ]
            },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-activity-party-attributes-based-on-environment"
        }
      }
    },
    "/{connectionId}/$metadata.json/entities/{entityName}/postitem": {
      "get": {
        "tags": [
          "EntityMetadata"
        ],
        "summary": "Get table metadata - Post",
        "description": "Gets table metadata for post operation",
        "operationId": "GetMetadataForPostEntity",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-table-metadata---post"
        }
      }
    },
    "/{connectionId}/v1.0/$metadata.json/entities/{entityName}/postitem": {
      "get": {
        "tags": [
          "GetMetadataForPostEntity",
          "DynamicSchema"
        ],
        "summary": "Get table metadata based on environment - Post",
        "description": "Gets table metadata for post operation based on environment",
        "operationId": "GetMetadataForPostEntityWithOrganization",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Environment",
            "required": true,
            "x-ms-summary": "Environment",
            "type": "string"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-table-metadata-based-on-environment---post"
        }
      }
    },
    "/{connectionId}/$metadata.json/entities/{entityName}/patchitem": {
      "get": {
        "tags": [
          "EntityMetadata"
        ],
        "summary": "Get table metadata - Patch",
        "description": "Gets table metadata for patch operation",
        "operationId": "GetMetadataForPatchEntity",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-table-metadata---patch"
        }
      }
    },
    "/{connectionId}/v1.0/$metadata.json/entities/{entityName}/patchitem": {
      "get": {
        "tags": [
          "GetMetadataForPatchEntity",
          "DynamicSchema"
        ],
        "summary": "Get table metadata based on environment - Patch",
        "description": "Gets table metadata for patch operation based on environment",
        "operationId": "GetMetadataForPatchEntityWithOrganization",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Choose an environment",
            "required": true,
            "x-ms-summary": "Environment",
            "type": "string"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-table-metadata-based-on-environment---patch"
        }
      }
    },
    "/{connectionId}/$metadata.json/entities/{entityName}/relationships": {
      "get": {
        "tags": [
          "EntityRelationships"
        ],
        "operationId": "GetEntityRelationships",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityRelationshipsDynamicValuesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/v1.0/$metadata.json/GetEntityListEnum/GetEntityRelationshipsWithOrganization": {
      "post": {
        "tags": [
          "EntityRelationships",
          "ListEnum"
        ],
        "summary": "Get entity relationships based on environment",
        "description": "Returns list of entity relationships based on environment",
        "operationId": "GetEntityRelationshipsWithOrganization",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Choose an environment",
            "required": true,
            "x-ms-summary": "Environment",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "entityName": {
                  "description": "Table name",
                  "type": "string"
                }
              },
              "required": [
                "entityName"
              ]
            },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityRelationshipsDynamicValuesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-entity-relationships-based-on-environment"
        }
      }
    },
    "/{connectionId}/entities/{entityName}/attributefilters": {
      "get": {
        "tags": [
          "AttributeFilters"
        ],
        "summary": "Get attribute filters",
        "description": "Returns list of attribute filters",
        "operationId": "GetAttributeFilters",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the table",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "attributeTypeNames",
            "in": "header",
            "description": "Enter the attribute type names",
            "required": false,
            "x-ms-summary": "Attribute type names",
            "x-ms-visibility": "advanced",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-attribute-filters"
        }
      }
    },
    "/{connectionId}/v1.0/$metadata.json/GetEntityListEnum/GetAttributeFiltersWithOrganization": {
      "post": {
        "tags": [
          "AttributeFilters",
          "ListEnum"
        ],
        "summary": "Get attribute filters based on environment",
        "description": "Returns list of attribute filters based on environment",
        "operationId": "GetAttributeFiltersWithOrganization",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Choose an environment",
            "required": true,
            "x-ms-summary": "Environment",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "entityName": {
                  "description": "Table name",
                  "type": "string"
                },
                "attributeTypeNames": {
                  "description": "Attribute type names",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "entityName",
                "attributeTypeNames"
              ]
            },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "items": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-attribute-filters-based-on-environment"
        }
      }
    },
    "/{connectionId}/entities/{entityName}/scopefilters": {
      "get": {
        "tags": [
          "ScopeFilters"
        ],
        "summary": "Get scope filters",
        "description": "Get scope filters for a given table",
        "operationId": "GetScopeFilters",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the table",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-scope-filters"
        }
      }
    },
    "/{connectionId}/entities/{entityName}/attributes/{attributeMetadataId}/optionSets/{type}": {
      "get": {
        "tags": [
          "EntityOptionSets"
        ],
        "summary": "Retrieves the metadata for option set attribute metadata",
        "description": "Retrieves the metadata for option set attribute metadata",
        "operationId": "GetOptionSetMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Table name",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "attributeMetadataId",
            "in": "path",
            "description": "The attribute",
            "required": true,
            "x-ms-summary": "The attribute",
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "type of option set",
            "required": true,
            "x-ms-summary": "type of option set",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#retrieves-the-metadata-for-option-set-attribute-metadata"
        }
      }
    },
    "/{connectionId}/entities/{entityName}/attributes/{attributeMetadataId}/optionSets/{type}/entitysetname": {
      "get": {
        "tags": [
          "EntityOptionSets"
        ],
        "summary": "Retrieves the metadata for option set attribute metadata",
        "description": "Retrieves the metadata for option set attribute metadata",
        "operationId": "GetOptionSetMetadataWithEntitySetName",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Table name",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "attributeMetadataId",
            "in": "path",
            "description": "The attribute",
            "required": true,
            "x-ms-summary": "The attribute",
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Type of option set",
            "required": true,
            "x-ms-summary": "Type of option set",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#retrieves-the-metadata-for-option-set-attribute-metadata"
        }
      }
    },
    "/{connectionId}/v1.0/$metadata.json/GetEntityListEnum/GetOptionSetMetadataWithEntitySetNameWithOrganization": {
      "post": {
        "tags": [
          "EntityOptionSets",
          "ListEnum"
        ],
        "summary": "Retrieves the metadata for option set attribute metadata based on environment",
        "description": "Retrieves the metadata for option set attribute metadata based on environment",
        "operationId": "GetOptionSetMetadataWithEntitySetNameWithOrganization",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Choose an environment",
            "required": true,
            "x-ms-summary": "Environment",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "entityName": {
                  "description": "Table name",
                  "type": "string"
                },
                "attributeMetadataId": {
                  "description": "The attribute",
                  "type": "string"
                },
                "type": {
                  "description": "Type of option set",
                  "type": "string"
                }
              },
              "required": [
                "entityName",
                "attributeMetadataId",
                "type"
              ]
            },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#retrieves-the-metadata-for-option-set-attribute-metadata-based-on-environment"
        }
      }
    },
    "/{connectionId}/api/data/v9.1/EntityDefinitions": {
      "get": {
        "tags": [
          "Entities"
        ],
        "operationId": "GetEntities",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntitiesDynamicValuesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/v1.0/$metadata.json/GetEntityListEnum/GetEntitiesWithOrganization": {
      "post": {
        "tags": [
          "GetEntities",
          "ListEnum"
        ],
        "operationId": "GetEntitiesWithOrganization",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Environment",
            "required": true,
            "x-ms-summary": "Environment",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntitiesDynamicValuesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/data/v9.1/callbackregistrations": {
      "post": {
        "tags": [
          "Trigger"
        ],
        "summary": "When a row is added, modified or deleted",
        "description": "This trigger allows you to start a flow when a row is added, modified or deleted in a Microsoft Dataverse table, such that it matches the selected options. This connector was formerly known as Common Data Service (current environment).",
        "operationId": "SubscribeWebhookTrigger",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Consistency",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse by pass the cache and hit DB",
            "required": true,
            "x-ms-summary": "Consistency",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "Strong"
          },
          {
            "name": "catalog",
            "in": "header",
            "description": "Using this header parameter to save catalog in flow definition and Microsoft Dataverse will ignore as they don't use this info",
            "required": false,
            "x-ms-summary": "catalog",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "all"
          },
          {
            "name": "category",
            "in": "header",
            "description": "Using this header parameter to save category in flow definition and Microsoft Dataverse will ignore as they don't use this info",
            "required": false,
            "x-ms-summary": "category",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "all"
          },
          {
            "name": "subscriptionRequest",
            "in": "body",
            "description": "Subscription request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CallbackRegistration"
            },
            "x-ms-summary": "Subscription request"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#when-a-row-is-added%2c-modified-or-deleted"
        }
      },
      "x-ms-notification-content": {
        "description": "Webhook notification content",
        "schema": {
          "$ref": "#/definitions/WebhookNotificationContent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/data/v9.1/{entityName}": {
      "get": {
        "tags": [
          "ListRecords"
        ],
        "summary": "List rows",
        "description": "This action allows you to list the rows in a Microsoft Dataverse table that match the selected options. This connector was formerly known as Common Data Service (current environment).",
        "operationId": "ListRecords",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "prefer",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse return the created resource",
            "required": false,
            "x-ms-summary": "Prefer",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "odata.include-annotations=*"
          },
          {
            "name": "accept",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse return the odata id",
            "required": false,
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json;odata.metadata=full"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Choose a table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetEntities",
              "parameters": {},
              "value-collection": "value",
              "value-path": "EntitySetName",
              "value-title": "DisplayCollectionName/UserLocalizedLabel/Label"
            },
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Enter a comma-separated list of column unique names to limit which columns are listed",
            "required": false,
            "x-ms-summary": "Select columns",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Enter an OData style filter expression to limit which rows are listed",
            "required": false,
            "x-ms-summary": "Filter rows",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Columns to sort by in OData orderBy style (excluding lookups)",
            "required": false,
            "x-ms-summary": "Sort By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Enter an Odata style expand query to list related rows",
            "required": false,
            "x-ms-summary": "Expand Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "fetchXml",
            "in": "query",
            "description": "Enter a Fetch XML query for advanced customization",
            "required": false,
            "x-ms-summary": "Fetch Xml Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Enter the number of rows to be listed (default = 5000)",
            "required": false,
            "x-ms-summary": "Row count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Enter the skip token obtained from a previous run to list rows from the next page",
            "required": false,
            "x-ms-summary": "Skip token",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "partitionId",
            "in": "query",
            "description": "An option to specify the partitionId while retrieving data for NoSQL tables",
            "required": false,
            "x-ms-summary": "Partition ID",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityItemList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#list-rows"
        }
      },
      "post": {
        "tags": [
          "CreateRecord"
        ],
        "summary": "Add a new row",
        "description": "This action allows you to add a new row in the selected Microsoft Dataverse table. This connector was formerly known as Common Data Service (current environment).",
        "operationId": "CreateRecord",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "prefer",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse return the created resource",
            "required": true,
            "x-ms-summary": "Prefer",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "return=representation,odata.include-annotations=*"
          },
          {
            "name": "accept",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse return the odata id",
            "required": true,
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json;odata.metadata=full"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Choose a table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetEntities",
              "parameters": {},
              "value-collection": "value",
              "value-path": "EntitySetName",
              "value-title": "DisplayCollectionName/UserLocalizedLabel/Label"
            },
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Row to create",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-properties": {
                "operationId": "GetMetadataForPostEntity",
                "parameters": {
                  "entityName": {
                    "parameterReference": "entityName"
                  }
                },
                "itemValuePath": "schema"
              }
            },
            "x-ms-summary": "Row Item"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "x-ms-dynamic-properties": {
                "operationId": "GetMetadataForGetEntity",
                "parameters": {
                  "entityName": {
                    "parameterReference": "entityName"
                  }
                },
                "itemValuePath": "schema"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#add-a-new-row"
        }
      }
    },
    "/{connectionId}/api/data/v9.1.0/{entityName}": {
      "get": {
        "tags": [
          "ListRecords",
          "Runtime"
        ],
        "summary": "List rows (Preview)",
        "description": "List rows from a table in a Power Platform environment.",
        "operationId": "ListRecordsWithOrganization",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "prefer",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse return the created resource",
            "required": false,
            "x-ms-summary": "Prefer",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "odata.include-annotations=*"
          },
          {
            "name": "accept",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse return the odata id",
            "required": false,
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json;odata.metadata=full"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Choose an environment",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetOrganizations",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Url",
              "value-title": "FriendlyName"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetOrganizations",
              "parameters": {},
              "itemsPath": "value",
              "itemValuePath": "Url",
              "itemTitlePath": "FriendlyName"
            },
            "x-ms-summary": "Environment",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Choose a table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetEntitiesWithOrganization",
              "parameters": {
                "organization": {
                  "parameter": "organization"
                }
              },
              "value-collection": "value",
              "value-path": "EntitySetName",
              "value-title": "DisplayCollectionName/UserLocalizedLabel/Label"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetEntitiesWithOrganization",
              "parameters": {
                "organization": {
                  "parameterReference": "organization"
                }
              },
              "itemsPath": "value",
              "itemValuePath": "EntitySetName",
              "itemTitlePath": "DisplayCollectionName/UserLocalizedLabel/Label"
            },
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Enter a comma-separated list of column unique names to limit which columns are listed",
            "required": false,
            "x-ms-summary": "Select columns",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Enter an OData style filter expression to limit which rows are listed",
            "required": false,
            "x-ms-summary": "Filter rows",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Columns to sort by in OData orderBy style (excluding lookups)",
            "required": false,
            "x-ms-summary": "Sort By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Enter an Odata style expand query to list related rows",
            "required": false,
            "x-ms-summary": "Expand Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "fetchXml",
            "in": "query",
            "description": "Enter a Fetch XML query for advanced customization",
            "required": false,
            "x-ms-summary": "Fetch Xml Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Enter the number of rows to be listed (default = 5000)",
            "required": false,
            "x-ms-summary": "Row count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Enter the skip token obtained from a previous run to list rows from the next page",
            "required": false,
            "x-ms-summary": "Skip token",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "partitionId",
            "in": "query",
            "description": "An option to specify the partitionId while retrieving data for NoSQL tables",
            "required": false,
            "x-ms-summary": "Partition ID",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "dynamicProperties": {
                        "type": "object",
                        "additionalProperties": {
                          "$ref": "#/definitions/Object"
                        }
                      }
                    },
                    "additionalProperties": {
                      "$ref": "#/definitions/Object"
                    },
                    "x-ms-dynamic-schema": {
                      "operationId": "GetMetadataForGetEntityWithOrganization",
                      "parameters": {
                        "organization": {
                          "parameter": "organization"
                        },
                        "entityName": {
                          "parameter": "entityName"
                        },
                        "selectedEntityAttributes": {
                          "parameter": "$select"
                        },
                        "expandEntityAttributes": {
                          "parameter": "$expand"
                        }
                      },
                      "value-path": "schema"
                    },
                    "x-ms-dynamic-properties": {
                      "operationId": "GetMetadataForGetEntityWithOrganization",
                      "parameters": {
                        "organization": {
                          "parameterReference": "organization"
                        },
                        "entityName": {
                          "parameterReference": "entityName"
                        },
                        "selectedEntityAttributes": {
                          "parameterReference": "$select"
                        },
                        "expandEntityAttributes": {
                          "parameterReference": "$expand"
                        }
                      },
                      "itemValuePath": "schema"
                    }
                  }
                },
                "@odata.nextLink": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Next link",
                  "description": "The url to fetch next page data."
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#list-rows-(preview)"
        }
      },
      "post": {
        "tags": [
          "CreateRecord",
          "Runtime"
        ],
        "summary": "Add a new row (Preview)",
        "description": "Create a new row in a table in a Power Platform environment.",
        "operationId": "CreateRecordWithOrganization",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "prefer",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse return the created resource",
            "required": true,
            "x-ms-summary": "Prefer",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "return=representation,odata.include-annotations=*"
          },
          {
            "name": "accept",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse return the odata id",
            "required": true,
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json;odata.metadata=full"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Choose an environment",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetOrganizations",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Url",
              "value-title": "FriendlyName"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetOrganizations",
              "parameters": {},
              "itemsPath": "value",
              "itemValuePath": "Url",
              "itemTitlePath": "FriendlyName"
            },
            "x-ms-summary": "Environment",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Choose a table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetEntitiesWithOrganization",
              "parameters": {
                "organization": {
                  "parameter": "organization"
                }
              },
              "value-collection": "value",
              "value-path": "EntitySetName",
              "value-title": "DisplayCollectionName/UserLocalizedLabel/Label"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetEntitiesWithOrganization",
              "parameters": {
                "organization": {
                  "parameterReference": "organization"
                }
              },
              "itemsPath": "value",
              "itemValuePath": "EntitySetName",
              "itemTitlePath": "DisplayCollectionName/UserLocalizedLabel/Label"
            },
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Row to create",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetMetadataForPostEntityWithOrganization",
                "parameters": {
                  "organization": {
                    "parameter": "organization"
                  },
                  "entityName": {
                    "parameter": "entityName"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetMetadataForPostEntityWithOrganization",
                "parameters": {
                  "organization": {
                    "parameterReference": "organization"
                  },
                  "entityName": {
                    "parameterReference": "entityName"
                  }
                },
                "itemValuePath": "schema"
              }
            },
            "x-ms-summary": "Row Item"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetMetadataForGetEntityWithOrganization",
                "parameters": {
                  "organization": {
                    "parameter": "organization"
                  },
                  "entityName": {
                    "parameter": "entityName"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetMetadataForGetEntityWithOrganization",
                "parameters": {
                  "organization": {
                    "parameterReference": "organization"
                  },
                  "entityName": {
                    "parameterReference": "entityName"
                  }
                },
                "itemValuePath": "schema"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#add-a-new-row-(preview)"
        }
      }
    },
    "/{connectionId}/api/data/v9.1/{entityName}({recordId})": {
      "get": {
        "tags": [
          "GetRecord"
        ],
        "summary": "Get a row by ID",
        "description": "This action allows you to get the row that matches an ID in a Microsoft Dataverse table. This connector was formerly known as Common Data Service (current environment).",
        "operationId": "GetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "prefer",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse return the created resource",
            "required": true,
            "x-ms-summary": "Prefer",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "odata.include-annotations=*"
          },
          {
            "name": "accept",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse return the odata id",
            "required": true,
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json;odata.metadata=full"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Choose a table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetEntities",
              "parameters": {},
              "value-collection": "value",
              "value-path": "EntitySetName",
              "value-title": "DisplayCollectionName/UserLocalizedLabel/Label"
            },
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "recordId",
            "in": "path",
            "description": "Enter the row's globally unique identifier (GUID)",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Row ID",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Enter a comma-separated list of column unique names to limit which columns are listed",
            "required": false,
            "x-ms-summary": "Select columns",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Enter an Odata style expand query to list related rows",
            "required": false,
            "x-ms-summary": "Expand Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "partitionId",
            "in": "query",
            "description": "An option to specify the partitionId while retrieving data for NoSQL tables",
            "required": false,
            "x-ms-summary": "Partition Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "x-ms-dynamic-properties": {
                "operationId": "GetMetadataForGetEntity",
                "parameters": {
                  "entityName": {
                    "parameterReference": "entityName"
                  },
                  "selectedEntityAttributes": {
                    "parameterReference": "$select"
                  },
                  "expandEntityAttributes": {
                    "parameterReference": "$expand"
                  }
                },
                "itemValuePath": "schema"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-a-row-by-id"
        }
      },
      "delete": {
        "tags": [
          "DeleteRecord"
        ],
        "summary": "Delete a row",
        "description": "This action allows you to delete a row from a Microsoft Dataverse table. This connector was formerly known as Common Data Service (current environment).",
        "operationId": "DeleteRecord",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Choose a table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetEntities",
              "parameters": {},
              "value-collection": "value",
              "value-path": "EntitySetName",
              "value-title": "DisplayCollectionName/UserLocalizedLabel/Label"
            },
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "recordId",
            "in": "path",
            "description": "Enter the row's globally unique identifier (GUID)",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Row ID",
            "type": "string"
          },
          {
            "name": "partitionId",
            "in": "query",
            "description": "An option to specify the partitionId while deleting row for NoSQL tables",
            "required": false,
            "x-ms-summary": "Partition Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#delete-a-row"
        }
      },
      "patch": {
        "tags": [
          "UpdateRecord"
        ],
        "summary": "Update a row",
        "description": "This action allows you to modify any selected row in a Microsoft Dataverse table, or adds a new row if it doesn�t exist. This connector was formerly known as Common Data Service (current environment).",
        "operationId": "UpdateRecord",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "prefer",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse return the created resource",
            "required": true,
            "x-ms-summary": "Prefer",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "return=representation,odata.include-annotations=*"
          },
          {
            "name": "accept",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse return the odata id",
            "required": true,
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json;odata.metadata=full"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Choose a table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetEntities",
              "parameters": {},
              "value-collection": "value",
              "value-path": "EntitySetName",
              "value-title": "DisplayCollectionName/UserLocalizedLabel/Label"
            },
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "recordId",
            "in": "path",
            "description": "Enter the row's globally unique identifier (GUID)",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Row ID",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Row to update",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-properties": {
                "operationId": "GetMetadataForPatchEntity",
                "parameters": {
                  "entityName": {
                    "parameterReference": "entityName"
                  }
                },
                "itemValuePath": "schema"
              }
            },
            "x-ms-summary": "Row Item"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-properties": {
                "operationId": "GetMetadataForGetEntity",
                "parameters": {
                  "entityName": {
                    "parameterReference": "entityName"
                  }
                },
                "itemValuePath": "schema"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#update-a-row"
        }
      }
    },
    "/{connectionId}/api/data/v9.1.0/{entityName}({recordId})": {
      "get": {
        "tags": [
          "GetRecord",
          "Runtime"
        ],
        "summary": "Get a row by ID (Preview)",
        "description": "Get a row from a table in a Power Platform environment.",
        "operationId": "GetItemWithOrganization",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "prefer",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse return the created resource",
            "required": true,
            "x-ms-summary": "Prefer",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "odata.include-annotations=*"
          },
          {
            "name": "accept",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse return the odata id",
            "required": true,
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json;odata.metadata=full"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Choose an environment",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetOrganizations",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Url",
              "value-title": "FriendlyName"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetOrganizations",
              "parameters": {},
              "itemsPath": "value",
              "itemValuePath": "Url",
              "itemTitlePath": "FriendlyName"
            },
            "x-ms-summary": "Environment",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Choose a table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetEntitiesWithOrganization",
              "parameters": {
                "organization": {
                  "parameter": "organization"
                }
              },
              "value-collection": "value",
              "value-path": "EntitySetName",
              "value-title": "DisplayCollectionName/UserLocalizedLabel/Label"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetEntitiesWithOrganization",
              "parameters": {
                "organization": {
                  "parameterReference": "organization"
                }
              },
              "itemsPath": "value",
              "itemValuePath": "EntitySetName",
              "itemTitlePath": "DisplayCollectionName/UserLocalizedLabel/Label"
            },
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "recordId",
            "in": "path",
            "description": "Enter the row's globally unique identifier (GUID)",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Row ID",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Enter a comma-separated list of column unique names to limit which columns are listed",
            "required": false,
            "x-ms-summary": "Select columns",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Enter an Odata style expand query to list related rows",
            "required": false,
            "x-ms-summary": "Expand Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "partitionId",
            "in": "query",
            "description": "An option to specify the partitionId while retrieving data for NoSQL tables",
            "required": false,
            "x-ms-summary": "Partition Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetMetadataForGetEntityWithOrganization",
                "parameters": {
                  "organization": {
                    "parameter": "organization"
                  },
                  "entityName": {
                    "parameter": "entityName"
                  },
                  "selectedEntityAttributes": {
                    "parameter": "$select"
                  },
                  "expandEntityAttributes": {
                    "parameter": "$expand"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetMetadataForGetEntityWithOrganization",
                "parameters": {
                  "organization": {
                    "parameterReference": "organization"
                  },
                  "entityName": {
                    "parameterReference": "entityName"
                  },
                  "selectedEntityAttributes": {
                    "parameterReference": "$select"
                  },
                  "expandEntityAttributes": {
                    "parameterReference": "$expand"
                  }
                },
                "itemValuePath": "schema"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-a-row-by-id-(preview)"
        }
      },
      "delete": {
        "tags": [
          "DeleteRecord",
          "Runtime"
        ],
        "summary": "Delete a row (Preview)",
        "description": "Delete a row from a table in a Power Platform environment.",
        "operationId": "DeleteRecordWithOrganization",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Choose an environment",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetOrganizations",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Url",
              "value-title": "FriendlyName"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetOrganizations",
              "parameters": {},
              "itemsPath": "value",
              "itemValuePath": "Url",
              "itemTitlePath": "FriendlyName"
            },
            "x-ms-summary": "Environment",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Choose a table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetEntitiesWithOrganization",
              "parameters": {
                "organization": {
                  "parameter": "organization"
                }
              },
              "value-collection": "value",
              "value-path": "EntitySetName",
              "value-title": "DisplayCollectionName/UserLocalizedLabel/Label"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetEntitiesWithOrganization",
              "parameters": {
                "organization": {
                  "parameterReference": "organization"
                }
              },
              "itemsPath": "value",
              "itemValuePath": "EntitySetName",
              "itemTitlePath": "DisplayCollectionName/UserLocalizedLabel/Label"
            },
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "recordId",
            "in": "path",
            "description": "Enter the row's globally unique identifier (GUID)",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Row ID",
            "type": "string"
          },
          {
            "name": "partitionId",
            "in": "query",
            "description": "An option to specify the partitionId while deleting row for NoSQL tables",
            "required": false,
            "x-ms-summary": "Partition Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#delete-a-row-(preview)"
        }
      },
      "patch": {
        "tags": [
          "UpdateRecord",
          "Runtime"
        ],
        "summary": "Update a row (Preview)",
        "description": "Update or add (upsert) a row in a table in a Power Platform environment.",
        "operationId": "UpdateRecordWithOrganization",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "prefer",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse return the created resource",
            "required": true,
            "x-ms-summary": "Prefer",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "return=representation,odata.include-annotations=*"
          },
          {
            "name": "accept",
            "in": "header",
            "description": "The header parameter required to make Microsoft Dataverse return the odata id",
            "required": true,
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json;odata.metadata=full"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Choose an environment",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetOrganizations",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Url",
              "value-title": "FriendlyName"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetOrganizations",
              "parameters": {},
              "itemsPath": "value",
              "itemValuePath": "Url",
              "itemTitlePath": "FriendlyName"
            },
            "x-ms-summary": "Environment",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Choose a table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetEntitiesWithOrganization",
              "parameters": {
                "organization": {
                  "parameter": "organization"
                }
              },
              "value-collection": "value",
              "value-path": "EntitySetName",
              "value-title": "DisplayCollectionName/UserLocalizedLabel/Label"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetEntitiesWithOrganization",
              "parameters": {
                "organization": {
                  "parameterReference": "organization"
                }
              },
              "itemsPath": "value",
              "itemValuePath": "EntitySetName",
              "itemTitlePath": "DisplayCollectionName/UserLocalizedLabel/Label"
            },
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "recordId",
            "in": "path",
            "description": "Enter the row's globally unique identifier (GUID)",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Row ID",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Row to update",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetMetadataForPatchEntityWithOrganization",
                "parameters": {
                  "organization": {
                    "parameter": "organization"
                  },
                  "entityName": {
                    "parameter": "entityName"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetMetadataForPatchEntityWithOrganization",
                "parameters": {
                  "organization": {
                    "parameterReference": "organization"
                  },
                  "entityName": {
                    "parameterReference": "entityName"
                  }
                },
                "itemValuePath": "schema"
              }
            },
            "x-ms-summary": "Row Item"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetMetadataForGetEntityWithOrganization",
                "parameters": {
                  "organization": {
                    "parameter": "organization"
                  },
                  "entityName": {
                    "parameter": "entityName"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetMetadataForGetEntityWithOrganization",
                "parameters": {
                  "organization": {
                    "parameterReference": "organization"
                  },
                  "entityName": {
                    "parameterReference": "entityName"
                  }
                },
                "itemValuePath": "schema"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#update-a-row-(preview)"
        }
      }
    },
    "/{connectionId}/api/data/v9.0/msdyn_aimodels({modelId})/Microsoft.Dynamics.CRM.Predict": {
      "post": {
        "tags": [
          "Predict"
        ],
        "summary": "Predict",
        "description": "Predict",
        "operationId": "Predict",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "modelId",
            "in": "path",
            "description": "Choose an option or add your own",
            "required": true,
            "x-ms-summary": "Model",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListRecords",
              "parameters": {
                "entityName": "msdyn_aimodels",
                "$filter": "statecode eq 1"
              },
              "value-collection": "value",
              "value-path": "msdyn_aimodelid",
              "value-title": "msdyn_name"
            }
          },
          {
            "name": "item",
            "in": "body",
            "description": "Infer request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PredictRequest"
            },
            "x-ms-summary": "Infer Request"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "description": "String serialized response payload.",
                  "x-ms-summary": "Response Payload"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#predict-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/$metadata.json/api/data/v9.1/msdyn_aimodels({recordId})/Microsoft.Dynamics.CRM.PredictionSchema": {
      "get": {
        "tags": [
          "GetPredictionSchema"
        ],
        "summary": "Get schema for predict operation",
        "description": "Gets operation schema for predict operation.",
        "operationId": "GetPredictionSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "recordId",
            "in": "path",
            "description": "Model id",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Model",
            "type": "string"
          },
          {
            "name": "predictionMode",
            "in": "header",
            "required": false,
            "x-ms-summary": "Prediction Mode",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "schema": {
                  "$ref": "#/definitions/Object",
                  "description": "Swagger schema"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#get-schema-for-predict-operation"
        }
      }
    },
    "/{connectionId}/api/data/v9.1/msdyn_aimodels({recordId})/Microsoft.Dynamics.CRM.Predict": {
      "post": {
        "tags": [
          "Predict"
        ],
        "summary": "Predict using AI Builder models",
        "description": "This action allows you to use the AI Builder models in your Microsoft Dataverse environment for predictions. Common models include Form Processing, Object Detection, Text Classification or use the prebuilt Business Card Reader, Key phrase extraction, Language detection, Text recognition � OCR and Sentiment Analysis.",
        "operationId": "PredictV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "recordId",
            "in": "path",
            "description": "Choose a model",
            "required": true,
            "x-ms-summary": "Model name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListRecords",
              "parameters": {
                "entityName": "msdyn_aimodels",
                "$filter": "statecode eq 1"
              },
              "value-collection": "value",
              "value-path": "msdyn_aimodelid",
              "value-title": "msdyn_name"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "The header required to allow Dataverse to process the request async with 202 OK and location headers",
            "required": true,
            "x-ms-summary": "Prefer",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "respond-async"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Infer request",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-properties": {
                "operationId": "GetPredictionSchema",
                "parameters": {
                  "recordId": {
                    "parameterReference": "recordId"
                  }
                },
                "itemValuePath": "input"
              }
            },
            "x-ms-summary": "Infer Request"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-properties": {
                "operationId": "GetPredictionSchema",
                "parameters": {
                  "recordId": {
                    "parameterReference": "recordId"
                  }
                },
                "itemValuePath": "output"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#predict-using-ai-builder-models"
        }
      }
    },
    "/{connectionId}/api/data/v9.1/msdyn_aimodels({recordId})/Microsoft.Dynamics.CRM.AddToFeedbackLoop": {
      "post": {
        "tags": [
          "AddToFeedbackLoop"
        ],
        "summary": "Add to feedback loop of AI Builder models (Preview)",
        "description": "[Preview] This action allows you to add feedback loop items to AI Builder models in your Microsoft Dataverse environment.",
        "operationId": "AddToFeedbackLoop",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "recordId",
            "in": "path",
            "description": "Choose a model",
            "required": true,
            "x-ms-summary": "Model name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListRecords",
              "parameters": {
                "entityName": "msdyn_aimodels",
                "$filter": "statecode eq 1"
              },
              "value-collection": "value",
              "value-path": "msdyn_aimodelid",
              "value-title": "msdyn_name"
            }
          },
          {
            "name": "item",
            "in": "body",
            "description": "Request",
            "schema": {
              "type": "object",
              "properties": {
                "predictionInput": {
                  "description": "Infer request",
                  "type": "object",
                  "required": [
                    "@odata.type"
                  ],
                  "properties": {
                    "@odata.type": {
                      "x-ms-visibility": "internal",
                      "type": "string",
                      "default": "#Microsoft.Dynamics.CRM.expando"
                    },
                    "base64Encoded": {
                      "description": "Prediction Input File",
                      "type": "string",
                      "format": "byte",
                      "x-ms-summary": "Prediction Input File"
                    },
                    "inputText": {
                      "description": "Prediction Input Text",
                      "type": "string",
                      "x-ms-summary": "Prediction Input Text"
                    }
                  },
                  "x-ms-summary": "Infer Request"
                },
                "inputName": {
                  "description": "Name used for the prediction input",
                  "type": "string",
                  "x-ms-summary": "Input Name"
                },
                "predictionOutput": {
                  "description": "Search for 'predictionOutput'",
                  "type": "string",
                  "x-ms-summary": "Infer Output"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Ok"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataserviceforapps/#add-to-feedback-loop-of-ai-builder-models-(preview)"
        }
      }
    },
    "/{connectionId}/api/data/v9.1/msdyn_aimodels({recordId})/Microsoft.Dynamics.CRM.PredictByReference": {
      "post": {
        "tags": [
          "PredictByReference"
        ],
        "summary": "Predict By Reference",
        "description": "Use AI Builder models with a Microsoft Dataverse row Id. With the predict action you can use your custom AI Builder Models of Form Processing, Object Detection, Text Classification or use the prebuilt Business Card Reader, Key phrase extraction, Language detection, Text recognition � OCR and Sentiment Analysis.",
        "operationId": "PredictByReference",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "recordId",
            "in": "path",
            "description": "Choose an option or add your own",
            "required": true,
            "x-ms-summary": "Model",
            "type": "string"
          },
          {
[...]
