{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Eden AI",
    "description": "Enhance your apps and workflows with the power of Eden AI ! Integrate advanced AI features such as natural language processing, image recognition, document parsing, audio processing, generative AI and more.",
    "contact": {
      "name": "Eden AI",
      "url": "https://www.edenai.co/contact",
      "email": "contact@edenai.co"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "tip1002-002.azure-apihub.net",
  "basePath": "/apim/edenai",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.edenai.co"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.edenai.co/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Website"
    }
  ],
  "consumes": [
    "multipart/form-data",
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/v2/audio/text_to_speech": {
      "post": {
        "summary": "Convert Text into Speech",
        "description": "Converts normal language text into speech.",
        "operationId": "TextToSpeech",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "providers": {
                  "type": "string",
                  "description": "Enter the names of the providers seperated by a coma",
                  "default": "google, microsoft, lovoai, ibm, amazon",
                  "x-ms-visibility": "important"
                },
                "language": {
                  "type": "string",
                  "description": "Enter the language of your text",
                  "default": "en",
                  "x-ms-visibility": "important"
                },
                "text": {
                  "type": "string",
                  "description": "Enter your text",
                  "default": "Hello, my name is Jane.",
                  "x-ms-visibility": "important"
                },
                "option": {
                  "type": "string",
                  "description": "Choose the gender voice. MALE or FEMALE.",
                  "default": "FEMALE",
                  "x-ms-visibility": "advanced"
                },
                "settings": {
                  "type": "object",
                  "description": "Enter the model you want like this. Check our doc to configure it.",
                  "default": {},
                  "x-ms-visibility": "advanced"
                },
                "rate": {
                  "type": "number",
                  "format": "number",
                  "description": "Increase or decrease the speaking pitch. An integer between 100 and -100.",
                  "default": 0,
                  "x-ms-visibility": "advanced"
                },
                "pitch": {
                  "type": "number",
                  "format": "number",
                  "description": "Increase or decrease the speaking rate. An integer between 100 and -100.",
                  "default": 0,
                  "x-ms-visibility": "advanced"
                },
                "volume": {
                  "type": "number",
                  "format": "number",
                  "description": "Increase or decrease the audio volume. An integer between 100 and -100.",
                  "default": 0,
                  "x-ms-visibility": "advanced"
                },
                "audio_format": {
                  "type": "string",
                  "description": "Specify the audio format in which the audio will be generated.",
                  "default": "mp3",
                  "x-ms-visibility": "advanced"
                },
                "sampling_rate": {
                  "type": "number",
                  "format": "number",
                  "description": "The synthesis sample rate (in hertz) for this audio.",
                  "default": 0,
                  "x-ms-visibility": "advanced"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "google": {
                  "type": "object",
                  "properties": {
                    "audio": {
                      "type": "string",
                      "description": "google/audio"
                    },
                    "voice_type": {
                      "type": "number",
                      "format": "float",
                      "description": "google/voice_type"
                    },
                    "audio_resource_url": {
                      "type": "string",
                      "description": "google/audio_resource_url"
                    }
                  },
                  "description": "google"
                },
                "microsoft": {
                  "type": "object",
                  "properties": {
                    "audio": {
                      "type": "string",
                      "description": "microsoft/audio"
                    },
                    "voice_type": {
                      "type": "number",
                      "format": "float",
                      "description": "microsoft/voice_type"
                    },
                    "audio_resource_url": {
                      "type": "string",
                      "description": "microsoft/audio_resource_url"
                    }
                  },
                  "description": "microsoft"
                },
                "lovoai": {
                  "type": "object",
                  "properties": {
                    "audio": {
                      "type": "string",
                      "description": "lovoai/audio"
                    },
                    "voice_type": {
                      "type": "number",
                      "format": "float",
                      "description": "lovoai/voice_type"
                    },
                    "audio_resource_url": {
                      "type": "string",
                      "description": "lovoai/audio_resource_url"
                    }
                  },
                  "description": "lovoai"
                },
                "ibm": {
                  "type": "object",
                  "properties": {
                    "audio": {
                      "type": "string",
                      "description": "ibm/audio"
                    },
                    "voice_type": {
                      "type": "number",
                      "format": "float",
                      "description": "ibm/voice_type"
                    },
                    "audio_resource_url": {
                      "type": "string",
                      "description": "ibm/audio_resource_url"
                    }
                  },
                  "description": "ibm"
                },
                "amazon": {
                  "type": "object",
                  "properties": {
                    "audio": {
                      "type": "string",
                      "description": "amazon/audio"
                    },
                    "voice_type": {
                      "type": "number",
                      "format": "float",
                      "description": "amazon/voice_type"
                    },
                    "audio_resource_url": {
                      "type": "string",
                      "description": "amazon/audio_resource_url"
                    }
                  },
                  "description": "amazon"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/edenai/#convert-text-into-speech"
        }
      }      
    },
    "/{connectionId}/v2/image/explicit_content": {
      "post": {
        "summary": "Detect Explicit Content in Images",
        "description": "Detects adult explicit content in images, that is generally inappropriate for people under the age of 18 and includes nudity, sexual activity and pornography...",
        "operationId": "ExplicitContentDetection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "accept",
            "in": "formData",
            "type": "string",
            "description": "Accept",
            "required": true,
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "content-type",
            "in": "formData",
            "type": "string",
            "description": "Content-type",
            "required": true,
            "default": "multipart/form-data",
            "x-ms-visibility": "internal"
          },
          {
            "name": "providers",
            "in": "formData",
            "type": "string",
            "description": "Enter the names of the providers seperated by a coma",
            "default": "amazon, google, microsoft, sentisight, picpurify, api4ai, clarifai",
            "required": true,
            "x-ms-summary": "Providers",
            "x-ms-visibility": "important"
          },
          {
            "name": "file",
            "in": "formData",
            "type": "file",
            "format": "binary",
            "description": "Choose the file you want to analyse",
            "required": true,
            "x-ms-summary": "File",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "amazon": {
                  "type": "object",
                  "properties": {
                    "nsfw_likelihood": {
                      "type": "number",
                      "format": "float",
                      "description": "amazon/nsfw_likelihood"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "description": "amazon/label"
                          },
                          "likelihood": {
                            "type": "number",
                            "format": "float",
                            "description": "amazon/likelihood"
                          }
                        }
                      },
                      "description": "amazon/items"
                    }
                  },
                  "description": "amazon"
                },
                "google": {
                  "type": "object",
                  "properties": {
                    "nsfw_likelihood": {
                      "type": "number",
                      "format": "float",
                      "description": "google/likelihood"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "description": "google/label"
                          },
                          "likelihood": {
                            "type": "number",
                            "format": "float",
                            "description": "google/likelihood"
                          }
                        }
                      },
                      "description": "google/items"
                    }
                  },
                  "description": "google"
                },
                "microsoft": {
                  "type": "object",
                  "properties": {
                    "nsfw_likelihood": {
                      "type": "number",
                      "format": "float",
                      "description": "microsoft/nsfw_likelihood"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "description": "microsoft/label"
                          },
                          "likelihood": {
                            "type": "number",
                            "format": "float",
                            "description": "microsoft/likelihood"
                          }
                        }
                      },
                      "description": "microsoft/items"
                    }
                  },
                  "description": "microsoft"
                },
                "sentisight": {
                  "type": "object",
                  "properties": {
                    "nsfw_likelihood": {
                      "type": "number",
                      "format": "float",
                      "description": "sentisight/nsfw_likelihood"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "description": "sentisight/label"
                          },
                          "likelihood": {
                            "type": "number",
                            "format": "float",
                            "description": "sentisight/likelihood"
                          }
                        }
                      },
                      "description": "sentisight/items"
                    }
                  },
                  "description": "sentisight"
                },
                "picpurify": {
                  "type": "object",
                  "properties": {
                    "nsfw_likelihood": {
                      "type": "number",
                      "format": "float",
                      "description": "picpurify/nsfw_likelihood"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "description": "picpurify/label"
                          },
                          "likelihood": {
                            "type": "number",
                            "format": "float",
                            "description": "picpurify/likelihood"
                          }
                        }
                      },
                      "description": "picpurify/items"
                    }
                  },
                  "description": "picpurify"
                },
                "api4ai": {
                  "type": "object",
                  "properties": {
                    "nsfw_likelihood": {
                      "type": "number",
                      "format": "float",
                      "description": "api4ai/nsfw_likelihood"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "description": "api4ai/label"
                          },
                          "likelihood": {
                            "type": "number",
                            "format": "float",
                            "description": "api4ai/likelihood"
                          }
                        }
                      },
                      "description": "api4ai/items"
                    }
                  },
                  "description": "api4ai"
                },
                "clarifai": {
                  "type": "object",
                  "properties": {
                    "nsfw_likelihood": {
                      "type": "number",
                      "format": "float",
                      "description": "clarifai/nsfw_likelihood"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "description": "clarifai/label"
                          },
                          "likelihood": {
                            "type": "number",
                            "format": "float",
                            "description": "clarifai/likelihood"
                          }
                        }
                      },
                      "description": "clarifai/items"
                    }
                  },
                  "description": "clarifai"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/edenai/#detect-explicit-content-in-images"
        }
      }
    },
    "/{connectionId}/v2/text/generation": {
      "post": {
        "summary": "Text Generation",
        "description": "Generates text based on a given prompt.",
        "operationId": "TextGeneration",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "providers": {
                  "type": "string",
                  "description": "Enter the names of the providers seperated by a coma",
                  "default": "openai, cohere",
                  "x-ms-visibility": "important"
                },
                "text": {
                  "type": "string",
                  "description": "Enter your prompt",
                  "x-ms-visibility": "important"
                },
                "temperature": {
                  "type": "number",
                  "format": "number",
                  "description": "A number between 0 and 1. Higher values mean the model will take more risks.",
                  "default": 0.3,
                  "x-ms-visibility": "advanced"
                },
                "max_tokens": {
                  "type": "number",
                  "format": "number",
                  "description": "An integer between 1 and 2048. The maximum number of tokens to generate in the completion.",
                  "default": 250,
                  "x-ms-visibility": "advanced"
                },
                "settings": {
                  "type": "object",
                  "description": "Enter the model you want like this. Check our documentation to configure it.",
                  "default": {},
                  "x-ms-visibility": "advanced"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "openai": {
                  "type": "object",
                  "properties": {
                    "generated_text": {
                      "type": "string",
                      "description": "openai/generated_text"
                    }
                  },
                  "description": "openai"
                },
                "cohere": {
                  "type": "object",
                  "properties": {
                    "generated_text": {
                      "type": "string",
                      "description": "cohere/generated_text"
                    }
                  },
                  "description": "cohere"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/edenai/#text-generation"
        }
      }
    },
    "/{connectionId}/v2/text/chat": {
      "post": {
        "summary": "Generate Chat Responses",
        "description": "Generates human-like responses to various inputs and queries.",
        "operationId": "Chat",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "providers": {
                  "type": "string",
                  "description": "Enter the names of the providers seperated by a coma",
                  "default": "openai",
                  "x-ms-visibility": "important"
                },
                "text": {
                  "type": "string",
                  "description": "Start your conversation here",
                  "x-ms-visibility": "important"
                },
                "chat_global_action": {
                  "type": "string",
                  "description": "A system message that helps set the behavior of the assistant",
                  "x-ms-visibility": "advanced"
                },
                "temperature": {
                  "type": "number",
                  "format": "number",
                  "description": "A number between 0 and 1. Higher values mean the model will take more risks.",
                  "default": 0.3,
                  "x-ms-visibility": "advanced"
                },
                "max_tokens": {
                  "type": "number",
                  "format": "number",
                  "description": "An integer between 1 and 2048. The maximum number of tokens to generate in the completion.",
                  "default": 250,
                  "x-ms-visibility": "advanced"
                },
                "settings": {
                  "type": "object",
                  "description": "Enter the model you want like this. Check our documentation to configure it.",
                  "default": {},
                  "x-ms-visibility": "advanced"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "openai": {
                  "type": "object",
                  "properties": {
                    "generated_text": {
                      "type": "string",
                      "description": "openai/generated_text"
                    },
                    "status": {
                      "type": "string",
                      "description": "openai/status"
                    }
                  },
                  "description": "openai"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/edenai/#generate-chat-responses"
        }
      }
    },
    "/{connectionId}/v2/text/topic_extraction": {
      "post": {
        "summary": "Extract Topic from Text",
        "description": "Extracts general topics in a text.",
        "operationId": "TopicExtraction",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "providers": {
                  "type": "string",
                  "description": "Enter the names of the providers seperated by a coma",
                  "default": "google, openai, ibm",
                  "x-ms-visibility": "important"
                },
                "language": {
                  "type": "string",
                  "description": "Enter the language of your text",
                  "default": "en",
                  "x-ms-visibility": "important"
                },
                "text": {
                  "type": "string",
                  "description": "Enter your text",
                  "x-ms-visibility": "important"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "google": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string",
                            "description": "google/category"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "google/importance"
                          }
                        }
                      },
                      "description": "google/items"
                    }
                  },
                  "description": "google"
                },
                "openai": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string",
                            "description": "openai/category"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "openai/importance"
                          }
                        }
                      },
                      "description": "openai/items"
                    }
                  },
                  "description": "openai"
                },
                "ibm": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string",
                            "description": "ibm/category"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "ibm/importance"
                          }
                        }
                      },
                      "description": "ibm/items"
                    }
                  },
                  "description": "ibm"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/edenai/#extract-topic-from-text"
        }
      }
    },
    "/{connectionId}/v2/text/keyword_extraction": {
      "post": {
        "summary": "Extract Keywords from Text",
        "description": "Extracts the most important words and expressions in a text.",
        "operationId": "KeywordExtraction",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "providers": {
                  "type": "string",
                  "description": "Enter the names of the providers seperated by a coma",
                  "default": "amazon, openai, microsoft, ibm, oneai, emvista",
                  "x-ms-visibility": "important"
                },
                "language": {
                  "type": "string",
                  "description": "Enter the language of your text",
                  "default": "en",
                  "x-ms-visibility": "important"
                },
                "text": {
                  "type": "string",
                  "description": "Enter your text",
                  "x-ms-visibility": "important"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "amazon": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "type": "string",
                            "description": "amazon/keyword"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "amazon/importance"
                          }
                        }
                      },
                      "description": "amazon/items"
                    }
                  },
                  "description": "amazon"
                },
                "openai": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "type": "string",
                            "description": "openai/keyword"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "openai/importance"
                          }
                        }
                      },
                      "description": "openai/items"
                    }
                  },
                  "description": "openai"
                },
                "microsoft": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "type": "string",
                            "description": "microsoft/keyword"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "microsoft/importance"
                          }
                        }
                      },
                      "description": "microsoft/items"
                    }
                  },
                  "description": "microsoft"
                },
                "ibm": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "type": "string",
                            "description": "ibm/keyword"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "ibm/importance"
                          }
                        }
                      },
                      "description": "ibm/items"
                    }
                  },
                  "description": "ibm"
                },
                "oneai": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "type": "string",
                            "description": "oneai/keyword"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "oneai/importance"
                          }
                        }
                      },
                      "description": "oneai/items"
                    }
                  },
                  "description": "oneai"
                },
                "emvista": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "type": "string",
                            "description": "emvista/keyword"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "emvista/importance"
                          }
                        }
                      },
                      "description": "emvista/items"
                    }
                  },
                  "description": "emvista"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/edenai/#extract-keywords-from-text"
        }
      }
    },
    "/{connectionId}/v2/text/named_entity_recognition": {
      "post": {
        "summary": "Extract Named Entities in Text",
        "description": "Identifies named entities in a text and classifies them into predefined categories.",
        "operationId": "NamedEntityRecognition",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "providers": {
                  "type": "string",
                  "description": "Enter the names of the providers seperated by a coma",
                  "default": "amazon, google, openai, lettria, neuralspace, microsoft, ibm, oneai",
                  "x-ms-visibility": "important"
                },
                "language": {
                  "type": "string",
                  "description": "Enter the language of your text",
                  "default": "en",
                  "x-ms-visibility": "important"
                },
                "text": {
                  "type": "string",
                  "description": "Enter your text",
                  "x-ms-visibility": "important"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "amazon": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entity": {
                            "type": "string",
                            "description": "amazon/entity"
                          },
                          "category": {
                            "type": "string",
                            "description": "amazon/category"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "amazon/importance"
                          }
                        }
                      },
                      "description": "amazon/items"
                    }
                  },
                  "description": "amazon"
                },
                "google": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entity": {
                            "type": "string",
                            "description": "google/entity"
                          },
                          "category": {
                            "type": "string",
                            "description": "google/category"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "google/importance"
                          }
                        }
                      },
                      "description": "google/items"
                    }
                  },
                  "description": "google"
                },
                "openai": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entity": {
                            "type": "string",
                            "description": "openai/entity"
                          },
                          "category": {
                            "type": "string",
                            "description": "openai/category"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "openai/importance"
                          }
                        }
                      },
                      "description": "openai/items"
                    }
                  },
                  "description": "openai"
                },
                "lettria": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entity": {
                            "type": "string",
                            "description": "lettria/entity"
                          },
                          "category": {
                            "type": "string",
                            "description": "lettria/category"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "lettria/importance"
                          }
                        }
                      },
                      "description": "lettria/items"
                    }
                  },
                  "description": "lettria"
                },
                "neuralspace": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entity": {
                            "type": "string",
                            "description": "neuralspace/entity"
                          },
                          "category": {
                            "type": "string",
                            "description": "neuralspace/category"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "neuralspace/importance"
                          }
                        }
                      },
                      "description": "neuralspace/items"
                    }
                  },
                  "description": "neuralspace"
                },
                "microsoft": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entity": {
                            "type": "string",
                            "description": "microsoft/entity"
                          },
                          "category": {
                            "type": "string",
                            "description": "microsoft/category"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "microsoft/importance"
                          }
                        }
                      },
                      "description": "microsoft/items"
                    }
                  },
                  "description": "microsoft"
                },
                "ibm": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entity": {
                            "type": "string",
                            "description": "ibm/entity"
                          },
                          "category": {
                            "type": "string",
                            "description": "ibm/category"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "ibm/importance"
                          }
                        }
                      },
                      "description": "ibm/items"
                    }
                  },
                  "description": "ibm"
                },
                "oneai": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entity": {
                            "type": "string",
                            "description": "oneai/entity"
                          },
                          "category": {
                            "type": "string",
                            "description": "oneai/category"
                          },
                          "importance": {
                            "type": "number",
                            "format": "number",
                            "description": "oneai/importance"
                          }
                        }
                      },
                      "description": "oneai/items"
                    }
                  },
                  "description": "oneai"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/edenai/#extract-named-entities-in-text"
        }
      }
    },
    "/{connectionId}/v2/image/anonymization": {
      "post": {
        "summary": "Anonymize Images",
        "description": "Anonymizes an image by bluring sensitive parts (faces, car plates, etc.)",
        "operationId": "Anonymization",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "accept",
            "in": "formData",
            "type": "string",
            "description": "Accept",
            "required": true,
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "content-type",
            "in": "formData",
            "type": "string",
            "description": "Content-type",
            "required": true,
            "default": "multipart/form-data",
            "x-ms-visibility": "internal"
          },
          {
            "name": "providers",
            "in": "formData",
            "type": "string",
            "description": "Enter the names of the providers seperated by a coma",
            "default": "api4ai",
            "required": true,
            "x-ms-summary": "Providers",
            "x-ms-visibility": "important"
          },
          {
            "name": "file",
            "in": "formData",
            "type": "file",
            "format": "binary",
            "description": "Choose the file you want to analyse",
            "required": true,
            "x-ms-summary": "File",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "api4ai": {
                  "type": "object",
                  "properties": {
                    "image": {
                      "type": "string",
                      "description": "api4ai/image"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "description": "api4ai/items/kind"
                          },
                          "confidence": {
                            "type": "number",
                            "format": "float",
                            "description": "api4ai/items/confidence"
                          },
                          "bounding_boxes": {
                            "type": "object",
                            "properties": {
                              "x_max": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/bounding_boxes/x_max"
                              },
                              "x_min": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/bounding_boxes/x_min"
                              },
                              "y_max": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/bounding_boxes/y_max"
                              },
                              "y_min": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/bounding_boxes/y_min"
                              }
                            },
                            "description": "amazon/items/bounding_boxes"
                          }
                        }
                      },
                      "description": "api4ai/items"
                    }
                  },
                  "description": "api4ai"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/edenai/#anonymize-images"
        }
      }
    },
    "/{connectionId}/v2/image/face_detection": {
      "post": {
        "summary": "Detect Faces in Images",
        "description": "Identifies human faces in digital images: position, sex, age, smile, glasses, etc.",
        "operationId": "FaceDetection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "accept",
            "in": "formData",
            "type": "string",
            "description": "Accept",
            "required": true,
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "content-type",
            "in": "formData",
            "type": "string",
            "description": "Content-type",
            "required": true,
            "default": "multipart/form-data",
            "x-ms-visibility": "internal"
          },
          {
            "name": "providers",
            "in": "formData",
            "type": "string",
            "description": "Enter the names of the providers seperated by a coma",
            "default": "clarifai, amazon, skybiometry, google, api4ai, microsoft, picpurify",
            "required": true,
            "x-ms-summary": "Providers",
            "x-ms-visibility": "important"
          },
          {
            "name": "file",
            "in": "formData",
            "type": "file",
            "format": "binary",
            "description": "Choose the file you want to analyse",
            "required": true,
            "x-ms-summary": "File",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "amazon": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accessories": {
                            "type": "object",
                            "properties": {
                              "eyeglasses": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/accessories/eyeglasses"
                              },
                              "face_mask": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/accessories/face_mask"
                              },
                              "headwear": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/accessories/headwear"
                              },
                              "reading_glasses": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/accessories/reading_glasses"
                              },
                              "sunglasses": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/accessories/sunglasses"
                              },
                              "swimming_goggles": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/accessories/swimming_goggles"
                              }
                            },
                            "description": "amazon/items/accessories"
                          },
                          "age": {
                            "type": "number",
                            "format": "float",
                            "description": "amazon/items/age"
                          },
                          "bounding_box": {
                            "type": "object",
                            "properties": {
                              "x_max": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/bounding_box/x_max"
                              },
                              "x_min": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/bounding_box/x_min"
                              },
                              "y_max": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/bounding_box/y_max"
                              },
                              "y_min": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/bounding_box/y_min"
                              }
                            },
                            "description": "amazon/items/bounding_box"
                          },
                          "confidence": {
                            "type": "number",
                            "format": "float",
                            "description": "amazon/items/confidence"
                          },
                          "emotions": {
                            "type": "object",
                            "properties": {
                              "anger": {
                                "type": "integer",
                                "description": "amazon/items/emotions/anger"
                              },
                              "calm": {
                                "type": "integer",
                                "description": "amazon/items/emotions/calm"
                              },
                              "confusion": {
                                "type": "integer",
                                "description": "amazon/items/emotions/confusion"
                              },
                              "contempt": {
                                "type": "integer",
                                "description": "amazon/items/emotions/contempt"
                              },
                              "disgust": {
                                "type": "integer",
                                "description": "amazon/items/emotions/disgust"
                              },
                              "fear": {
                                "type": "integer",
                                "description": "amazon/items/emotions/fear"
                              },
                              "joy": {
                                "type": "integer",
                                "description": "amazon/items/emotions/joy"
                              },
                              "neutral": {
                                "type": "integer",
                                "description": "amazon/items/emotions/neutral"
                              },
                              "sorrow": {
                                "type": "integer",
                                "description": "amazon/items/emotions/sorrow"
                              },
                              "surprise": {
                                "type": "integer",
                                "description": "amazon/items/emotions/surprise"
                              },
                              "unknown": {
                                "type": "integer",
                                "description": "amazon/items/emotions/unknown"
                              }
                            },
                            "description": "amazon/items/emotions"
                          },
                          "facial_hair": {
                            "type": "object",
                            "properties": {
                              "beard": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/facial_hair/beard"
                              },
                              "moustache": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/facial_hair/moustache"
                              },
                              "sideburns": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/facial_hair/sideburns"
                              }
                            },
                            "description": "amazon/items/facial_hair"
                          },
                          "features": {
                            "type": "object",
                            "properties": {
                              "eyes_open": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/features/eyes_open"
                              },
                              "mouth_open": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/features/mouth_open"
                              },
                              "smile": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/features/smile"
                              }
                            },
                            "description": "amazon/items/features"
                          },
                          "gender": {
                            "type": "string",
                            "description": "amazon/items/gender"
                          },
                          "hair": {
                            "type": "object",
                            "properties": {
                              "bald": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/hair/bald"
                              },
                              "hair_color": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "color": {
                                      "type": "string",
                                      "description": "amazon/items/hair/hair_color/color"
                                    },
                                    "confidence": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "amazon/items/hair/hair_color/confidence"
                                    }
                                  }
                                },
                                "description": "amazon/items/hair/hair_color"
                              },
                              "invisible": {
                                "type": "boolean",
                                "description": "amazon/items/hair/invisible"
                              }
                            },
                            "description": "amazon/items/hair"
                          },
                          "landmarks": {
                            "type": "object",
                            "properties": {
                              "chin_gnathion": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/chin_gnathion"
                              },
                              "chin_left_gonion": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/chin_left_gonion"
                              },
                              "chin_right_gonion": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/chin_right_gonion"
                              },
                              "forehead_glabella": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/forehead_glabella"
                              },
                              "left_cheek_center": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/left_cheek_center"
                              },
                              "left_ear_tragion": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/left_ear_tragion"
                              },
                              "left_eye": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/left_eye"
                              },
                              "left_eye_bottom": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/left_eye_bottom"
                              },
                              "left_eye_left": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/left_eye_left"
                              },
                              "left_eye_right": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/left_eye_right"
                              },
                              "left_eye_top": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/left_eye_top"
                              },
                              "left_eyebrow_left": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/left_eyebrow_left"
                              },
                              "left_eyebrow_right": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/left_eyebrow_right"
                              },
                              "left_eyebrow_top": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/left_eyebrow_top"
                              },
                              "left_pupil": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/left_pupil"
                              },
                              "mid_jawline_left": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/mid_jawline_left"
                              },
                              "mid_jawline_right": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/mid_jawline_right"
                              },
                              "midpoint_between_eyes": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/midpoint_between_eyes"
                              },
                              "mouth_bottom": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/mouth_bottom"
                              },
                              "mouth_center": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/mouth_center"
                              },
                              "mouth_left": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/mouth_left"
                              },
                              "mouth_right": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/mouth_right"
                              },
                              "mouth_top": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/mouth_top"
                              },
                              "nose_bottom_center": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/nose_bottom_center"
                              },
                              "nose_bottom_left": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/nose_bottom_left"
                              },
                              "nose_bottom_right": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/nose_bottom_right"
                              },
                              "nose_left_alar_out_tip": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/nose_left_alar_out_tip"
                              },
                              "nose_left_alar_top": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/nose_left_alar_top"
                              },
                              "nose_right_alar_out_tip": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/nose_right_alar_out_tip"
                              },
                              "nose_right_alar_top": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/nose_right_alar_top"
                              },
                              "nose_root_left": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/nose_root_left"
                              },
                              "nose_root_right": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/nose_root_right"
                              },
                              "nose_tip": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/nose_tip"
                              },
                              "right_cheek_center": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/right_cheek_center"
                              },
                              "right_ear_tragion": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/right_ear_tragion"
                              },
                              "right_eye": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/right_eye"
                              },
                              "right_eye_bottom": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/right_eye_bottom"
                              },
                              "right_eye_left": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/right_eye_left"
                              },
                              "right_eye_right": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/right_eye_right"
                              },
                              "right_eye_top": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/right_eye_top"
                              },
                              "right_eyebrow_left": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/right_eyebrow_left"
                              },
                              "right_eyebrow_right": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/right_eyebrow_right"
                              },
                              "right_eyebrow_top": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/right_eyebrow_top"
                              },
                              "right_pupil": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/right_pupil"
                              },
                              "under_lip": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/under_lip"
                              },
                              "under_lip_bottom": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/under_lip_bottom"
                              },
                              "under_lip_top": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/under_lip_top"
                              },
                              "upper_jawline_left": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/upper_jawline_left"
                              },
                              "upper_jawline_right": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/upper_jawline_right"
                              },
                              "upper_lip": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/upper_lip"
                              },
                              "upper_lip_bottom": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/upper_lip_bottom"
                              },
                              "upper_lip_top": {
                                "type": "array",
                                "items": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "description": "amazon/items/landmarks/upper_lip_top"
                              }
                            },
                            "description": "amazon/items/landmarks"
                          },
                          "makeup": {
                            "type": "object",
                            "properties": {
                              "eye_make": {
                                "type": "boolean",
                                "description": "amazon/items/makeup/eye_make"
                              },
                              "lip_make": {
                                "type": "boolean",
                                "description": "amazon/items/makeup/lip_make"
                              }
                            },
                            "description": "amazon/items/makeup"
                          },
                          "occlusions": {
                            "type": "object",
                            "properties": {
                              "eye_occluded": {
                                "type": "boolean",
                                "description": "amazon/items/occlusions/eye_occluded"
                              },
                              "forehead_occluded": {
                                "type": "boolean",
                                "description": "amazon/items/occlusions/forehead_occluded"
                              },
                              "mouth_occluded": {
                                "type": "boolean",
                                "description": "amazon/items/occlusions/mouth_occluded"
                              }
                            },
                            "description": "amazon/items/occlusions"
                          },
                          "poses": {
                            "type": "object",
                            "properties": {
                              "pitch": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/poses/pitch"
                              },
                              "roll": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/poses/roll"
                              },
                              "yaw": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/poses/yaw"
                              }
                            },
                            "description": "amazon/items/poses"
                          },
                          "quality": {
                            "type": "object",
                            "properties": {
                              "blur": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/quality/blur"
                              },
                              "brightness": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/quality/brightness"
                              },
                              "exposure": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/quality/exposure"
                              },
                              "noise": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/quality/noise"
                              },
                              "sharpness": {
                                "type": "number",
                                "format": "float",
                                "description": "amazon/items/quality/sharpness"
                              }
                            },
                            "description": "amazon/items/quality"
                          }
                        }
                      },
                      "description": "amazon/items"
                    },
                    "status": {
                      "type": "string",
                      "description": "amazon/status"
                    }
                  }
                },
                "google": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accessories": {
                            "type": "object",
                            "properties": {
                              "eyeglasses": {
                                "type": "number",
                                "format": "float",
                                "description": "google/items/accessories/eyeglasses"
                              },
                              "face_mask": {
                                "type": "number",
                                "format": "float",
                                "description": "google/items/accessories/face_mask"
                              },
                              "headwear": {
                                "type": "number",
                                "format": "float",
                                "description": "google/items/accessories/headwear"
                              },
                              "reading_glasses": {
                                "type": "number",
                                "format": "float",
                                "description": "google/items/accessories/reading_glasses"
                              },
                              "sunglasses": {
                                "type": "number",
                                "format": "float",
                                "description": "google/items/accessories/sunglasses"
                              },
                              "swimming_goggles": {
                                "type": "number",
                                "format": "float",
                                "description": "google/items/accessories/swimming_goggles"
                              }
                            },
                            "description": "google/items/accessories"
                          },
                          "age": {
                            "type": "number",
                            "format": "float",
                            "description": "google/items/age"
                          },
                          "bounding_box": {
                            "type": "object",
                            "properties": {
                              "x_max": {
                                "type": "number",
                                "format": "float",
                                "description": "google/items/bounding_box/x_max"
                              },
                              "x_min": {
                                "type": "number",
                                "format": "float",
                                "description": "google/items/bounding_box/x_min"
                              },
                              "y_max": {
                                "type": "number",
                                "format": "float",
                                "description": "google/items/bounding_box/y_max"
                              },
                              "y_min": {
                                "type": "number",
                                "format": "float",
                                "description": "google/items/bounding_box/y_min"
                              }
                            },
                            "description": "google/items/bounding_box"
                          },
                          "confidence": {
                            "type": "number",
                            "format": "float",
                            "description": "google/items/confidence"
                          },
                          "emotions": {
                            "type": "object",
                            "properties": {
                              "anger": {
                                "type": "integer",
                                "description": "google/items/emotions/anger"
                              },
                              "calm": {
                                "type": "integer",
                                "description": "google/items/emotions/calm"
                              },
                              "confusion": {
                                "type": "integer",
                                "description": "google/items/emotions/confusion"
                              },
                              "contempt": {
                                "type": "integer",
                                "description": "google/items/emotions/contempt"
                              },
                              "disgust": {
                                "type": "integer",
                                "description": "google/items/emotions/disgust"
                              },
                              "fear": {
                                "type": "integer",
                                "description": "google/items/emotions/fear"
                              },
                              "joy": {
                                "type": "integer",
                                "description": "google/items/emotions/joy"
                              },
                              "neutral": {
                                "type": "integer",
                                "description": "google/items/emotions/neutral"
                              },
                              "sorrow": {
                                "type": "integer",
                                "description": "google/items/emotions/sorrow"
                              },
                              "surprise": {
                                "type": "integer",
                                "description": "google/items/emotions/surprise"
                              },
                              "unknown": {
                                "type": "integer",
                                "description": "google/items/emotions/unknown"
                              }
                            },
                            "description": "google/items/emotions"
                          },
                          "facial_hair": {
                            "type": "object",
                            "properties": {
                              "beard": {
                                "type": "number",
                                "format": "float",
                                "description": "google/items/facial_hair/beard"
                              },
                              "moustache": {
                                "type": "number",
                                "format": "float",
                                "description": "google/items/facial_hair/moustache"
                              },
                              "sideburns": {
                                "type": "number",
                                "format": "float",
                                "description": "google/items/facial_hair/sideburns"
                              }
                            },
                            "description": "google/items/facial_hair"
                          },
                          "features": {
                            "type": "object",
                            "properties": {
                              "eyes_open": {
                                "type": "number",
                                "format": "float",
                                "description": "google/items/features/eyes_open"
                              },
                              "mouth_open": {
                                "type": "number",
                                "format": "float",
                                "description": "google/items/features/mouth_open"
                              },
                              "smile": {
[...]
