{
  "swagger": "2.0",
  "info": {
    "title": "Power Apps for Makers",
    "description": "Power Apps Management Connector for Makers",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "api.powerapps.com",
  "basePath": "/apim/powerappsforappmakers",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/providers/Microsoft.PowerApps/apps/{app}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/PowerApp"
            }
          }
        },
        "summary": "Get App",
        "description": "Returns a PowerApp.",
        "operationId": "Get-App",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the PowerApp.",
            "x-ms-summary": "PowerApp Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01",
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "No Content."
          }
        },
        "summary": "Remove App",
        "description": "Deletes a PowerApp.",
        "operationId": "Remove-App",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the PowerApp.",
            "x-ms-summary": "PowerApp Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2017-06-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "API Version"
          }
        ]
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/apps/{app}/publish": {
      "post": {
        "responses": {
          "200": {
            "description": "No Content."
          }
        },
        "summary": "Publish App",
        "description": "Publishes the latest saved version of a PowerApp to all users with view access.",
        "operationId": "Publish-App",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "PowerApp Name",
            "description": "Name field of the PowerApp."
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2017-06-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "API Version"
          }
        ]
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/apps/{app}/displayName": {
      "put": {
        "responses": {
          "200": {
            "description": "No Content."
          }
        },
        "summary": "Set App Display Name",
        "description": "Updates the display name of a PowerApp.",
        "operationId": "Set-AppDisplayName",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the PowerApp.",
            "x-ms-summary": "PowerApp Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2017-06-01",
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content Type",
            "description": "The content type of the API request."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string",
                  "description": "Display Name of App."
                }
              }
            }
          }
        ]
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/apps/{app}/versions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The field name."
                      },
                      "id": {
                        "type": "string",
                        "description": "The field id."
                      },
                      "type": {
                        "type": "string",
                        "description": "The field type."
                      },
                      "tags": {
                        "type": "object",
                        "properties": {
                          "primaryDeviceWidth": {
                            "type": "string",
                            "description": "The field primaryDeviceWidth."
                          },
                          "primaryDeviceHeight": {
                            "type": "string",
                            "description": "The field primaryDeviceHeight."
                          },
                          "sienaVersion": {
                            "type": "string",
                            "description": "The field sienaVersion."
                          },
                          "deviceCapabilities": {
                            "type": "string",
                            "description": "The field deviceCapabilities."
                          },
                          "supportsPortrait": {
                            "type": "string",
                            "description": "The field supportsPortrait."
                          },
                          "supportsLandscape": {
                            "type": "string",
                            "description": "The field supportsLandscape."
                          },
                          "primaryFormFactor": {
                            "type": "string",
                            "description": "The field primaryFormFactor."
                          },
                          "publisherVersion": {
                            "type": "string",
                            "description": "The field publisherVersion."
                          },
                          "minimumRequiredApiVersion": {
                            "type": "string",
                            "description": "The field minimumRequiredApiVersion."
                          }
                        },
                        "description": "The field tags."
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "ownerTenantId": {
                            "type": "string",
                            "description": "The field ownerTenantId."
                          },
                          "app": {
                            "type": "string",
                            "description": "The field app."
                          },
                          "appVersion": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The field appVersion."
                          },
                          "lifeCycleId": {
                            "type": "string",
                            "description": "The field lifeCycleId."
                          },
                          "createdByClientVersion": {
                            "type": "object",
                            "properties": {
                              "major": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The field major."
                              },
                              "minor": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The field minor."
                              },
                              "build": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The field build."
                              },
                              "revision": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The field revision."
                              },
                              "majorRevision": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The field majorRevision."
                              },
                              "minorRevision": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The field minorRevision."
                              }
                            },
                            "description": "The field createdByClientVersion."
                          },
                          "minClientVersion": {
                            "type": "object",
                            "properties": {
                              "major": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The field major."
                              },
                              "minor": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The field minor."
                              },
                              "build": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The field build."
                              },
                              "revision": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The field revision."
                              },
                              "majorRevision": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The field majorRevision."
                              },
                              "minorRevision": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The field minorRevision."
                              }
                            },
                            "description": "The field minClientVersion."
                          },
                          "appDefinition": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The field name."
                              },
                              "id": {
                                "type": "string",
                                "description": "The field id."
                              },
                              "type": {
                                "type": "string",
                                "description": "The field type."
                              },
                              "tags": {
                                "type": "object",
                                "properties": {
                                  "primaryDeviceWidth": {
                                    "type": "string",
                                    "description": "The field primaryDeviceWidth."
                                  },
                                  "primaryDeviceHeight": {
                                    "type": "string",
                                    "description": "The field primaryDeviceHeight."
                                  },
                                  "sienaVersion": {
                                    "type": "string",
                                    "description": "The field sienaVersion."
                                  },
                                  "deviceCapabilities": {
                                    "type": "string",
                                    "description": "The field deviceCapabilities."
                                  },
                                  "supportsPortrait": {
                                    "type": "string",
                                    "description": "The field supportsPortrait."
                                  },
                                  "supportsLandscape": {
                                    "type": "string",
                                    "description": "The field supportsLandscape."
                                  },
                                  "primaryFormFactor": {
                                    "type": "string",
                                    "description": "The field primaryFormFactor."
                                  },
                                  "publisherVersion": {
                                    "type": "string",
                                    "description": "The field publisherVersion."
                                  },
                                  "minimumRequiredApiVersion": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The field minimumRequiredApiVersion."
                                  }
                                },
                                "description": "The field tags."
                              },
                              "properties": {
                                "type": "object",
                                "properties": {
                                  "appVersion": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The field appVersion."
                                  },
                                  "lastDraftVersion": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The field lastDraftVersion."
                                  },
                                  "lifeCycleId": {
                                    "type": "string",
                                    "description": "The field lifeCycleId."
                                  },
                                  "status": {
                                    "type": "string",
                                    "description": "The field status."
                                  },
                                  "createdByClientVersion": {
                                    "type": "object",
                                    "properties": {
                                      "major": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The field major."
                                      },
                                      "minor": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The field minor."
                                      },
                                      "build": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The field build."
                                      },
                                      "revision": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The field revision."
                                      },
                                      "majorRevision": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The field majorRevision."
                                      },
                                      "minorRevision": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The field minorRevision."
                                      }
                                    },
                                    "description": "The field createdByClientVersion."
                                  },
                                  "minClientVersion": {
                                    "type": "object",
                                    "properties": {
                                      "major": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The field major."
                                      },
                                      "minor": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The field minor."
                                      },
                                      "build": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The field build."
                                      },
                                      "revision": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The field revision."
                                      },
                                      "majorRevision": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The field majorRevision."
                                      },
                                      "minorRevision": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The field minorRevision."
                                      }
                                    },
                                    "description": "The field minClientVersion."
                                  },
                                  "owner": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "The field id."
                                      },
                                      "displayName": {
                                        "type": "string",
                                        "description": "The field displayName."
                                      },
                                      "email": {
                                        "type": "string",
                                        "description": "The field email."
                                      },
                                      "type": {
                                        "type": "string",
                                        "description": "The field type."
                                      },
                                      "tenantId": {
                                        "type": "string",
                                        "description": "The field tenantId."
                                      },
                                      "userPrincipalName": {
                                        "type": "string",
                                        "description": "The field userPrincipalName."
                                      }
                                    },
                                    "description": "The field owner."
                                  },
                                  "createdBy": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "The field id."
                                      },
                                      "displayName": {
                                        "type": "string",
                                        "description": "The field displayName."
                                      },
                                      "email": {
                                        "type": "string",
                                        "description": "The field email."
                                      },
                                      "type": {
                                        "type": "string",
                                        "description": "The field type."
                                      },
                                      "tenantId": {
                                        "type": "string",
                                        "description": "The field tenantId."
                                      },
                                      "userPrincipalName": {
                                        "type": "string",
                                        "description": "The field userPrincipalName."
                                      }
                                    },
                                    "description": "The field createdBy."
                                  },
                                  "lastModifiedBy": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "The field id."
                                      },
                                      "displayName": {
                                        "type": "string",
                                        "description": "The field displayName."
                                      },
                                      "email": {
                                        "type": "string",
                                        "description": "The field email."
                                      },
                                      "type": {
                                        "type": "string",
                                        "description": "The field type."
                                      },
                                      "tenantId": {
                                        "type": "string",
                                        "description": "The field tenantId."
                                      },
                                      "userPrincipalName": {
                                        "type": "string",
                                        "description": "The field userPrincipalName."
                                      }
                                    },
                                    "description": "The field lastModifiedBy."
                                  },
                                  "lastPublishedBy": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "The field id."
                                      },
                                      "displayName": {
                                        "type": "string",
                                        "description": "The field displayName."
                                      },
                                      "email": {
                                        "type": "string",
                                        "description": "The field email."
                                      },
                                      "type": {
                                        "type": "string",
                                        "description": "The field type."
                                      },
                                      "tenantId": {
                                        "type": "string",
                                        "description": "The field tenantId."
                                      },
                                      "userPrincipalName": {
                                        "type": "string",
                                        "description": "The field userPrincipalName."
                                      }
                                    },
                                    "description": "The field lastPublishedBy."
                                  },
                                  "backgroundColor": {
                                    "type": "string",
                                    "description": "The field backgroundColor."
                                  },
                                  "backgroundImageUri": {
                                    "type": "string",
                                    "description": "The field backgroundImageUri."
                                  },
                                  "displayName": {
                                    "type": "string",
                                    "description": "The field displayName."
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "The field description."
                                  },
                                  "appUris": {
                                    "type": "object",
                                    "properties": {
                                      "documentUri": {
                                        "type": "object",
                                        "properties": {
                                          "value": {
                                            "type": "string",
                                            "description": "The field value."
                                          },
                                          "readonlyValue": {
                                            "type": "string",
                                            "description": "The field readonlyValue."
                                          }
                                        },
                                        "description": "The field documentUri."
                                      },
                                      "imageUris": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "description": "The field imageUris."
                                      }
                                    },
                                    "description": "The field appUris."
                                  },
                                  "createdTime": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The field createdTime."
                                  },
                                  "lastModifiedTime": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The field lastModifiedTime."
                                  },
                                  "lastPublishTime": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The field lastPublishTime."
                                  },
                                  "sharedGroupsCount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The field sharedGroupsCount."
                                  },
                                  "sharedUsersCount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The field sharedUsersCount."
                                  },
                                  "appOpenProtocolUri": {
                                    "type": "string",
                                    "description": "The field appOpenProtocolUri."
                                  },
                                  "appOpenUri": {
                                    "type": "string",
                                    "description": "The field appOpenUri."
                                  },
                                  "userAppMetadata": {
                                    "type": "object",
                                    "properties": {
                                      "favorite": {
                                        "type": "string",
                                        "description": "The field favorite."
                                      },
                                      "includeInAppsList": {
                                        "type": "boolean",
                                        "description": "The field includeInAppsList."
                                      }
                                    },
                                    "description": "The field userAppMetadata."
                                  },
                                  "isFeaturedApp": {
                                    "type": "boolean",
                                    "description": "The field isFeaturedApp."
                                  },
                                  "bypassConsent": {
                                    "type": "boolean",
                                    "description": "The field bypassConsent."
                                  },
                                  "isHeroApp": {
                                    "type": "boolean",
                                    "description": "The field isHeroApp."
                                  },
                                  "environment": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "The field id."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The field name."
                                      }
                                    },
                                    "description": "The field environment."
                                  }
                                },
                                "description": "The field properties."
                              }
                            },
                            "description": "The field appDefinition."
                          }
                        },
                        "description": "The field properties."
                      }
                    }
                  },
                  "description": "The field value."
                }
              }
            }
          }
        },
        "summary": "Get App Versions",
        "description": "Returns a list of versions for a given PowerApp.",
        "operationId": "Get-AppVersions",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the PowerApp.",
            "x-ms-summary": "PowerApp Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2017-06-01",
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 250,
            "description": "Number of Apps versions to return.",
            "x-ms-summary": "Page size",
            "x-ms-visibility": "advanced"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/apps/{app}/versions/{appVersionName}/promote": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The field name."
                },
                "id": {
                  "type": "string",
                  "description": "The field id."
                },
                "type": {
                  "type": "string",
                  "description": "The field type."
                },
                "tags": {
                  "type": "object",
                  "properties": {
                    "primaryDeviceWidth": {
                      "type": "string",
                      "description": "The field primaryDeviceWidth."
                    },
                    "primaryDeviceHeight": {
                      "type": "string",
                      "description": "The field primaryDeviceHeight."
                    },
                    "sienaVersion": {
                      "type": "string",
                      "description": "The field sienaVersion."
                    },
                    "deviceCapabilities": {
                      "type": "string",
                      "description": "The field deviceCapabilities."
                    },
                    "supportsPortrait": {
                      "type": "string",
                      "description": "The field supportsPortrait."
                    },
                    "supportsLandscape": {
                      "type": "string",
                      "description": "The field supportsLandscape."
                    },
                    "primaryFormFactor": {
                      "type": "string",
                      "description": "The field primaryFormFactor."
                    },
                    "publisherVersion": {
                      "type": "string",
                      "description": "The field publisherVersion."
                    },
                    "minimumRequiredApiVersion": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The field minimumRequiredApiVersion."
                    }
                  },
                  "description": "The field tags."
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "appVersion": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The field appVersion."
                    },
                    "lastDraftVersion": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The field lastDraftVersion."
                    },
                    "lifeCycleId": {
                      "type": "string",
                      "description": "The field lifeCycleId."
                    },
                    "status": {
                      "type": "string",
                      "description": "The field status."
                    },
                    "createdByClientVersion": {
                      "type": "object",
                      "properties": {
                        "major": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The field major."
                        },
                        "minor": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The field minor."
                        },
                        "build": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The field build."
                        },
                        "revision": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The field revision."
                        },
                        "majorRevision": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The field majorRevision."
                        },
                        "minorRevision": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The field minorRevision."
                        }
                      },
                      "description": "The field createdByClientVersion."
                    },
                    "minClientVersion": {
                      "type": "object",
                      "properties": {
                        "major": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The field major."
                        },
                        "minor": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The field minor."
                        },
                        "build": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The field build."
                        },
                        "revision": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The field revision."
                        },
                        "majorRevision": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The field majorRevision."
                        },
                        "minorRevision": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The field minorRevision."
                        }
                      },
                      "description": "The field minClientVersion."
                    },
                    "owner": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The field id."
                        },
                        "displayName": {
                          "type": "string",
                          "description": "The field displayName."
                        },
                        "email": {
                          "type": "string",
                          "description": "The field email."
                        },
                        "type": {
                          "type": "string",
                          "description": "The field type."
                        },
                        "tenantId": {
                          "type": "string",
                          "description": "The field tenantId."
                        },
                        "userPrincipalName": {
                          "type": "string",
                          "description": "The field userPrincipalName."
                        }
                      },
                      "description": "The field owner."
                    },
                    "createdBy": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The field id."
                        },
                        "displayName": {
                          "type": "string",
                          "description": "The field displayName."
                        },
                        "email": {
                          "type": "string",
                          "description": "The field email."
                        },
                        "type": {
                          "type": "string",
                          "description": "The field type."
                        },
                        "tenantId": {
                          "type": "string",
                          "description": "The field tenantId."
                        },
                        "userPrincipalName": {
                          "type": "string",
                          "description": "The field userPrincipalName."
                        }
                      },
                      "description": "The field createdBy."
                    },
                    "lastModifiedBy": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The field id."
                        },
                        "displayName": {
                          "type": "string",
                          "description": "The field displayName."
                        },
                        "email": {
                          "type": "string",
                          "description": "The field email."
                        },
                        "type": {
                          "type": "string",
                          "description": "The field type."
                        },
                        "tenantId": {
                          "type": "string",
                          "description": "The field tenantId."
                        },
                        "userPrincipalName": {
                          "type": "string",
                          "description": "The field userPrincipalName."
                        }
                      },
                      "description": "The field lastModifiedBy."
                    },
                    "lastPublishedBy": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The field id."
                        },
                        "displayName": {
                          "type": "string",
                          "description": "The field displayName."
                        },
                        "email": {
                          "type": "string",
                          "description": "The field email."
                        },
                        "type": {
                          "type": "string",
                          "description": "The field type."
                        },
                        "tenantId": {
                          "type": "string",
                          "description": "The field tenantId."
                        },
                        "userPrincipalName": {
                          "type": "string",
                          "description": "The field userPrincipalName."
                        }
                      },
                      "description": "The field lastPublishedBy."
                    },
                    "backgroundColor": {
                      "type": "string",
                      "description": "The field backgroundColor."
                    },
                    "backgroundImageUri": {
                      "type": "string",
                      "description": "The field backgroundImageUri."
                    },
                    "displayName": {
                      "type": "string",
                      "description": "The field displayName."
                    },
                    "description": {
                      "type": "string",
                      "description": "The field description."
                    },
                    "appUris": {
                      "type": "object",
                      "properties": {
                        "documentUri": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "The field value."
                            },
                            "readonlyValue": {
                              "type": "string",
                              "description": "The field readonlyValue."
                            }
                          },
                          "description": "The field documentUri."
                        },
                        "imageUris": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The field imageUris."
                        }
                      },
                      "description": "The field appUris."
                    },
                    "createdTime": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The field createdTime."
                    },
                    "lastModifiedTime": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The field lastModifiedTime."
                    },
                    "lastPublishTime": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The field lastPublishTime."
                    },
                    "sharedGroupsCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The field sharedGroupsCount."
                    },
                    "sharedUsersCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The field sharedUsersCount."
                    },
                    "appOpenProtocolUri": {
                      "type": "string",
                      "description": "The field appOpenProtocolUri."
                    },
                    "appOpenUri": {
                      "type": "string",
                      "description": "The field appOpenUri."
                    },
                    "userAppMetadata": {
                      "type": "object",
                      "properties": {
                        "favorite": {
                          "type": "string",
                          "description": "The field favorite."
                        },
                        "includeInAppsList": {
                          "type": "boolean",
                          "description": "The field includeInAppsList."
                        }
                      },
                      "description": "The field userAppMetadata."
                    },
                    "isFeaturedApp": {
                      "type": "boolean",
                      "description": "The field isFeaturedApp."
                    },
                    "bypassConsent": {
                      "type": "boolean",
                      "description": "The field bypassConsent."
                    },
                    "isHeroApp": {
                      "type": "boolean",
                      "description": "The field isHeroApp."
                    },
                    "environment": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The field id."
                        },
                        "name": {
                          "type": "string",
                          "description": "The field name."
                        }
                      },
                      "description": "The field environment."
                    }
                  },
                  "description": "The field properties."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the PowerApp.",
            "x-ms-summary": "PowerApp Name"
          },
          {
            "name": "appVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Version field of the PowerApp.",
            "x-ms-summary": "PowerApp Version"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2017-06-01",
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          }
        ],
        "summary": "Restore App Version",
        "description": "Restores the specified App Version as the current version.",
        "operationId": "Restore-AppVersion"
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/apps/{app}/permissions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The field name."
                      },
                      "id": {
                        "type": "string",
                        "description": "The field id."
                      },
                      "type": {
                        "type": "string",
                        "description": "The field type."
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "roleName": {
                            "type": "string",
                            "description": "The field roleName."
                          },
                          "principal": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The field id."
                              },
                              "displayName": {
                                "type": "string",
                                "description": "The field displayName."
                              },
                              "email": {
                                "type": "string",
                                "description": "The field email."
                              },
                              "type": {
                                "type": "string",
                                "description": "The field type."
                              }
                            },
                            "description": "The field principal."
                          },
                          "scope": {
                            "type": "string",
                            "description": "The field scope."
                          },
                          "notifyShareTargetOption": {
                            "type": "string",
                            "description": "The field notifyShareTargetOption."
                          }
                        },
                        "description": "The field properties."
                      }
                    }
                  },
                  "description": "The field value."
                }
              }
            }
          }
        },
        "summary": "Get App Role Assignments",
        "description": "Returns a list of permissions for the specified PowerApp name.",
        "operationId": "Get-AppRoleAssignment",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "PowerApp Name",
            "description": "Name field of the PowerApp."
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2017-06-01",
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 250,
            "description": "Number of App Role Assignments.",
            "x-ms-summary": "Page size",
            "x-ms-visibility": "advanced"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/apps/{app}/modifyPermissions": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "put": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The field id."
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "roleName": {
                            "type": "string",
                            "description": "The field roleName."
                          },
                          "scope": {
                            "type": "string",
                            "description": "The field scope."
                          },
                          "principal": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The field id."
                              },
                              "email": {
                                "type": "string",
                                "description": "The field email."
                              },
                              "type": {
                                "type": "string",
                                "description": "The field type."
                              }
                            },
                            "description": "The field principal."
                          },
                          "resourceResponses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The field id."
                                },
                                "statusCode": {
                                  "type": "string",
                                  "description": "The field statusCode."
                                },
                                "responseCode": {
                                  "type": "string",
                                  "description": "The field responseCode."
                                },
                                "message": {
                                  "type": "string",
                                  "description": "The field message."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "The field type."
                                }
                              }
                            },
                            "description": "The field resourceResponses."
                          }
                        },
                        "description": "The field properties."
                      }
                    }
                  },
                  "description": "The field put."
                }
              }
            }
          }
        },
        "summary": "Edit App Role Assignment",
        "description": "Sets permissions to a PowerApp.",
        "operationId": "Edit-AppRoleAssignment",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "PowerApp Name",
            "description": "Name field of the PowerApp."
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01",
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "environment eq ''",
            "x-ms-summary": "Filter Query",
            "description": "A filter query parameter."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content Type",
            "description": "The content type of the API request."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "delete": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Role Id of User."
                      }
                    }
                  },
                  "description": "delete"
                },
                "put": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "properties": {
                        "type": "object",
                        "properties": {
                          "principal": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "Email of the User."
                              },
                              "tenantId": {
                                "type": "string",
                                "description": "Tenant Id of the User."
                              },
                              "id": {
                                "type": "string",
                                "description": "ID of the user."
                              },
                              "type": {
                                "type": "string",
                                "description": "Type of User."
                              }
                            },
                            "description": "principal"
                          },
                          "NotifyShareTargetOption": {
                            "type": "string",
                            "description": "Notify ShareTarget Option."
                          },
                          "roleName": {
                            "type": "string",
                            "description": "Role Name of User."
                          }
                        },
                        "description": "properties"
                      }
                    }
                  },
                  "description": "put"
                }
              }
            }
          }
        ]
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/connections": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The field name."
                      },
                      "id": {
                        "type": "string",
                        "description": "The field id."
                      },
                      "type": {
                        "type": "string",
                        "description": "The field type."
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "apiId": {
                            "type": "string",
                            "description": "The field apiId."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "The field displayName."
                          },
                          "iconUri": {
                            "type": "string",
                            "description": "The field iconUri."
                          },
                          "statuses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "description": "The field status."
                                },
                                "target": {
                                  "type": "string",
                                  "description": "The field target."
                                },
                                "error": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string",
                                      "description": "The field code."
                                    },
                                    "message": {
                                      "type": "string",
                                      "description": "The field message."
                                    }
                                  },
                                  "description": "The field error."
                                }
                              }
                            },
                            "description": "The field statuses."
                          },
                          "connectionParameters": {
                            "type": "object",
                            "properties": {
                              "sku": {
                                "type": "string",
                                "description": "The field sku."
                              },
                              "workflowName": {
                                "type": "string",
                                "description": "The field workflowName."
                              },
                              "workflowPath": {
                                "type": "string",
                                "description": "The field workflowPath."
                              },
                              "workflowEndpoint": {
                                "type": "string",
                                "description": "The field workflowEndpoint."
                              },
                              "workFlowCallbackUri": {
                                "type": "string",
                                "description": "The field workFlowCallbackUri."
                              },
                              "$connections": {
                                "type": "object",
                                "properties": {
                                  "shared_msnweather": {
                                    "type": "object",
                                    "properties": {
                                      "apiId": {
                                        "type": "string",
                                        "description": "The field apiId."
                                      },
                                      "connectionId": {
                                        "type": "string",
                                        "description": "The field connectionId."
                                      },
                                      "source": {
                                        "type": "string",
                                        "description": "The field source."
                                      }
                                    },
                                    "description": "The field shared_msnweather."
                                  },
                                  "shared_flowpush": {
                                    "type": "object",
                                    "properties": {
                                      "apiId": {
                                        "type": "string",
                                        "description": "The field apiId."
                                      },
                                      "connectionId": {
                                        "type": "string",
                                        "description": "The field connectionId."
                                      },
                                      "source": {
                                        "type": "string",
                                        "description": "The field source."
                                      }
                                    },
                                    "description": "The field shared_flowpush."
                                  }
                                },
                                "description": "The field $connections."
                              },
                              "server": {
                                "type": "string",
                                "description": "The field server."
                              },
                              "database": {
                                "type": "string",
                                "description": "The field database."
                              }
                            },
                            "description": "The field connectionParameters."
                          },
                          "keywordsRemaining": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The field keywordsRemaining."
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The field id."
                              },
                              "displayName": {
                                "type": "string",
                                "description": "The field displayName."
                              },
                              "email": {
                                "type": "string",
                                "description": "The field email."
                              },
                              "type": {
                                "type": "string",
                                "description": "The field type."
                              },
                              "tenantId": {
                                "type": "string",
                                "description": "The field tenantId."
                              },
                              "userPrincipalName": {
                                "type": "string",
                                "description": "The field userPrincipalName."
                              }
                            },
                            "description": "The field createdBy."
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The field createdTime."
                          },
                          "lastModifiedTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The field lastModifiedTime."
                          },
                          "environment": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The field id."
                              },
                              "name": {
                                "type": "string",
                                "description": "The field name."
                              }
                            },
                            "description": "The field environment."
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "shared_msnweather": {
                                "type": "string",
                                "description": "The field shared_msnweather."
                              },
                              "shared_flowpush": {
                                "type": "string",
                                "description": "The field shared_flowpush."
                              }
                            },
                            "description": "The field metadata."
                          },
                          "expirationTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The field expirationTime."
                          },
                          "testLinks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "requestUri": {
                                  "type": "string",
                                  "description": "The field requestUri."
                                },
                                "method": {
                                  "type": "string",
                                  "description": "The field method."
                                }
                              }
                            },
                            "description": "The field testLinks."
                          }
                        },
                        "description": "The field properties."
                      }
                    }
                  },
                  "description": "The field value."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01",
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "environment eq ''",
            "x-ms-summary": "Filter Query",
            "description": "A filter query parameter."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 250,
            "description": "Number of Connections.",
            "x-ms-summary": "Page size",
            "x-ms-visibility": "advanced"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "summary": "Get Connections",
        "description": "Returns a list of Connections.",
        "operationId": "Get-Connections"
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/apis/{connectorName}/connections/{connectionName}": {
      "delete": {
        "responses": {
          "200": {
            "description": "No Content."
          }
        },
        "parameters": [
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Connector Name",
            "description": "Name field of the Connector."
          },
          {
            "name": "connectionName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Connection Name",
            "description": "Name field of the Connection."
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2017-06-01",
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "environment eq ''",
            "x-ms-summary": "Filter Query",
            "description": "A filter query parameter."
          }
        ],
        "summary": "Remove Connection",
        "description": "Deletes a Connection.",
        "operationId": "Remove-Connection"
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/apis/{connectorName}/connections/{connectionName}/permissions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The field name."
                      },
                      "id": {
                        "type": "string",
                        "description": "The field id."
                      },
                      "type": {
                        "type": "string",
                        "description": "The field type."
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "roleName": {
                            "type": "string",
                            "description": "The field roleName."
                          },
                          "principal": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The field id."
                              },
                              "displayName": {
                                "type": "string",
                                "description": "The field displayName."
                              },
                              "email": {
                                "type": "string",
                                "description": "The field email."
                              },
                              "type": {
                                "type": "string",
                                "description": "The field type."
                              }
                            },
                            "description": "The field principal."
                          },
                          "notifyShareTargetOption": {
                            "type": "string",
                            "description": "The field notifyShareTargetOption."
                          }
                        },
                        "description": "The field properties."
                      }
                    }
                  },
                  "description": "The field value."
                }
              }
            }
          }
        },
        "summary": "Get Connection Role Assignment",
        "description": "Returns a list of permissions to a Connection.",
        "operationId": "Get-ConnectionRoleAssignment",
        "parameters": [
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Connector Name",
            "description": "Name field of the Connector."
          },
          {
            "name": "connectionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Connection.",
            "x-ms-summary": "Connection Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2017-06-01",
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "environment eq ''",
            "x-ms-summary": "Filter Query",
            "description": "A filter query parameter."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 250,
            "description": "Number of Connection Role Assignments.",
            "x-ms-summary": "Page size",
            "x-ms-visibility": "advanced"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/apis/{connectorName}/connections/{connectionName}/modifyPermissions": {
      "post": {
        "responses": {
          "200": {
            "description": "No Content."
          }
        },
        "parameters": [
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Connector Name",
            "description": "Name field of the Connector."
          },
          {
            "name": "connectionName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Connection Name",
            "description": "Name field of the Connection."
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01",
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "environment eq ''",
            "x-ms-summary": "Filter Query",
            "description": "A filter query parameter."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content Type",
            "description": "The content type of the API request."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "delete": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Role Id of User."
                      }
                    }
                  },
                  "description": "delete"
                },
                "put": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "properties": {
                        "type": "object",
                        "properties": {
                          "principal": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "Email of User."
                              },
                              "tenantId": {
                                "type": "string",
                                "description": "TenantId of User."
                              },
                              "id": {
                                "type": "string",
                                "description": "Id of User."
                              },
                              "type": {
                                "type": "string",
                                "description": "Type of User."
                              }
                            },
                            "description": "principal"
                          },
                          "NotifyShareTargetOption": {
                            "type": "string",
                            "description": "NotifyShareTargetOption of User."
                          },
                          "roleName": {
                            "type": "string",
                            "description": "RoleName of User."
                          }
                        },
                        "description": "properties"
                      }
                    }
                  },
                  "description": "put"
                }
              }
            }
          }
        ],
        "summary": "Edit Connection Role Assignment",
        "description": "Sets permissions to a Connection.",
        "operationId": "Edit-ConnectionRoleAssignment"
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/apis/{connectorName}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The field name."
                },
                "id": {
                  "type": "string",
                  "description": "The field id."
                },
                "type": {
                  "type": "string",
                  "description": "The field type."
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "displayName": {
                      "type": "string",
                      "description": "The field displayName."
                    },
                    "iconUri": {
                      "type": "string",
                      "description": "The field iconUri."
                    },
                    "iconBrandColor": {
                      "type": "string",
                      "description": "The field iconBrandColor."
                    },
                    "apiEnvironment": {
                      "type": "string",
                      "description": "The field apiEnvironment."
                    },
                    "isCustomApi": {
                      "type": "boolean",
                      "description": "The field isCustomApi."
                    },
                    "connectionParameters": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The field type."
                            },
                            "oAuthSettings": {
                              "type": "object",
                              "properties": {
                                "identityProvider": {
                                  "type": "string",
                                  "description": "The field identityProvider."
                                },
                                "clientId": {
                                  "type": "string",
                                  "description": "The field clientId."
                                },
                                "scopes": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The field scopes."
                                },
                                "redirectUrl": {
                                  "type": "string",
                                  "description": "The field redirectUrl."
                                },
                                "properties": {
                                  "type": "object",
                                  "properties": {
                                    "IsFirstParty": {
                                      "type": "string",
                                      "description": "The field IsFirstParty."
                                    }
                                  },
                                  "description": "The field properties."
                                },
                                "customParameters": {
                                  "type": "object",
                                  "properties": {
                                    "capability": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "The field value."
                                        }
                                      },
                                      "description": "The field capability."
                                    }
                                  },
                                  "description": "The field customParameters."
                                }
                              },
                              "description": "The field oAuthSettings."
                            },
                            "uiDefinition": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string",
                                  "description": "The field displayName."
                                },
                                "description": {
                                  "type": "string",
                                  "description": "The field description."
                                },
                                "tooltip": {
                                  "type": "string",
                                  "description": "The field tooltip."
                                },
                                "constraints": {
                                  "type": "object",
                                  "properties": {
                                    "required": {
                                      "type": "string",
                                      "description": "The field required."
                                    }
                                  },
                                  "description": "The field constraints."
                                }
                              },
                              "description": "The field uiDefinition."
                            }
                          },
                          "description": "The field token."
                        }
                      },
                      "description": "The field connectionParameters."
                    },
                    "runtimeUrls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The field runtimeUrls."
                    },
                    "primaryRuntimeUrl": {
                      "type": "string",
                      "description": "The field primaryRuntimeUrl."
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string",
                          "description": "The field source."
                        },
                        "brandColor": {
                          "type": "string",
                          "description": "The field brandColor."
                        }
                      },
                      "description": "The field metadata."
                    },
                    "capabilities": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The field capabilities."
                    },
                    "interfaces": {
                      "type": "object",
                      "properties": {
                        "CDPBlob0": {
                          "type": "object",
                          "properties": {
                            "revisions": {
                              "type": "object",
                              "properties": {
                                "1": {
                                  "type": "object",
                                  "properties": {
                                    "baseUrl": {
                                      "type": "string",
                                      "description": "The field baseUrl."
                                    },
                                    "status": {
                                      "type": "string",
                                      "description": "The field status."
                                    },
                                    "deprecated": {
                                      "type": "boolean",
                                      "description": "The field deprecated."
                                    }
                                  },
                                  "description": "The field 1."
                                }
                              },
                              "description": "The field revisions."
                            }
                          },
                          "description": "The field CDPBlob0."
                        },
                        "CDPBlob1": {
                          "type": "object",
                          "properties": {
                            "revisions": {
                              "type": "object",
                              "properties": {
                                "1": {
                                  "type": "object",
                                  "properties": {
                                    "baseUrl": {
                                      "type": "string",
                                      "description": "The field baseUrl."
                                    },
                                    "status": {
                                      "type": "string",
                                      "description": "The field status."
                                    }
                                  },
                                  "description": "The field 1."
                                }
                              },
                              "description": "The field revisions."
                            }
                          },
                          "description": "The field CDPBlob1."
                        }
                      },
                      "description": "The field interfaces."
                    },
                    "description": {
                      "type": "string",
                      "description": "The field description."
                    },
                    "createdTime": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The field createdTime."
                    },
                    "changedTime": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The field changedTime."
                    },
                    "releaseTag": {
                      "type": "string",
                      "description": "The field releaseTag."
                    },
                    "tier": {
                      "type": "string",
                      "description": "The field tier."
                    },
                    "publisher": {
                      "type": "string",
                      "description": "The field publisher."
                    },
                    "scopes": {
                      "type": "object",
                      "properties": {
                        "will": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The field will."
                        },
                        "wont": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The field wont."
                        }
                      },
                      "description": "The field scopes."
                    }
                  },
                  "description": "The field properties."
                }
              }
            }
          }
        },
        "summary": "Get Connector",
        "description": "Returns a Connector.",
        "operationId": "Get-Connector",
        "parameters": [
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
[...]
