{
  "swagger": "2.0",
  "info": {
    "version": "1.0.4",
    "title": "Microsoft Teams",
    "description": "Microsoft Teams enables you to get all your content, tools and conversations in the Team workspace with Office 365.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "graph.microsoft.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1.0/me/calendars/{calendarid}/events": {
      "post": {
        "summary": "Create a Teams meeting",
        "description": "Create a meeting with a link at the bottom of the invite to join the meeting online on Teams",
        "operationId": "CreateTeamsMeeting",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "calendarid",
            "in": "path",
            "enum": [ "Birthdays", "Calendar", "United States holidays" ],
            "x-ms-summary": "Calendar id",
            "description": "Select a Value",
            "type": "string",
            "required": true
          },
          {
            "name": "item",
            "in": "body",
            "description": "Meeting to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewMeeting"
            },
            "x-ms-summary": "Item"
          }
        ],
        "consumes": [ "application/json" ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/NewMeetingRespone"
            }
          }
        }
      }
    },
    "/v1.0/me/outlook/supportedTimeZones": {
      "get": {
        "summary": "Get supported time zones",
        "description": "This operation gets the list of time zones that are supported for the user, as configured on the user's mailbox server.",
        "operationId": "GetSupportedTimeZones",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "value": {
                  "description": "List of one or more time zones.",
                  "type": "array",
                  "x-ms-summary": "Time zones List",
                  "items": {
                    "type": "object",
                    "x-ms-summary": "Time zone",
                    "description": "Represents a time zone entity",
                    "properties": {
                      "alias": {
                        "description": "An identifier for the time zone.",
                        "type": "string",
                        "x-ms-summary": "Id",
                        "x-ms-visibility": "important"
                      },
                      "displayName": {
                        "description": "A display string that represents the time zone.",
                        "type": "string",
                        "x-ms-summary": "Name",
                        "x-ms-visibility": "important"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/beta/me/joinedTeams": {
      "get": {
        "summary": "List teams",
        "description": "This operation retrieves a list of all the Teams (Office 365 Groups) you are a member of.",
        "operationId": "GetAllTeams",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "value": {
                  "description": "List of one or more Teams you are a part of.",
                  "type": "array",
                  "x-ms-summary": "Teams List",
                  "items": {
                    "type": "object",
                    "x-ms-summary": "Team",
                    "description": "Team Entity",
                    "properties": {
                      "description": {
                        "description": "More information about the Team.",
                        "type": "string",
                        "x-ms-summary": "Description",
                        "x-ms-visibility": "important"
                      },
                      "displayName": {
                        "description": "Brief summary of the Team.",
                        "type": "string",
                        "x-ms-summary": "Name",
                        "x-ms-visibility": "important"
                      },
                      "id": {
                        "description": "Unique ID of the Team (O365 group).",
                        "type": "string",
                        "x-ms-summary": "Id",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      }
    },
    "/beta/me/teamwork": {
      "get": {
        "summary": "API to test connections",
        "description": "This operation is a quick way to test connections.",
        "operationId": "GetTeamwork",
        "x-ms-visibility": "internal",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        },
        "deprecated": false
      }
    },
    "/beta/groups/{groupId}/channels": {
      "get": {
        "summary": "List channels",
        "description": "This operation retrieves a list of all the channels for a specific Team.",
        "operationId": "GetChannelsForGroup",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "value": {
                  "description": "List of one or more channels for a specific Team.",
                  "type": "array",
                  "x-ms-summary": "Channel List",
                  "items": {
                    "type": "object",
                    "x-ms-summary": "Channel",
                    "description": "Properties associated with a single channel.",
                    "properties": {
                      "description": {
                        "description": "More information about the channel.",
                        "type": "string",
                        "x-ms-summary": "Description",
                        "x-ms-visibility": "important"
                      },
                      "displayName": {
                        "description": "Brief summary of the channel.",
                        "type": "string",
                        "x-ms-summary": "Name",
                        "x-ms-visibility": "important"
                      },
                      "id": {
                        "description": "Unique ID of the channel.",
                        "type": "string",
                        "x-ms-summary": "Id",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      },
      "post": {
        "summary": "Create a channel",
        "description": "This operation is used to create a new channel for a specific Team.",
        "x-ms-visibility": "advanced",
        "operationId": "CreateChannel",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "displayName"
              ],
              "type": "object",
              "properties": {
                "description": {
                  "description": "More information about the channel.",
                  "type": "string",
                  "x-ms-summary": "Description",
                  "x-ms-visibility": "advanced"
                },
                "displayName": {
                  "description": "Name of the channel.",
                  "type": "string",
                  "x-ms-summary": "Display Name",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "description": "More information about the channel.",
                  "type": "string",
                  "x-ms-summary": "Description",
                  "x-ms-visibility": "important"
                },
                "displayName": {
                  "description": "Name of the channel.",
                  "type": "string",
                  "x-ms-summary": "Display Name",
                  "x-ms-visibility": "important"
                },
                "id": {
                  "description": "Unique ID of the channel.",
                  "type": "string",
                  "x-ms-summary": "Id",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true
      }
    },
    "/flowbot/actions/listchats/chattypes/{chatType}/topic/{topic}/expandmembers/false": {
      "get": {
        "summary": "List chats",
        "description": "This operation retrieves a list of recent chats.",
        "operationId": "GetChats",
        "parameters": [
          {
            "$ref": "#/parameters/chatType__in_path"
          },
          {
            "$ref": "#/parameters/topic__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "value": {
                  "description": "List of one or more chats you are a part of.",
                  "type": "array",
                  "x-ms-summary": "Chats List",
                  "items": {
                    "type": "object",
                    "x-ms-summary": "Chat",
                    "description": "Chat Entity",
                    "properties": {
                      "topic": {
                        "description": "The name of the chat.",
                        "type": "string",
                        "x-ms-summary": "Topic",
                        "x-ms-visibility": "important"
                      },
                      "createdDateTime": {
                        "description": "The date and time that the chat was created.",
                        "type": "string",
                        "x-ms-summary": "Created Date Time",
                        "format": "date-time",
                        "x-ms-visibility": "important"
                      },
                      "lastUpdatedDateTime": {
                        "description": "The date and time that the chat was last updated.",
                        "type": "string",
                        "x-ms-summary": "Last Updated Date Time",
                        "format": "date-time",
                        "x-ms-visibility": "important"
                      },
                      "id": {
                        "description": "Unique conversation ID of chat.",
                        "type": "string",
                        "x-ms-summary": "Conversation Id",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/beta/teams/{groupId}/tags": {
      "get": {
        "summary": "List all tags for a team",
        "description": "This operation retrieves a list of tags.",
        "operationId": "GetTags",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Get tags response",
            "schema": {
              "$ref": "#/definitions/GetTagsResponseSchema"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        }
      },
      "post": {
        "summary": "Create a tag for a team",
        "description": "This operation creates a tag.",
        "operationId": "CreateTag",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "displayName",
                "members"
              ],
              "type": "object",
              "properties": {
                "displayName": {
                  "x-ms-summary": "Display Name",
                  "description": "The display name for the tag.",
                  "type": "string"
                },
                "members": {
                  "x-ms-summary": "User IDs",
                  "description": "List of users separated by semi-colons to add to the tag.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create a tag response",
            "schema": {
              "$ref": "#/definitions/CreateTagResponseSchema"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        }
      }
    },
    "/beta/teams/{groupId}/tags/{tagId}/members": {
      "post": {
        "summary": "Add a member to a tag",
        "description": "This operation adds a user to a tags.",
        "operationId": "AddMemberToTag",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "$ref": "#/parameters/tagId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "userId"
              ],
              "type": "object",
              "properties": {
                "userId": {
                  "x-ms-summary": "User ID",
                  "description": "The user ID of the member to add to the tag.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Add member to tag response",
            "schema": {
              "$ref": "#/definitions/AddMemberToTagResponseSchema"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        }
      },
      "get": {
        "summary": "List the members for a tag",
        "description": "This operation lists the members for a tag.",
        "operationId": "GetTagMembers",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "$ref": "#/parameters/tagId__in_path"
          }
        ],
        "responses": {
          "201": {
            "description": "Get tag members response",
            "schema": {
              "$ref": "#/definitions/GetTagMembersResponseSchema"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        }
      }
    },
    "/beta/teams/{groupId}/tags/{tagId}/members/{tagMemberId}": {
      "delete": {
        "summary": "Delete a member from a tag",
        "description": "This operation deletes a member from a tag.",
        "operationId": "DeleteTagMember",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "$ref": "#/parameters/tagId__in_path"
          },
          {
            "name": "tagMemberId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Tag Member ID",
            "description": "Add tag member Id",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Delete tag member succeeded"
          },
          "default": {
            "description": "Operation Failed."
          }
        }
      }
    },
    "/flowbot/feednotification/poster/{poster}/notificationType/{notificationType}": {
      "post": {
        "summary": "Post a feed notification",
        "description": "This operation posts a feed notification.",
        "operationId": "PostFeedNotification",
        "consumes": [ "application/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          {
            "$ref": "#/parameters/posterJustFlowbot__in_path"
          },
          {
            "$ref": "#/parameters/notificationType__in_path"
          },
          {
            "name": "body",
            "x-ms-summary": "Post feed notification request",
            "description": "The post feed notification request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamicPostFeedNotificationRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Empty Response."
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true
      }
    },
    "/beta/teams/{groupId}/tags/{tagId}": {
      "get": {
        "summary": "Get an @mention token for a tag",
        "description": "This operation creates a token that can be inserted into a message or adaptive card sent as a user inS a channel to @mention a tag.",
        "operationId": "AtMentionTag",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "$ref": "#/parameters/tagId__in_path"
          }
        ],
        "responses": {
          "201": {
            "description": "Get tags response",
            "schema": {
              "$ref": "#/definitions/AtMentionTagResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        }
      },
      "delete": {
        "summary": "Delete a tag",
        "description": "This operation deletes a tag.",
        "operationId": "DeleteTag",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "$ref": "#/parameters/tagId__in_path"
          }
        ],
        "responses": {
          "204": {
            "description": "Delete tag succeeded"
          },
          "default": {
            "description": "Operation Failed."
          }
        }
      }
    },
    "/beta/teams/{groupId}/channels/{channelId}/messages": {
      "post": {
        "summary": "Post a message (V2)",
        "description": "This operation is used to post a message to a channel in a specific Team.",
        "x-ms-visibility": "important",
        "operationId": "PostMessageToChannelV2",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "$ref": "#/parameters/channelId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "body"
              ],
              "type": "object",
              "properties": {
                "subject": {
                  "description": "Subject of the message.",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Subject"
                },
                "body": {
                  "description": "body",
                  "required": [
                    "content",
                    "contentType"
                  ],
                  "type": "object",
                  "properties": {
                    "content": {
                      "description": "Body of the message.",
                      "type": "string",
                      "x-ms-summary": "Message",
                      "x-ms-visibility": "important"
                    },
                    "contentType": {
                      "description": "Content type: html or text.",
                      "type": "string",
                      "x-ms-summary": "Type",
                      "x-ms-visibility": "advanced",
                      "default": "html",
                      "enum": [
                        "html",
                        "text"
                      ]
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Empty Response."
          }
        },
        "deprecated": true,
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "PostMessageToChannel",
          "revision": 2
        }
      },
      "get": {
        "summary": "Get messages",
        "description": "This operation is used to get messages from a channel in a specific Team.",
        "x-ms-visibility": "important",
        "operationId": "GetMessagesFromChannel",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "$ref": "#/parameters/channelId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetMessagesFromChannel_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        }
      }
    },
    "/beta/teams/messages/{messageId}/messageType/{threadType}": {
      "post": {
        "summary": "Get message details",
        "description": "This operation gets details of a message in a chat or a channel.",
        "x-ms-visibility": "important",
        "operationId": "GetMessageDetails",
        "consumes": [ "application/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          {
            "$ref": "#/parameters/messageId__in_path"
          },
          {
            "$ref": "#/parameters/threadType__in_path"
          },
          {
            "name": "body",
            "x-ms-summary": "Get message details request",
            "description": "The get message details request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamicGetMessageDetailsSchema"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Get message details response",
            "schema": {
              "$ref": "#/definitions/DynamicGetMessageDetailsResponseSchema"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true
      }
    },
    "/v1.0/teams/listmembers/threadType/{threadType}": {
      "post": {
        "summary": "List members",
        "description": "This operation list members based on a threadtype (chat, channel, etc).",
        "x-ms-visibility": "important",
        "operationId": "ListMembers",
        "consumes": [ "application/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          {
            "$ref": "#/parameters/listMembersThreadType__in_path"
          },
          {
            "name": "body",
            "x-ms-summary": "List members request",
            "description": "The list members request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamicListMembersSchema"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The list members response",
            "schema": {
              "$ref": "#/definitions/ListMembersResponseSchema"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true
      }
    },
    "/v3/beta/teams/{groupId}/channels/{channelId}/messages": {
      "post": {
        "summary": "Post a message (V3)",
        "description": "This operation is used to post a message to a channel in a specific Team.",
        "x-ms-visibility": "important",
        "operationId": "PostMessageToChannelV3",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "$ref": "#/parameters/channelId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "body"
              ],
              "type": "object",
              "properties": {
                "subject": {
                  "description": "Subject of the message.",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Subject"
                },
                "body": {
                  "description": "body",
                  "required": [
                    "content",
                    "contentType"
                  ],
                  "type": "object",
                  "properties": {
                    "content": {
                      "description": "Body of the message.",
                      "type": "string",
                      "format": "html",
                      "x-ms-summary": "Message",
                      "x-ms-visibility": "important"
                    },
                    "contentType": {
                      "description": "Content type: html or text.",
                      "type": "string",
                      "x-ms-summary": "Type",
                      "x-ms-visibility": "internal",
                      "default": "html",
                      "enum": [
                        "html",
                        "text"
                      ]
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Message Id",
            "schema": {
              "$ref": "#/definitions/MessageId"
            }
          }
        },
        "deprecated": true,
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "PostMessageToChannel",
          "revision": 3
        }
      }
    },
    "/beta/teams/{groupId}/channels/{channelId}/messages/{messageId}/replies": {
      "post": {
        "summary": "Post a reply to a message",
        "description": "This operation is used to post a reply to a message in a channel in a specific Team.",
        "x-ms-visibility": "important",
        "operationId": "PostReplyToMessage",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "$ref": "#/parameters/channelId__in_path"
          },
          {
            "$ref": "#/parameters/messageId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "body"
              ],
              "type": "object",
              "properties": {
                "subject": {
                  "description": "Subject of the message.",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Subject"
                },
                "body": {
                  "description": "body",
                  "required": [
                    "content",
                    "contentType"
                  ],
                  "type": "object",
                  "properties": {
                    "content": {
                      "description": "Body of the message.",
                      "type": "string",
                      "x-ms-summary": "Reply",
                      "x-ms-visibility": "important"
                    },
                    "contentType": {
                      "description": "Content type: html or text.",
                      "type": "string",
                      "x-ms-summary": "Type",
                      "x-ms-visibility": "advanced",
                      "default": "html",
                      "enum": [
                        "html",
                        "text"
                      ]
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Empty Response."
          }
        },
        "deprecated": true,
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "PostReplyToMessage",
          "revision": 1
        }
      }
    },
    "/v2/beta/teams/{groupId}/channels/{channelId}/messages/{messageId}/replies": {
      "post": {
        "summary": "Post a reply to a message (V2)",
        "description": "This operation is used to post a reply to a message in a channel in a specific Team.",
        "x-ms-visibility": "important",
        "operationId": "PostReplyToMessageV2",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "$ref": "#/parameters/channelId__in_path"
          },
          {
            "$ref": "#/parameters/messageId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "body"
              ],
              "type": "object",
              "properties": {
                "subject": {
                  "description": "Subject of the message.",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Subject"
                },
                "body": {
                  "description": "body",
                  "required": [
                    "content",
                    "contentType"
                  ],
                  "type": "object",
                  "properties": {
                    "content": {
                      "description": "Body of the message.",
                      "type": "string",
                      "format": "html",
                      "x-ms-summary": "Reply",
                      "x-ms-visibility": "important"
                    },
                    "contentType": {
                      "description": "Content type: html or text.",
                      "type": "string",
                      "x-ms-summary": "Type",
                      "x-ms-visibility": "internal",
                      "default": "html",
                      "enum": [
                        "html",
                        "text"
                      ]
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Empty Response."
          }
        },
        "deprecated": true,
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "PostReplyToMessage",
          "revision": 2
        }
      }
    },
    "/trigger/beta/teams/{groupId}/channels/{channelId}/messages": {
      "get": {
        "summary": "When a new channel message is added",
        "description": "This operation triggers when a new message is posted to a channel in a Team. Note that this trigger only fires when a root messages is added in the channel. Replies to an existing channel message will not result in the trigger event firing.",
        "x-ms-visibility": "important",
        "operationId": "OnNewChannelMessage",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "$ref": "#/parameters/channelId__in_path"
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "x-ms-test-value": "50",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32",
            "default": 50
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OnNewChannelMessage_Response"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a message to the channel.",
        "x-ms-dev-triggerType": "SimpleFilter",
        "x-ms-dev-triggerDateFormat": "iso",
        "x-ms-dev-triggerValueCollection": "value",
        "x-ms-dev-triggerValuePath": "createdDateTime"
      }
    },
    "/trigger/beta/teams/{groupId}/channels/{channelId}/messages_mentioningme": {
      "get": {
        "summary": "When I am mentioned in a channel message",
        "description": "This operation triggers when a new message is added to a channel in a Team, that mentions the current user.",
        "x-ms-visibility": "important",
        "operationId": "OnNewChannelMessageMentioningMe",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "$ref": "#/parameters/channelId__in_path"
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "x-ms-test-value": "50",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32",
            "default": 50
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OnNewChannelMessage_Response"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a message to the channel containing an @mention of yourself.",
        "x-ms-dev-triggerType": "SimpleFilter",
        "x-ms-dev-triggerDateFormat": "iso",
        "x-ms-dev-triggerValueCollection": "value",
        "x-ms-dev-triggerValuePath": "createdDateTime"
      }
    },
    "/beta/subscriptions/atmentiontrigger/threadType/{threadType}": {
      "post": {
        "description": "Creates a webhook for @mentions in chats or channels.",
        "summary": "When I'm @mentioned",
        "operationId": "WebhookAtMentionTrigger",
        "parameters": [
          {
            "$ref": "#/parameters/threadType__in_path"
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "This is the request body of the Webhook",
            "schema": {
              "$ref": "#/definitions/DynamicWebhookTriggerRequestSchema"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "default": {
            "description": "default response for a trigger subscription",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, get @mentioned in one of the specified chats or channels."
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/DynamicAtMentionWebhookTriggerResponseSchema"
        }
      }
    },
    "/beta/subscriptions/chatmessagetrigger": {
      "post": {
        "description": "This operation triggers when a new message is posted in any chat the user is a part of.",
        "summary": "When a new chat message is added",
        "operationId": "WebhookChatMessageTrigger",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ChatMessageSubscriptionRequest",
            "x-ms-summary": "Chat Message subscription request",
            "description": "The chat message subscription request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "notificationUrl": {
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Subscription Created"
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, send a message in any chat."
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/ChatMessageWebhookResponseSchema"
        }
      }
    },
    "/beta/subscriptions/keywordtrigger/threadType/{threadType}": {
      "post": {
        "description": "Creates a webhook for keyword mentions in chats or channels.",
        "summary": "When keywords are mentioned",
        "operationId": "WebhookKeywordTrigger",
        "parameters": [
          {
            "$ref": "#/parameters/threadType__in_path"
          },
          {
            "name": "$search",
            "in": "query",
            "required": true,
            "x-ms-summary": "Keywords to search for",
            "description": "A comma separated list of keywords to search for",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "This is the request body of the Webhook",
            "schema": {
              "$ref": "#/definitions/DynamicWebhookTriggerRequestSchema"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "default": {
            "description": "default response for a trigger subscription",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, use the keywords in one of the specified chats or channels."
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/DynamicKeywordWebhookTriggerResponseSchema"
        }
      }
    },
    "/beta/subscriptions/{subscriptionIds}": {
      "delete": {
        "summary": "Delete WebHook Subscription",
        "x-ms-summary": "Delete WebHook Subscription",
        "description": "Delete WebHook Subscription",
        "operationId": "DeleteWebHookSubscription",
        "parameters": [
          {
            "name": "subscriptionIds",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true
      },
      "patch": {
        "summary": "Update subscription",
        "x-ms-summary": "Renew WebHook Subscription",
        "description": "Renew a Microsoft Graph webhook subscription by updating its expiration time.",
        "operationId": "RenewWebHookSubscription",
        "parameters": [
          {
            "name": "subscriptionIds",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "expirationDateTime": {
                  "type": "string",
                  "description": "Specify the date and time, in UTC format, of when the Microsoft Graph webhook subscription expires. The maximum expiration time for security alerts is 43200 minutes (under 30 days).",
                  "title": "Expiration date time",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true
      }
    },
    "/beta/groups/{groupId}/channels/{channelId}/chatThreads": {
      "post": {
        "summary": "Post a message",
        "description": "This operation is used to post a message to a channel in a specific Team.",
        "x-ms-visibility": "important",
        "operationId": "PostMessageToChannel",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "$ref": "#/parameters/channelId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "rootMessage"
              ],
              "type": "object",
              "properties": {
                "rootMessage": {
                  "description": "rootMessage",
                  "required": [
                    "body"
                  ],
                  "type": "object",
                  "properties": {
                    "body": {
                      "description": "body",
                      "required": [
                        "content",
                        "contentType"
                      ],
                      "type": "object",
                      "properties": {
                        "content": {
                          "description": "Body of the message.",
                          "type": "string",
                          "format": "html",
                          "x-ms-summary": "Message",
                          "x-ms-visibility": "important"
                        },
                        "contentType": {
                          "format": "int32",
                          "description": "0 for text or 1 for html.",
                          "type": "integer",
                          "x-ms-summary": "Type",
                          "x-ms-visibility": "internal",
                          "default": 1
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Empty Response."
          }
        },
        "deprecated": true,
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "PostMessageToChannel",
          "revision": 1
        }
      }
    },
    "/flowbot/actions/notification/recipienttypes/user": {
      "post": {
        "operationId": "PostUserNotification",
        "summary": "Post a message as the Flow bot to a user",
        "description": "Easily automate the process of sending a message to someone in Teams.",
        "parameters": [
          {
            "name": "PostNotificationRequest",
            "x-ms-summary": "Post notification request",
            "description": "The post notification request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamicUserNotificationRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Subscription Created"
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        },
        "deprecated": true
      }
    },
    "/flowbot/actions/notification/recipienttypes/channel": {
      "post": {
        "operationId": "PostChannelNotification",
        "summary": "Post a message as the Flow bot to a channel",
        "description": "Easily automate the process of posting a message to a Teams channel.",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_query"
          },
          {
            "name": "PostNotificationRequest",
            "x-ms-summary": "Post notification request",
            "description": "The post notification request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamicChannelNotificationRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Subscription Created"
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        },
        "deprecated": true
      }
    },
    "/flowbot/actions/adaptivecard/recipienttypes/user": {
      "post": {
        "operationId": "PostUserAdaptiveCard",
        "summary": "Post your own adaptive card as the Flow bot to a user",
        "description": "Add the JSON card definition to create a custom message for a Teams user. The message can contain images, graphs, text, and more.",
        "parameters": [
          {
            "name": "PostAdaptiveCardRequest",
            "x-ms-summary": "Post adaptive card request",
            "description": "The post adaptive card request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamicUserAdaptiveCardRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Adaptive Card Posted",
            "schema": {
              "$ref": "#/definitions/MessageId"
            }
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        },
        "deprecated": true
      }
    },
    "/flowbot/actions/adaptivecard/recipienttypes/channel": {
      "post": {
        "operationId": "PostChannelAdaptiveCard",
        "summary": "Post your own adaptive card as the Flow bot to a channel",
        "description": "Add the JSON card definition to create a custom post for a Teams channel. The post can contain images, graphs, text, and more.",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_query"
          },
          {
            "name": "PostAdaptiveCardRequest",
            "x-ms-summary": "Post adaptive card request",
            "description": "The post adaptive card request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamicChannelAdaptiveCardRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Adaptive Card Posted",
            "schema": {
              "$ref": "#/definitions/MessageId"
            }
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        },
        "deprecated": true
      }
    },
    "/flowbot/actions/{actionType}/posters/{poster}/recipienttypes/{recipientType}/schema": {
      "get": {
        "operationId": "GetUnifiedActionSchema",
        "summary": "Get unified action input metadata",
        "description": "Get the schema information for unified actions",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/actionType__in_path"
          },
          {
            "$ref": "#/parameters/poster__in_path"
          },
          {
            "$ref": "#/parameters/recipientType__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UnifiedActionSchema"
            }
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      }
    },
    "/flowbot/actions/{actionType}/posters/{poster}/recipienttypes/{recipientType}/response/schema": {
      "get": {
        "operationId": "GetPostToConversationResponseSchema",
        "summary": "Get response schema",
        "description": "Get the schema information for unified action responses",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/actionType__in_path"
          },
          {
            "$ref": "#/parameters/poster__in_path"
          },
          {
            "$ref": "#/parameters/recipientType__in_path"
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DynamicResponseSchema"
            }
          }
        }
      }
    },
    "/flowbot/actions/adaptivecard/recipienttypes/{recipientType}/$metadata.json/inputs": {
      "get": {
        "operationId": "GetAdaptiveCardInputMetadata",
        "summary": "Get adaptive card input metadata",
        "description": "Get the schema information for adaptive card inputs",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/recipientType__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConnectorMetadata"
            }
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      }
    },
    "/flowbot/actions/notification/recipienttypes/{recipientType}/$metadata.json/inputs": {
      "get": {
        "operationId": "GetNotificationInputMetadata",
        "summary": "Get notification input metadata",
        "description": "Get the schema information for notification inputs",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/recipientType__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConnectorMetadata"
            }
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      }
    },
    "/flowbot/actions/messagewithoptions/recipienttypes/user/$subscriptions": {
      "post": {
        "operationId": "SubscribeUserMessageWithOptions",
        "summary": "Post a choice of options as the Flow bot to a user",
        "description": "Easily automate the process of sending a message to a Teams user that contains a set of options they must choose from before they respond.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "UserMessageWithOptionsSubscriptionRequest",
            "x-ms-summary": "User message with options subscription request",
            "description": "The user message with options subscription request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamicUserMessageWithOptionsSubscriptionRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Subscription Created"
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the response with which a message with options subscription is completed and flows waiting on that subscription are resumed.",
        "schema": {
          "$ref": "#/definitions/DynamicUserMessageWithOptionsSubscriptionResult"
        }
      }
    },
    "/flowbot/actions/flowcontinuation/recipienttypes/user/$subscriptions": {
      "post": {
        "operationId": "SubscribeUserFlowContinuation",
        "summary": "Post an Adaptive Card to a Teams user and wait for a response",
        "description": "Easily automate the process of sending a message to a Teams user that contains actions to continue a waiting flow.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "UserFlowContinuationSubscriptionRequest",
            "x-ms-summary": "User flow continuation subscription request",
            "description": "The user flow continuation subscription request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "notificationUrl": {
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "type": "string"
                },
                "body": {
                  "type": "object",
                  "properties": {
                    "updateMessage": {
                      "description": "Message to be included in an update to the original card following response",
                      "x-ms-summary": "Update message",
                      "type": "string"
                    },
                    "shouldUpdateCard": {
                      "description": "Whether or not to update the card following response",
                      "x-ms-summary": "Should update card",
                      "type": "boolean"
                    },
                    "recipient": {
                      "x-ms-visibility": "important",
                      "type": "object",
                      "properties": {
                        "to": {
                          "description": "Add an email address",
                          "x-ms-visibility": "important",
                          "x-ms-summary": "Recipient",
                          "x-ms-dynamic-values": {
                            "builtInOperation": "AadGraph.GetUsers",
                            "value-path": "mail",
                            "value-title": "displayName"
                          },
                          "type": "string"
                        },
                        "summary": {
                          "description": "The message summary",
                          "x-ms-visibility": "advanced",
                          "x-ms-summary": "Summary",
                          "type": "string"
                        },
                        "isAlert": {
                          "description": "If the message will be shown in the activity feed",
                          "x-ms-visibility": "advanced",
                          "x-ms-summary": "IsAlert",
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "to"
                      ]
                    },
                    "messageBody": {
                      "x-ms-summary": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "recipient",
                    "messageBody"
                  ]
                }
              },
              "required": [
                "notificationUrl",
                "body"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Subscription Created"
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        },
        "deprecated": true
      },
      "x-ms-notification-content": {
        "description": "Details for the response with which a flow continuation subscription is completed and flows waiting on that subscription are resumed.",
        "schema": {
          "$ref": "#/definitions/DynamicUserFlowContinuationSubscriptionResult"
        }
      }
    },
    "/flowbot/actions/flowcontinuation/recipienttypes/channel/$subscriptions": {
      "post": {
        "operationId": "SubscribeChannelFlowContinuation",
        "summary": "Post an Adaptive Card to a Teams channel and wait for a response",
        "description": "Easily automate the process of sending a message to a Teams channel that contains actions to continue a waiting flow.",
        "parameters": [
          {
            "$ref": "#/parameters/groupId__in_query"
          },
          {
            "name": "ChannelFlowContinuationSubscriptionRequest",
            "x-ms-summary": "Channel flow continuation subscription request",
            "description": "The channel flow continuation subscription request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "notificationUrl": {
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "type": "string"
                },
                "body": {
                  "type": "object",
                  "properties": {
                    "updateMessage": {
                      "description": "Message to be included in an update to the original card following response",
                      "x-ms-summary": "Update message",
                      "type": "string"
                    },
                    "shouldUpdateCard": {
                      "description": "Whether or not to update the card following response",
                      "x-ms-summary": "Should update card",
                      "type": "boolean"
                    },
                    "recipient": {
                      "x-ms-visibility": "important",
                      "type": "object",
                      "properties": {
                        "groupId": {
                          "x-ms-visibility": "internal",
                          "type": "string"
                        },
                        "channelId": {
                          "description": "Add channel ID",
                          "x-ms-visibility": "important",
                          "x-ms-summary": "Channel",
                          "x-ms-dynamic-values": {
                            "value-path": "id",
                            "value-title": "displayName",
                            "operationId": "GetChannelsForGroup",
                            "value-collection": "value",
                            "parameters": {
                              "groupId": {
                                "parameter": "groupId"
                              }
                            }
                          },
                          "type": "string"
                        }
                      },
                      "required": [
                        "channelId"
                      ]
                    },
                    "messageBody": {
                      "x-ms-summary": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "recipient",
                    "messageBody"
                  ]
                }
              },
              "required": [
                "notificationUrl",
                "body"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Subscription Created"
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        },
        "deprecated": true
      },
      "x-ms-notification-content": {
        "description": "Details for the response with which a flow continuation subscription is completed and flows waiting on that subscription are resumed.",
        "schema": {
          "$ref": "#/definitions/DynamicChannelFlowContinuationSubscriptionResult"
        }
      }
    },
    "/flowbot/actions/messagewithoptions/recipienttypes/{recipientType}/$subscriptions/{subscriptionId}": {
      "delete": {
        "operationId": "UnsubscribeMessageWithOptions",
        "summary": "Unsubscribe from a choice of options",
        "description": "Unsubscribes from a message with options",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/recipientType__in_path"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "ID of subscription to be deleted",
            "required": true,
            "x-ms-summary": "ID of subscription to be deleted",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription Deleted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      }
    },
    "/flowbot/actions/flowcontinuation/recipienttypes/{recipientType}/$subscriptions/{subscriptionId}": {
      "delete": {
        "operationId": "UnsubscribeFlowContinuation",
        "summary": "Unsubscribe from a flow continuation",
        "description": "Unsubscribes from a flow continuation",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/recipientType__in_path"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "ID of subscription to be deleted",
            "required": true,
            "x-ms-summary": "ID of subscription to be deleted",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription Deleted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      }
    },
    "/flowbot/actions/messagewithoptions/recipienttypes/{recipientType}/$metadata.json/inputs": {
      "get": {
        "operationId": "GetMessageWithOptionsInputMetadata",
        "summary": "Get message with options input metadata",
        "description": "Get the schema information for the message with options inputs",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/recipientType__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConnectorMetadata"
            }
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      }
    },
    "/flowbot/actions/flowcontinuation/recipienttypes/{recipientType}/$metadata.json/inputs": {
      "get": {
        "operationId": "GetFlowContinuationInputMetadata",
        "summary": "Get flow continuation input metadata",
        "description": "Get the schema information for the flow continuation inputs",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/recipientType__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConnectorMetadata"
            }
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      }
    },
    "/flowbot/actions/messagewithoptions/recipienttypes/{recipientType}/$metadata.json/subscriptioninputs": {
      "get": {
        "operationId": "GetMessageWithOptionsSubscriptionInputMetadata",
        "summary": "Get message with options subscription input metadata",
        "description": "Get the schema information for the message with options subscription inputs",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/recipientType__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConnectorMetadata"
            }
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      }
    },
    "/flowbot/actions/flowcontinuation/recipienttypes/{recipientType}/$metadata.json/subscriptioninputs": {
      "get": {
        "operationId": "GetFlowContinuationSubscriptionInputMetadata",
        "summary": "Get flow continuation subscription input metadata",
        "description": "Get the schema information for the flow continuation subscription inputs",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/recipientType__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConnectorMetadata"
            }
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      }
    },
    "/flowbot/actions/messagewithoptions/recipienttypes/{recipientType}/$metadata.json/subscriptionoutputs": {
      "get": {
        "operationId": "GetMessageWithOptionsSubscriptionOutputMetadata",
        "summary": "Get message with options subscription output metadata",
        "description": "Get the schema information for the message with options subscription outputs.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/recipientType__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConnectorMetadata"
            }
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      }
    },
    "/flowbot/actions/flowcontinuation/recipienttypes/{recipientType}/$metadata.json/subscriptionoutputs": {
      "post": {
        "operationId": "GetFlowContinuationSubscriptionOutputMetadata",
        "summary": "Get flow continuation subscription output metadata",
        "description": "Get the schema information for the flow continuation subscription outputs.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/recipientType__in_path"
          },
          {
            "name": "body",
            "x-ms-summary": "Channel flow continuation subscription request message body",
            "description": "The channel flow continuation subscription request message body",
            "in": "body",
            "required": true,
            "schema": {
              "x-ms-summary": "Message",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConnectorMetadata"
            }
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      }
    },
    "/flowbot/actions/flowcontinuation/posters/{poster}/recipienttypes/{recipientType}/$metadata.json/subscriptionoutputs": {
      "post": {
        "operationId": "GetFlowContinuationSubscriptionWithPosterOutputMetadata",
        "summary": "Get flow continuation subscription output metadata",
        "description": "Get the schema information for the flow continuation subscription outputs.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/posterWithoutUser__in_path"
          },
          {
            "$ref": "#/parameters/recipientType__in_path"
          },
          {
            "name": "body",
            "x-ms-summary": "Channel flow continuation subscription request message body",
            "description": "The channel flow continuation subscription request message body",
            "in": "body",
            "required": true,
            "schema": {
              "x-ms-summary": "Message",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConnectorMetadata"
            }
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      }
    },
    "/flowbot/triggers/selectedmessage/$metadata.json/selectedmessageoutputs": {
      "post": {
        "operationId": "GetSelectedMessageTriggerOutputsMetadata",
        "summary": "Get selected message hybrid trigger output metadata",
        "description": "Get the schema information for the selected message hybrid trigger outputs.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "body",
            "x-ms-summary": "Adaptive card request message body",
            "description": "The body for parsing the metadata of the trigger",
            "in": "body",
            "required": true,
            "schema": {
              "x-ms-summary": "InputsAdaptiveCard",
              "type": "string",
              "default": "{}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SelectedMessageTriggerMetadata"
            }
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      }
    },
    "/flowbot/triggers/composemessage/$metadata.json/composemessageoutputs": {
      "post": {
        "operationId": "GetComposeMessageTriggerOutputsMetadata",
        "summary": "Get compose message hybrid trigger output metadata",
        "description": "Get the schema information for the compose message hybrid trigger outputs.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "body",
            "x-ms-summary": "Adaptive card request message body",
            "description": "The body for parsing the metadata of the trigger",
            "in": "body",
            "required": true,
            "schema": {
              "x-ms-summary": "InputsAdaptiveCard",
              "type": "string",
              "default": "{}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ComposeMessageTriggerMetadata"
            }
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      }
    },
    "/flowbot/triggers/cardresponse/$metadata.json/cardresponseoutputs": {
      "post": {
        "operationId": "GetCardResponseTriggerOutputsMetadata",
        "summary": "Get compose message hybrid trigger output metadata",
        "description": "Get the schema information for the compose message hybrid trigger outputs.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "body",
            "x-ms-summary": "Adaptive card request message body",
            "description": "The body for parsing the metadata of the trigger",
            "in": "body",
            "required": true,
            "schema": {
              "x-ms-summary": "InputsAdaptiveCard",
              "type": "string",
              "default": "{}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CardResponseTriggerMetadata"
            }
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      }
    },
    "/beta/teams/{teamId}": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get a team",
        "x-ms-summary": "Get team",
        "description": "This operation returns details for a team using the team's unique ID.",
        "operationId": "GetTeam",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/teamId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetTeamResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.0/users/{userId}": {
      "get": {
        "summary": "Get an @mention token for a user",
        "description": "This operation creates a token that can be inserted into a message or adaptive card to @mention a user.",
        "operationId": "AtMentionUser",
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify a user principal or user ID to @mention",
            "x-ms-summary": "User"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/AtMentionUser_V1"
            }
          }
        }
      }
    },
    "/beta/teams/{teamId}/schedule/timeOffReasons": {
      "get": {
        "tags": [
          "TimeOffReasons"
        ],
        "summary": "Shifts: List all Time Off reasons",
        "x-ms-summary": "List Time Off Reasons",
        "description": "This operation returns the list of time off reasons associated with a team.",
        "operationId": "ListTimeOffReasons",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of Time Off reasons to retrieve",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetTimeOffReasonsResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "replacement": {
            "api": "Shifts",
            "operationId": "ListTimeOffReasons"
          }
        }
      }
    },
    "/beta/teams/{teamId}/schedule/shifts": {
      "get": {
        "tags": [
          "Shifts"
        ],
        "summary": "Shifts: List all shifts",
        "x-ms-summary": "List all team shifts",
        "description": "This operation returns all shifts assigned to members of a team",
        "operationId": "ListShifts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "startTime",
            "in": "query",
            "x-ms-summary": "From Start Time",
            "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string",
            "format": "date-time",
            "x-ms-test-value": "2017-07-23T07:00:00Z"
          },
          {
            "name": "endTime",
            "in": "query",
            "x-ms-summary": "To End Time",
            "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string",
            "format": "date-time",
            "x-ms-test-value": "2017-07-30T07:00:00Z"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of shifts to retrieve",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "value": {
                  "description": "List of shifts in the schedule",
                  "type": "array",
                  "x-ms-summary": "Shifts List",
                  "items": {
                    "$ref": "#/definitions/ShiftResponse"
                  }
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "replacement": {
            "api": "Shifts",
            "operationId": "ListShifts"
          }
        }
      }
    },
    "/beta/teams/{teamId}/schedule/shifts/{shiftId}": {
      "get": {
        "tags": [
          "Shifts"
        ],
        "summary": "Shifts: Get a shift",
        "x-ms-summary": "Get Shift by ID",
        "description": "This operation returns details for a shift using the shift's unique ID.",
        "operationId": "GetShift",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "shiftId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Shift ID",
            "description": "The unique ID of the shift.",
            "x-ms-test-value": "SHFT_d45edcfe-7888-410c-8a7b-3dbf9e2e6d5b"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ShiftResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "replacement": {
            "api": "Shifts",
            "operationId": "GetShift"
          }
        }
      },
      "delete": {
        "tags": [
          "Shifts"
        ],
        "summary": "Shifts: Delete a shift",
        "x-ms-summary": "Delete Shift by ID",
        "description": "This operation deletes a shift using the shift's unique ID.",
        "operationId": "DeleteShift",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "shiftId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Shift ID",
            "description": "The unique ID of the shift.",
            "x-ms-test-value": "SHFT_d45edcfe-7888-410c-8a7b-3dbf9e2e6d5b"
          }
        ],
        "responses": {
          "200": {
            "description": "Shift Deleted"
          },
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "replacement": {
            "api": "Shifts",
            "operationId": "DeleteShift"
          }
        }
      }
    },
    "/beta/teams/{teamId}/schedule/openShifts": {
      "get": {
        "tags": [
          "Shifts"
        ],
        "summary": "Shifts: List all Open Shifts",
        "x-ms-summary": "List all team open shifts",
        "description": "This operation returns all open shifts in a team",
        "operationId": "ListOpenShifts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "startTime",
            "in": "query",
            "x-ms-summary": "From Start Time",
            "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string",
            "format": "date-time",
            "x-ms-test-value": "2017-07-23T07:00:00Z"
          },
          {
            "name": "endTime",
            "in": "query",
            "x-ms-summary": "To End Time",
            "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string",
            "format": "date-time",
            "x-ms-test-value": "2017-07-30T07:00:00Z"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of open shifts to retrieve",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "value": {
                  "description": "List of open shifts in the schedule",
                  "type": "array",
                  "x-ms-summary": "Open Shifts List",
                  "items": {
                    "$ref": "#/definitions/OpenShiftResponse"
                  }
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "replacement": {
            "api": "Shifts",
            "operationId": "ListOpenShifts"
          }
        }
      },
      "post": {
        "tags": [
          "Shifts"
        ],
        "operationId": "CreateOpenShift",
        "summary": "Shifts: Create a new Open Shift",
        "x-ms-summary": "Create a new open shift",
        "description": "Create a new open shift in a schedule",
        "parameters": [
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "request",
            "x-ms-summary": "Create Open Shift request",
            "description": "The request to create an open shift",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EditOpenShiftRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "replacement": {
            "api": "Shifts",
            "operationId": "CreateOpenShift"
          }
        }
      }
    },
    "/beta/teams/{teamId}/schedule/openShifts/{openShiftId}": {
      "get": {
        "tags": [
          "Shifts"
        ],
        "summary": "Shifts: Get an open shift",
        "x-ms-summary": "Get Open Shift by ID",
        "description": "This operation returns details for an open shift.",
        "operationId": "GetOpenShift",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "openShiftId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Open Shift ID",
            "description": "The unique ID of the open shift.",
            "x-ms-test-value": "OPNSHFT_577b75d2-a927-48c0-a5d1-dc984894e7b8"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "replacement": {
            "api": "Shifts",
            "operationId": "GetOpenShift"
          }
        }
      },
      "put": {
        "tags": [
          "Shifts"
        ],
        "operationId": "UpdateOpenShift",
        "summary": "Shifts: Update an Open Shift",
        "x-ms-summary": "Update an open shift",
        "description": "Update an open shift in a schedule.",
        "parameters": [
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "openShiftId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Open Shift ID",
            "description": "The unique ID of the open shift.",
            "x-ms-test-value": "OPNSHFT_577b75d2-a927-48c0-a5d1-dc984894e7b8"
          },
          {
            "name": "request",
            "x-ms-summary": "Update Open Shift request",
            "description": "The request to update an open shift",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EditOpenShiftRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "replacement": {
            "api": "Shifts",
            "operationId": "UpdateOpenShift"
          }
        }
      },
      "delete": {
        "tags": [
          "Shifts"
        ],
        "summary": "Shifts: Delete an open shift",
        "x-ms-summary": "Delete Open Shift by ID",
        "description": "This operation deletes an open shift.",
        "operationId": "DeleteOpenShift",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "openShiftId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Open Shift ID",
            "description": "The unique ID of the open shift.",
            "x-ms-test-value": "OPNSHFT_577b75d2-a927-48c0-a5d1-dc984894e7b8"
          }
        ],
        "responses": {
          "200": {
            "description": "Open Shift Deleted"
          },
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "replacement": {
            "api": "Shifts",
            "operationId": "DeleteOpenShift"
          }
        }
      }
    },
    "/beta/teams/{teamId}/schedule/schedulinggroups": {
      "get": {
        "tags": [
          "Shifts"
        ],
        "summary": "Shifts: List all scheduling groups",
        "x-ms-summary": "List all scheduling groups",
        "description": "This operation returns all scheduling groups in a schedule",
        "operationId": "ListSchedulingGroups",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "value": {
                  "description": "List of schedule groups in the schedule",
                  "type": "array",
                  "x-ms-summary": "Scheduling Groups List",
                  "items": {
                    "$ref": "#/definitions/SchedulingGroupResponse"
                  }
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "replacement": {
            "api": "Shifts",
            "operationId": "ListSchedulingGroups"
          }
        }
      }
    },
    "/beta/teams/{teamId}/schedule/schedulinggroups/{schedulingGroupId}": {
      "get": {
        "tags": [
          "Shifts"
        ],
        "summary": "Shifts: Get a scheduling group",
        "x-ms-summary": "Get Scheduling Group by ID",
        "description": "This operation returns details for a scheduling group using its unique ID.",
        "operationId": "GetSchedulingGroup",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "schedulingGroupId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scheduling Group ID",
            "description": "The unique ID of the Scheduling Group.",
            "x-ms-test-value": "TAG_f914d037-00a3-4ba4-b712-ef178cbea263"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SchedulingGroupResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "replacement": {
            "api": "Shifts",
            "operationId": "GetSchedulingGroup"
          }
        }
      }
    },
    "/beta/teams/{teamId}/schedule/timeOffRequests": {
      "get": {
        "tags": [
          "Shifts"
        ],
        "summary": "Shifts: List all Time Off requests",
        "x-ms-summary": "Time Off Requests List",
        "description": "This operation returns all time off requests in a schedule",
        "operationId": "ListTimeOffRequests",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of requests to retrieve",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Request state filter",
            "required": false,
            "x-ms-summary": "Request State",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "declined"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "Pending",
                "value": "pending"
              },
              {
                "displayName": "Approved",
                "value": "approved"
              },
              {
                "displayName": "Declined",
                "value": "declined"
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "value": {
                  "description": "List of Time Off requests in the schedule",
                  "type": "array",
                  "x-ms-summary": "TimeOff Requests List",
                  "items": {
                    "$ref": "#/definitions/TimeOffRequestResponse"
                  }
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "replacement": {
            "api": "Shifts",
            "operationId": "ListTimeOffRequests"
          }
        }
      }
    },
    "/beta/teams/{teamId}/schedule/timeOffRequests/{timeOffRequestId}/approve": {
      "post": {
        "tags": [
          "Shifts"
        ],
        "summary": "Shifts: Approve a Time Off request",
        "x-ms-summary": "Approve a time off request",
        "description": "This operation allows managers to approve a time off request.",
        "operationId": "TimeOffRequestApprove",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "timeOffRequestId",
            "in": "path",
            "x-ms-summary": "Time Off Request ID",
            "description": "The unique ID of the time off request",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "description": "Manager approves a time off request.",
              "type": "object",
              "properties": {
                "message": {
                  "x-ms-summary": "Message From Manager",
                  "description": "A message from the manager to the sender/recipient when a request is accepted.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "x-ms-no-generic-test": true,
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "replacement": {
            "api": "Shifts",
            "operationId": "TimeOffRequestApprove"
          }
        }
      }
    },
    "/beta/teams/{teamId}/schedule/timeOffRequests/{timeOffRequestId}/decline": {
      "post": {
        "tags": [
          "Shifts"
        ],
        "summary": "Shifts: Decline a Time Off request",
        "x-ms-summary": "Decline a time off request",
        "description": "This operation allows managers to decline a time off request.",
        "operationId": "TimeOffRequestDecline",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "timeOffRequestId",
            "in": "path",
            "x-ms-summary": "Time Off Request ID",
            "description": "The unique ID of the time off request",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "description": "Manager declines a time off request.",
[...]
